Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

Add option to not replace default span processor
  packages/phoenix-otel/README.md
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

add option to show function arguments
  src/phoenix/trace/dsl/helpers.py
  tests/unit/trace/dsl/conftest.py
  tests/unit/trace/dsl/test_helpers.py
Owners: @arize-ai/oss-python

Improve argument name
  packages/phoenix-otel/README.md
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

rename
  app/src/components/dataset/DatasetSelect.tsx
  app/src/components/dataset/__generated__/DatasetSelectQuery.graphql.ts
  app/src/components/dataset/index.tsx
  app/src/pages/playground/Playground.tsx
  app/src/pages/playground/PlaygroundDatasetSelect.tsx
  app/src/pages/trace/SpanToDatasetExampleDialog.tsx
Owners: @arize-ai/oss-javascript

Ruff 🐶
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

feat: Add option to not replace default span processor (#7736)
  packages/phoenix-otel/README.md
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

cleanup
  app/src/contexts/NotificationContext.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/SpanToDatasetExampleDialog.tsx
Owners: @arize-ai/oss-javascript

Add testids
  app/src/components/dialog/Dialog.tsx
Owners: @arize-ai/oss-javascript

Add todo
  app/src/components/overlay/Modal.tsx
Owners: @arize-ai/oss-javascript

feat: Port modal / slideover to react-aria-components (#7662)
  app/src/GlobalStyles.tsx
  app/src/components/annotation/AnnotationInputExplanation.tsx
  app/src/components/annotation/CategoricalAnnotationInput.tsx
  app/src/components/annotation/ContinuousAnnotationInput.tsx
  app/src/components/annotation/types.ts
  app/src/components/dataset/DatasetPicker.tsx
  app/src/components/dataset/DatasetSelect.tsx
  app/src/components/dataset/NewDatasetButton.tsx
  app/src/components/dataset/__generated__/DatasetSelectQuery.graphql.ts
  app/src/components/dataset/index.tsx
  app/src/components/dialog/Dialog.tsx
  app/src/components/dialog/index.tsx
  app/src/components/index.tsx
  app/src/components/overlay/Modal.tsx
  app/src/components/overlay/Popover.tsx
  app/src/components/trace/AnnotationActionMenu.tsx
  app/src/components/trace/EditSpanAnnotationsDialog.tsx
  app/src/components/trace/SpanAnnotationActionMenu.tsx
  app/src/components/trace/SpanAnnotationInput.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/contexts/NotificationContext.tsx
  app/src/pages/playground/Playground.tsx
  app/src/pages/playground/PlaygroundCredentialsDropdown.tsx
  app/src/pages/playground/PlaygroundDatasetSelect.tsx
  app/src/pages/playground/PlaygroundRunTraceDialog.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/project/SpanSelectionToolbar.tsx
  app/src/pages/trace/SpanActionMenu.tsx
  app/src/pages/trace/SpanAside.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/SpanFeedback.tsx
  app/src/pages/trace/SpanToDatasetExampleDialog.tsx
  app/src/pages/trace/TracePage.tsx
  app/stories/Dialog.stories.tsx
  app/stories/Modal.stories.tsx
Owners: @arize-ai/oss-javascript

feat: Replace "my annotations" with Annotation Summaries
  app/src/components/annotation/AnnotationSummaryPopover.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/components/trace/__generated__/SpanAnnotationsEditorCreateAnnotationMutation.graphql.ts
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  app/src/components/trace/__generated__/SpanAnnotationsEditorEditAnnotationMutation.graphql.ts
  app/src/pages/trace/SpanAside.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/__generated__/SpanAsideAnnotationList_span.graphql.ts
  app/src/pages/trace/__generated__/SpanAside_span.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
Owners: @arize-ai/oss-javascript

Remove redundant param
  app/src/pages/trace/SpanDetails.tsx
Owners: @arize-ai/oss-javascript

add docstring
  src/phoenix/trace/dsl/helpers.py
Owners: @arize-ai/oss-python

Expand summary panel when hotkey is pressed
  app/src/pages/trace/SpanAside.tsx
Owners: @arize-ai/oss-javascript

Wrap annotation summaries and truncate annotation input labels
  app/src/components/annotation/AnnotationInputLabel.tsx
  app/src/pages/trace/SpanAside.tsx
Owners: @arize-ai/oss-javascript

chore: add github link with stars
  app/src/components/nav/GitHubStarCount.tsx
  app/src/components/nav/Navbar.tsx
  app/src/pages/Layout.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/components/nav/GitHubStarCount.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/pages/Layout.tsx
Owners: @arize-ai/oss-javascript

feat: Replace "my annotations" with Annotation Summaries (#7663)
  app/src/components/annotation/AnnotationInputLabel.tsx
  app/src/components/annotation/AnnotationSummaryPopover.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/components/trace/__generated__/SpanAnnotationsEditorCreateAnnotationMutation.graphql.ts
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  app/src/components/trace/__generated__/SpanAnnotationsEditorEditAnnotationMutation.graphql.ts
  app/src/pages/trace/SpanAside.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/__generated__/SpanAsideAnnotationList_span.graphql.ts
  app/src/pages/trace/__generated__/SpanAside_span.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 10.1.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.20.7
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.10.0
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

cleanup
  app/src/components/nav/Navbar.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/components/nav/Navbar.tsx
Owners: @arize-ai/oss-javascript

chore: add github link with stars (#7738)
  app/src/components/nav/GitHubStarCount.tsx
  app/src/components/nav/Navbar.tsx
  app/src/pages/Layout.tsx
Owners: @arize-ai/oss-javascript

return version id after creating datasets
  schemas/openapi.json
  src/phoenix/db/insertion/dataset.py
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.10.0 (#7737)
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.20.7 (#7555)
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

chore: bump dependancies (#7709)
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-mcp/src/index.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 10.1.0 (#7684)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

GITBOOK-15: Fixing Pydantic Docs
  docs/section-integrations/frameworks/pydantic/pydantic-tracing.md
Owners: none

GITBOOK-16: No subject
  docs/section-integrations/frameworks/pydantic/pydantic-tracing.md
Owners: none

fix/docker-workflow-permissions
  .github/workflows/docker-build-release.yml
Owners: none

docs: Hide old tracing integrations page and update links (GITBOOK-1255)
  docs/tracing/how-to-tracing/README.md
  docs/tracing/how-to-tracing/setup-tracing/setup-using-phoenix-otel.md
  docs/tracing/integrations-tracing/README.md
  docs/tracing/llm-traces-1/README.md
  docs/tracing/llm-traces-1/quickstart-tracing-python.md
  docs/tracing/llm-traces-1/quickstart-tracing-ts.md
Owners: none

docs: Hiding concept pages after move to learn section (GITBOOK-1256)
  docs/datasets-and-experiments/concepts-datasets.md
  docs/evaluation/concepts-evals/README.md
  docs/inferences/inferences.md
  docs/inferences/use-cases-inferences/README.md
  docs/prompt-engineering/concepts-prompts.md
  docs/retrieval/concepts-retrieval/README.md
  docs/tracing/concepts-tracing/README.md
Owners: none

GITBOOK-10: Fix typo
  docs/section-learn/SUMMARY.md
  docs/section-learn/retrieval-and-inferences/benchmarking-retrieval.md
  docs/section-learn/retrieval-and-inferences/retrieval-with-embeddings.md
Owners: none

GITBOOK-11: No subject
  docs/section-learn/SUMMARY.md
  docs/section-learn/inferences-concepts.md
  docs/section-learn/retrieval-and-infrences/benchmarking-retrieval.md
  docs/section-learn/retrieval-and-infrences/retrieval-with-embeddings.md
Owners: none

Fix broken tests
  tests/unit/server/api/routers/v1/test_datasets.py
Owners: none

fix/docker-workflow-permissions (#7752)
  .github/workflows/docker-build-release.yml
Owners: none

GITBOOK-18: Portkey fixes
  docs/section-integrations/frameworks/portkey/portkey-tracing.md
Owners: none

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
