Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

minor bump
  js/.changeset/clean-rings-change.md
Owners: @arize-ai/oss-javascript

minor bump (#8412)
  js/.changeset/clean-rings-change.md
Owners: @arize-ai/oss-javascript

clean up
  src/phoenix/config.py
  src/phoenix/server/daemons/db_disk_usage_monitor.py
  src/phoenix/server/email/sender.py
  src/phoenix/server/email/types.py
  tests/integration/server/test_db_disk_usage_monitor.py
Owners: @arize-ai/oss-python

change grpc exception details
  src/phoenix/server/app.py
  src/phoenix/server/daemons/db_disk_usage_monitor.py
Owners: @arize-ai/oss-python

Use executors for concurrency
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Vendor rate limiting logic into the client
  packages/phoenix-client/src/phoenix/client/exceptions/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/executors.py
  packages/phoenix-client/src/phoenix/client/utils/rate_limiters.py
Owners: @arize-ai/oss-python

Cleanup pass
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Vendor concurrency/executor implementations into client
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/concurrency.py
Owners: @arize-ai/oss-python

Small refactor
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Add tests
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/tests/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

Refactor types
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

Remove example shim
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

Make better use of autogenerated types
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

Compatibility pass for client datasets
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/tests/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Spike out experiments
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Add IT type annotation
  tests/integration/client/test_experiments.py
Owners: none

Finish cleaning up client type checker issues
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

Fix broken import
  packages/phoenix-evals/src/phoenix/evals/models/rate_limiters.py
Owners: @arize-ai/oss-python

Make otel dependencies optional
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

Update ignores
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Ruff 🐶
  tests/integration/client/test_experiments.py
Owners: none

Fix typo
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

First pass at resolving type checker issues
  packages/phoenix-client/src/phoenix/client/exceptions/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
  packages/phoenix-client/src/phoenix/client/utils/executors.py
  packages/phoenix-client/src/phoenix/client/utils/rate_limiters.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Remove base phoenix dependencies
  packages/phoenix-client/pyproject.toml
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/executors.py
Owners: @arize-ai/oss-python

Broaden ignores
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
Owners: none

Improve client docstrings
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Add ignores to SIGUSR1
  packages/phoenix-client/tests/utils/test_executors.py
Owners: @arize-ai/oss-python

Add executor and rate limiter tests
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/tests/utils/test_executors.py
  packages/phoenix-client/tests/utils/test_rate_limiters.py
  requirements/packages/phoenix-client.txt
Owners: @arize-ai/oss-python

Undo optional opentelemetry dependencies
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

Resolve type checker issues
  tests/integration/client/test_experiments.py
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
Owners: none

Clean up client CI
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Update evaluator binding
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

Add unused-ignore
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Add parameter binding test for tasks
  tests/integration/client/test_experiments.py
Owners: none

change gRPC StatusCode to RESOURCE_EXHAUSTED
  src/phoenix/server/app.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Update to postgres 16 in kustomize manifest
  kustomize/base/postgres.yaml
Owners: none

Pin to 16.7.8
  kustomize/base/postgres.yaml
Owners: none
