Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

chore(main): release arize-phoenix-evals 0.21.1 (#8388)
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

ci: exempt templates from ruff
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

clean up
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

feat/add-cursor-mcp-button
  README.md
Owners: none

feat: Use **kwargs to accept any GenerativeModel args
  packages/phoenix-evals/src/phoenix/evals/models/vertex.py
Owners: @arize-ai/oss-python

update to html
  README.md
Owners: none

remove height value
  README.md
Owners: none

decrease height
  README.md
Owners: none

decrease more
  README.md
Owners: none

Update packages/phoenix-evals/src/phoenix/evals/models/vertex.py
  packages/phoenix-evals/src/phoenix/evals/models/vertex.py
Owners: @arize-ai/oss-python

fix line length
  packages/phoenix-evals/src/phoenix/evals/models/vertex.py
Owners: @arize-ai/oss-python

Update README.md
  README.md
Owners: none

update to deeplink
  README.md
Owners: none

feat: allow additional keyword arguments for vertex GenerativeModel instantiation (#8387)
  packages/phoenix-evals/src/phoenix/evals/models/vertex.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.22.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.22.0 (#8391)
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

fix invalid json
  README.md
Owners: none

add button to mcp folder as well
  js/packages/phoenix-mcp/README.md
Owners: @arize-ai/oss-javascript

move button down
  js/packages/phoenix-mcp/README.md
Owners: @arize-ai/oss-javascript

fix prettier
  js/packages/phoenix-mcp/README.md
Owners: @arize-ai/oss-javascript

feat: add-cursor-mcp-button (#8390)
  README.md
  js/packages/phoenix-mcp/README.md
Owners: @arize-ai/oss-javascript

ci: exempt templates from ruff (#8389)
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

GITBOOK-24: No subject
  docs/section-learn/SUMMARY.md
  docs/section-learn/evaluation/evaluating-multi-agent-systems.md
Owners: none

GITBOOK-25: No subject
  docs/section-learn/evaluation/evaluating-multi-agent-systems.md
Owners: none

Finalizing notebooks given prompt merge from default templates
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_calling_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

GITBOOK-27: moving multi-agent evals
  docs/section-learn/SUMMARY.md
  docs/section-learn/evaluating-multi-agent-systems.md
Owners: none

fix: Do not throw away playground stream when protocol error occurs
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

fix: Support ISO8601 strings during experiment eval upsert
  src/phoenix/server/api/routers/v1/experiment_evaluations.py
Owners: @arize-ai/oss-python

refactor management url
  app/schema.graphql
  app/src/components/nav/Navbar.tsx
  app/src/contexts/ViewerContext.tsx
  app/src/contexts/__generated__/ViewerContextRefetchQuery.graphql.ts
  app/src/contexts/__generated__/ViewerContext_viewer.graphql.ts
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
  app/src/window.d.ts
  src/phoenix/server/api/types/User.py
  src/phoenix/server/app.py
  src/phoenix/server/main.py
  src/phoenix/server/templates/index.html
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Add types for dateutils
  pyproject.toml
  requirements/type-check.txt
Owners: none

feat: Add link back to customizable Management URL (#8371)
  app/schema.graphql
  app/src/components/icon/Icons.tsx
  app/src/components/nav/Navbar.tsx
  app/src/contexts/ViewerContext.tsx
  app/src/contexts/__generated__/ViewerContextRefetchQuery.graphql.ts
  app/src/contexts/__generated__/ViewerContext_viewer.graphql.ts
  app/src/pages/Layout.tsx
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
  app/src/window.d.ts
  src/phoenix/config.py
  src/phoenix/server/api/types/User.py
  src/phoenix/server/app.py
  src/phoenix/server/main.py
  src/phoenix/server/templates/index.html
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore(main): release arize-phoenix 11.3.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

feat: add phoenix-support tool to mcp
  js/packages/phoenix-mcp/README.md
  js/packages/phoenix-mcp/src/constants.ts
  js/packages/phoenix-mcp/src/index.ts
  js/packages/phoenix-mcp/src/supportTools.ts
Owners: @arize-ai/oss-javascript

Update js/packages/phoenix-mcp/src/supportTools.ts
  js/packages/phoenix-mcp/src/supportTools.ts
Owners: @arize-ai/oss-javascript

Update js/packages/phoenix-mcp/src/supportTools.ts
  js/packages/phoenix-mcp/src/supportTools.ts
Owners: @arize-ai/oss-javascript

prettier
  js/packages/phoenix-mcp/src/supportTools.ts
Owners: @arize-ai/oss-javascript

Update js/packages/phoenix-mcp/src/supportTools.ts
  js/packages/phoenix-mcp/src/supportTools.ts
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 11.3.0 (#8386)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

resolve comments
  js/packages/phoenix-mcp/src/constants.ts
  js/packages/phoenix-mcp/src/supportTools.ts
Owners: @arize-ai/oss-javascript

chore: update phoenix version to 11.3.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
