Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

Update openapi schema and codegen types for client
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Simplify payloads and update schema
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/exceptions/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/exceptions/__init__.py
  src/phoenix/server/api/routers/v1/spans.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

feat: filter session by session_id
  app/schema.graphql
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

clean up
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

fix relay
  app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
Owners: @arize-ai/oss-javascript

chore: Upgrade playwright and its runners (#8014)
  .github/workflows/playwright.yaml
  app/package.json
  app/playwright.config.ts
  app/pnpm-lock.yaml
  app/src/components/media/Video.tsx
  app/tests/prompt-management.spec.ts
  app/tests/utils/testServer.mjs
  pyproject.toml
Owners: @arize-ai/oss-javascript

update components
  app/src/components/ConfirmNavigation.tsx
  app/src/components/auth/CreateAPIKeyDialog.tsx
  app/src/components/auth/DeleteAPIKeyButton.tsx
  app/src/components/experiment/ExperimentActionMenu.tsx
  app/src/pages/profile/ViewerAPIKeys.tsx
  app/src/pages/settings/APIKeysCard.tsx
Owners: @arize-ai/oss-javascript

Resolve type checker issues in client
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Update integration tests
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  src/phoenix/server/api/routers/v1/spans.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

create_spans -> log_spans
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

Add log_spans_dataframe
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

Add integration test for dataframe round trip
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

Resolve type annotation issues w/ integration tests
  tests/integration/client/test_spans.py
Owners: none

Ruff 🐶
  tests/integration/client/test_spans.py
Owners: none

do not test JSON ordering
  tests/integration/client/test_spans.py
Owners: none

Remove needless comments
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

clean up
  tests/unit/server/api/types/test_Project.py
Owners: none

clean up
  app/src/pages/project/SessionSearchContext.tsx
  app/src/pages/project/SessionSearchField.tsx
  app/src/pages/project/SessionsTable.tsx
Owners: @arize-ai/oss-javascript

feat: tool calling
  app/src/components/generative/ToolChoiceSelector.tsx
  packages/phoenix-client/src/phoenix/client/types/prompts.py
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Ruff 🐶
  tests/integration/client/test_spans.py
Owners: none

ci: add retries in span fixture setup
  tests/integration/client/conftest.py
Owners: none

ci: add retries in span fixture setup (#8056)
  tests/integration/client/conftest.py
Owners: none

chore(main): release arize-phoenix 10.11.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

feat: publish major and minor version tags to docker
  .github/workflows/docker-build-release.yml
Owners: none

chore(main): release arize-phoenix 10.11.0 (#8013)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.11.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

feat(helm): service configurability and fixes
  helm/README.md
  helm/templates/NOTES.txt
  helm/templates/phoenix/configmap.yaml
  helm/templates/phoenix/deployment.yaml
  helm/templates/phoenix/service.yaml
  helm/values.yaml
Owners: none

fix: revert the badge changes
  helm/README.md
Owners: none

fix(diamond): allowPrivilegeEscalation template fix
  helm/templates/phoenix/deployment.yaml
Owners: none

fix(diamond): fixes NOTES.txt templating
  helm/templates/NOTES.txt
Owners: none

ci: publish major and minor version tags to docker (#8059)
  .github/workflows/docker-build-release.yml
Owners: none

fix(helm): secrets leak and readme description
  .gitignore
  helm/README.md
  helm/templates/phoenix/configmap.yaml
  helm/templates/phoenix/secret.yaml
  helm/values.yaml
Owners: none

fix(diamond): default TLS key file to blank
  helm/templates/phoenix/configmap.yaml
Owners: none

feat(helm): add optional service accounts
  helm/templates/phoenix/deployment.yaml
  helm/templates/phoenix/serviceaccount.yaml
Owners: none

feat(helm): add resources
  helm/README.md
  helm/templates/phoenix/deployment.yaml
  helm/values.yaml
Owners: none

feat: add missing serviceAccount default values
  helm/values.yaml
Owners: none

feat(cost): track prompt and completion cost
  app/schema.graphql
  app/src/pages/models/CloneModelButton.tsx
  app/src/pages/models/DeleteModelButton.tsx
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/stories/ModelForm.stories.tsx
  pyproject.toml
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

update
  app/src/pages/dataset/AddDatasetExampleButton.tsx
  app/src/pages/dataset/AddDatasetExampleDialog.tsx
  app/src/pages/dataset/DatasetHistoryButton.tsx
  app/src/pages/dataset/DatasetHistoryDialog.tsx
  app/src/pages/dataset/RunExperimentButton.tsx
Owners: @arize-ai/oss-javascript
