Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

clean up
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

fix: only delete childless models
  src/phoenix/db/facilitator.py
Owners: @arize-ai/oss-python

Make better use of autogenerated types
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

Vendor rate limiting logic into the client
  packages/phoenix-client/src/phoenix/client/exceptions/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/executors.py
  packages/phoenix-client/src/phoenix/client/utils/rate_limiters.py
Owners: @arize-ai/oss-python

chore: add attribution to docs
  docs/section-cookbooks/datasets-and-experiments/text2sql.md
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore: add attribution to docs (#8318)
  docs/section-cookbooks/datasets-and-experiments/text2sql.md
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

update relay file
  app/src/Routes.tsx
  app/src/pages/redirects/__generated__/spanRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/spanRedirectLoader.ts
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix routes.tsx format
  app/src/Routes.tsx
Owners: @arize-ai/oss-javascript

chore: clean nb
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore: clean nb (#8321)
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

update err redirect
  app/src/Routes.tsx
  app/src/pages/redirects/spanRedirectLoader.ts
Owners: @arize-ai/oss-javascript

remove print and as string
  app/src/pages/redirects/spanRedirectLoader.ts
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

add trace redirect
  app/schema.graphql
  app/src/Routes.tsx
  app/src/pages/redirects/__generated__/traceRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/traceRedirectLoader.ts
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update src/phoenix/server/api/queries.py
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

use wildcard to be consistent
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

fix(cost): add models for gemini 2.5 (#8316)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.1.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.1.1 (#8322)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

sessino redirect
  app/schema.graphql
  app/src/Routes.tsx
  app/src/pages/redirects/__generated__/sessionRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/sessionRedirectLoader.ts
  app/src/pages/redirects/traceRedirectLoader.ts
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore: update phoenix version to 11.1.1 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

rename to get
  app/schema.graphql
  app/src/pages/redirects/__generated__/sessionRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/__generated__/spanRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/__generated__/traceRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/sessionRedirectLoader.ts
  app/src/pages/redirects/spanRedirectLoader.ts
  app/src/pages/redirects/traceRedirectLoader.ts
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update app/src/pages/redirects/spanRedirectLoader.ts
  app/src/pages/redirects/spanRedirectLoader.ts
Owners: @arize-ai/oss-javascript

add selectNodeSpanId"
  app/src/pages/redirects/__generated__/spanRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/spanRedirectLoader.ts
Owners: @arize-ai/oss-javascript

ruff
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

Updating notebook, adding a new prompt template for tool selection
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

docs: docs: add images to cost tracking docs (GITBOOK-1281)
  docs/tracing/how-to-tracing/cost-tracking/README.md
Owners: none

docs: docs: fix broken links (GITBOOK-1282)
  docs/README.md
  docs/tracing/llm-traces.md
Owners: none

GITBOOK-21: docs: update integration links
  docs/section-release-notes/03.19.2025-access-to-new-integrations-in-projects.md
Owners: none

docs: docs: fixing integrations links (GITBOOK-1285)
  docs/README.md
  docs/tracing/llm-traces.md
Owners: none

GITBOOK-22: updating broken integration links
  docs/section-release-notes/03.19.2025-access-to-new-integrations-in-projects.md
Owners: none

chore(main): release arize-phoenix-client 1.12.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

feat(cost): sort on traces table
  app/schema.graphql
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  src/phoenix/server/api/input_types/SpanSort.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

enable sorting on the spans table
  app/src/pages/project/SpansTable.tsx
Owners: @arize-ai/oss-javascript

fix
  src/phoenix/server/api/input_types/SpanSort.py
Owners: @arize-ai/oss-python

Update src/phoenix/server/api/queries.py
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

Update app/src/pages/redirects/traceRedirectLoader.ts
  app/src/pages/redirects/traceRedirectLoader.ts
Owners: @arize-ai/oss-javascript

Update app/src/pages/redirects/sessionRedirectLoader.ts
  app/src/pages/redirects/sessionRedirectLoader.ts
Owners: @arize-ai/oss-javascript

Update app/src/pages/redirects/spanRedirectLoader.ts
  app/src/pages/redirects/spanRedirectLoader.ts
Owners: @arize-ai/oss-javascript

Update app/src/pages/redirects/spanRedirectLoader.ts
  app/src/pages/redirects/spanRedirectLoader.ts
Owners: @arize-ai/oss-javascript

update from comments
  app/schema.graphql
  app/src/pages/redirects/__generated__/sessionRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/__generated__/spanRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/sessionRedirectLoader.ts
  app/src/pages/redirects/spanRedirectLoader.ts
  app/src/pages/redirects/traceRedirectLoader.ts
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
