Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

cost
  .github/workflows/cost-sync.yml
Owners: none

timestamp
  .github/workflows/cost-sync.yml
Owners: none

chore: update built-in model token prices (2025-07-01-14-27-28)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

simplify title
  .github/workflows/cost-sync.yml
Owners: none

chore(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

Removing changes to default templates
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

docs: Adding new tool selection template
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

fix test
  src/phoenix/db/facilitator.py
  tests/unit/db/test_facilitator.py
Owners: @arize-ai/oss-python

chore(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

cron
  .github/workflows/cost-sync.yml
Owners: none

fix: remove token counts from project summaries
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/pages/project/__generated__/ProjectPageHeaderQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageHeader_stats.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQuery.graphql.ts
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/projects/__generated__/ProjectsPageProjectMetricsQuery.graphql.ts
Owners: @arize-ai/oss-javascript

Fix project metrics spacing
  app/src/pages/projects/ProjectsPage.tsx
Owners: @arize-ai/oss-javascript

clean up
  app/src/pages/projects/ProjectsPage.tsx
Owners: @arize-ai/oss-javascript

docs: Removing duplicate pages (GITBOOK-1288)
  docs/SUMMARY.md
  docs/datasets-and-experiments/concepts-datasets.md
  docs/deployment.md
  docs/evaluation/concepts-evals/README.md
  docs/evaluation/concepts-evals/building-your-own-evals.md
  docs/evaluation/concepts-evals/evals-with-explanations.md
  docs/evaluation/concepts-evals/evaluation-types.md
  docs/evaluation/concepts-evals/evaluation.md
  docs/evaluation/concepts-evals/llm-as-a-judge.md
  docs/evaluation/llm-evals/README.md
  docs/evaluation/llm-evals/agent-evaluation.md
  docs/inferences/how-to-inferences/define-your-schema/README.md
  docs/inferences/how-to-inferences/manage-the-app.md
  docs/inferences/inferences.md
  docs/inferences/phoenix-inferences.md
  docs/inferences/use-cases-inferences/README.md
  docs/inferences/use-cases-inferences/embeddings-analysis.md
  docs/integrations/cleanlab.md
  docs/integrations/phoenix-mcp-server.md
  docs/integrations/ragas.md
  docs/prompt-engineering/concepts-prompts.md
  docs/prompt-engineering/how-to-prompts/create-a-prompt.md
  docs/prompt-engineering/how-to-prompts/using-a-prompt.md
  docs/prompt-engineering/how-to-prompts/using-the-playground.md
  docs/prompt-engineering/overview-prompts/prompt-playground.md
  docs/prompt-engineering/overview-prompts/prompts-in-code.md
  docs/retrieval/concepts-retrieval/README.md
  docs/retrieval/concepts-retrieval/benchmarking-retrieval-rag.md
  docs/retrieval/concepts-retrieval/retrieval-evals-on-document-chunks.md
  docs/retrieval/concepts-retrieval/troubleshooting-llm-retrieval-with-vector-stores.md
  docs/retrieval/overview-retrieval.md
  docs/tracing/how-to-tracing/feedback-and-annotations/llm-evaluations.md
Owners: none

fix: remove token counts from project summaries (#8357)
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/pages/project/__generated__/ProjectPageHeaderQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageHeader_stats.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQuery.graphql.ts
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/projects/__generated__/ProjectsPageProjectMetricsQuery.graphql.ts
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 11.2.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

docs: adding google genai evals (GITBOOK-32)
  docs/section-integrations/SUMMARY.md
  docs/section-integrations/llm-providers/google-gen-ai/README.md
  docs/section-integrations/llm-providers/google-gen-ai/google-gen-ai-evals.md
  docs/section-integrations/llm-providers/google-gen-ai/google-genai-tracing.md
Owners: none

docs: Pydantic update for Phoenix Cloud (GITBOOK-33)
  docs/section-integrations/pydantic/pydantic-tracing.md
Owners: none

docs: base OTEL updates for auth (GITBOOK-1289)
  docs/tracing/how-to-tracing/setup-tracing/custom-spans.md
Owners: none

docs: adding google gen ai evals to eval libraries (GITBOOK-34)
  docs/section-integrations/SUMMARY.md
Owners: none

docs: adding bedrock evals to eval libraries (GITBOOK-35)
  docs/section-integrations/SUMMARY.md
Owners: none

docs: add local auth instructions
  app/README.md
Owners: @arize-ai/oss-javascript

GITBOOK-23: adding pcitures
  docs/section-learn/evaluation/custom-task-evaluation.md
  docs/section-learn/retrieval-and-infrences/benchmarking-retrieval.md
  docs/section-learn/retrieval-evals-on-document-chunks.md
Owners: none

chore(main): release arize-phoenix 11.2.1 (#8366)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

feat: add management URL env var
  src/phoenix/config.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 11.2.1 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

update time
  .github/workflows/cost-sync.yml
Owners: none

update time
  .github/workflows/cost-sync.yml
Owners: none

feat: add management URL to graphQL user response
  app/schema.graphql
  src/phoenix/server/api/types/User.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

docs: add local auth instructions (#8367)
  app/README.md
Owners: @arize-ai/oss-javascript

fix: remove extra join in query for span cost summary
  src/phoenix/server/api/dataloaders/span_cost_summary_by_project.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/api/dataloaders/span_cost_summary_by_project.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/api/dataloaders/span_cost_summary_by_project.py
Owners: @arize-ai/oss-python

feat: Display management link in navbar when applicable
  app/src/components/nav/Navbar.tsx
  app/src/contexts/ViewerContext.tsx
  app/src/contexts/__generated__/ViewerContextRefetchQuery.graphql.ts
  app/src/contexts/__generated__/ViewerContext_viewer.graphql.ts
  app/src/pages/Layout.tsx
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
  src/phoenix/config.py
  src/phoenix/server/api/types/User.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

ci: unpin pytest dependencies
  requirements/ci.txt
Owners: none

automatically add new models
  scripts/sync_litellm_models.py
Owners: none

use typedict
  scripts/sync_litellm_models.py
Owners: none

pydantic
  scripts/sync_litellm_models.py
Owners: none

fix(experiments): Clear the selectedSpanNodeId when closing trace view
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

fix(experiments): Clear the selectedSpanNodeId when closing trace view (#8376)
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
