Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

Check spans against invalid_span_id
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  src/phoenix/experiments/tracing.py
Owners: @arize-ai/oss-python

wip
  app/.storybook/preview.tsx
Owners: @arize-ai/oss-javascript

feat: cli
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-cli/src/cli.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

prettier
  js/packages/phoenix-cli/src/cli.ts
Owners: @arize-ai/oss-javascript

update lock
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

cleanup
  app/src/GlobalStyles.tsx
  app/src/pages/project/TraceCountTimeSeries.tsx
  app/stories/Colors.stories.tsx
  app/stories/StackedTimeSeriesBarChart.stories.tsx
  app/stories/constants/colorConstants.ts
Owners: @arize-ai/oss-javascript

feat(metrics): timeseries bar chart (#8554)
  app/src/GlobalStyles.tsx
  app/src/components/chart/colors.tsx
  app/src/pages/project/ProjectMetricsPage.tsx
  app/src/pages/project/TraceCountTimeSeries.tsx
  app/stories/Colors.stories.tsx
  app/stories/StackedTimeSeriesBarChart.stories.tsx
  app/stories/chartColors.stories.tsx
  app/stories/constants/colorConstants.ts
Owners: @arize-ai/oss-javascript

add in node
  js/packages/phoenix-cli/package.json
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

cleanup
  js/.changeset/six-parts-float.md
  js/packages/phoenix-client/examples/dataset_get_by_name.ts
  js/packages/phoenix-evals/README.md
Owners: @arize-ai/oss-javascript

scrolling with dynamic columns
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

feat: enable otel
  js/package.json
  js/packages/phoenix-client/src/experiments/runExperiment.ts
  js/packages/phoenix-evals/benchmark/hallucination_benchmark.ts
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/llm/generateClassification.ts
  js/packages/phoenix-evals/src/telemetry/index.ts
  js/packages/phoenix-evals/src/types/index.ts
  js/packages/phoenix-evals/src/types/otel.ts
Owners: @arize-ai/oss-javascript

lock file
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

Remove redundant print
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

enable telemetry
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/src/experiments/instrumention.ts
  js/packages/phoenix-client/src/experiments/runExperiment.ts
  js/packages/phoenix-evals/package.json
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

Wire up rate limiting in evals
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Remove leading slash
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Remove otel semantic conventions
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

feat: Add experiments module to phoenix-client (#8375)
  packages/phoenix-client/pyproject.toml
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/exceptions/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/evaluators.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
  packages/phoenix-client/src/phoenix/client/utils/executors.py
  packages/phoenix-client/src/phoenix/client/utils/rate_limiters.py
  packages/phoenix-client/tests/client/resources/experiments/__init__.py
  packages/phoenix-client/tests/client/utils/test_executors.py
  packages/phoenix-client/tests/client/utils/test_rate_limiters.py
  requirements/packages/phoenix-client.txt
  src/phoenix/experiments/functions.py
  src/phoenix/experiments/tracing.py
  tests/integration/client/test_datasets.py
  tests/integration/client/test_experiments.py
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.7.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.13.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

bump vercel
  js/packages/phoenix-client/package.json
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

fix: restrict version of fastapi instrumentor for container builds
  pyproject.toml
Owners: none

clean up
  pyproject.toml
Owners: none

clean up
  pyproject.toml
Owners: none

clean up
  pyproject.toml
Owners: none

Updated the google-adk-tracing docs to align with openinference instrumenter and fixed typo.
  docs/section-integrations/llm-providers/google-gen-ai/google-adk-tracing.md
Owners: none

fix: restrict version of fastapi instrumentor for container builds (#8558)
  pyproject.toml
Owners: none

chore(main): release arize-phoenix 11.7.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

fix: prevent phoenix from crashing while using empty lists in filter
  src/phoenix/trace/dsl/filter.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.7.0 (#8552)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 11.7.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

wip
  scripts/generate_spans/generate_spans_for_time_series.py
  src/phoenix/db/helpers.py
  src/phoenix/server/api/input_types/TimeBinConfig.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/api/utils.py
  tests/unit/conftest.py
  tests/unit/db/test_helpers.py
  tests/unit/server/api/test_utils.py
  tests/unit/server/api/types/test_Project.py
Owners: @arize-ai/oss-python

clean up
  app/schema.graphql
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix cursor issue
  js/packages/phoenix-client/src/experiments/runExperiment.ts
Owners: @arize-ai/oss-javascript

row sizing kind of working
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

ci: add cursorbot to CLA exemptions
  .github/workflows/cla.yml
Owners: none

ci: add cursorbot to CLA exemptions (#8573)
  .github/workflows/cla.yml
Owners: none

fix: bump target to support async queue drain
  js/.changeset/mean-pears-pump.md
  js/tsconfig.base.json
Owners: @arize-ai/oss-javascript

add docstring
  src/phoenix/db/helpers.py
Owners: @arize-ai/oss-python
