Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

add new ProgressCircle component to replace the old one
  app/src/components/LoadingMask.tsx
  app/src/components/index.tsx
  app/src/components/loading/Loading.tsx
  app/src/components/progress-circle/ProgressCircle.tsx
  app/src/components/progress-circle/index.tsx
  app/src/components/progress-circle/styles.ts
  app/src/components/progress-circle/types.ts
  app/stories/Loading.stories.tsx
Owners: @arize-ai/oss-javascript

nit: soften animation timing
  app/src/components/progress-circle/styles.ts
Owners: @arize-ai/oss-javascript

feat(storybook): add all theme mode for split view
  app/.storybook/preview-body.html
  app/.storybook/preview.tsx
Owners: @arize-ai/oss-javascript

remove div
  app/.storybook/preview.tsx
Owners: @arize-ai/oss-javascript

fix: bump target to support async queue drain (#8574)
  js/.changeset/mean-pears-pump.md
  js/tsconfig.base.json
Owners: @arize-ai/oss-javascript

add ProgressCircle stories
  app/stories/ProgressCircle.stories.tsx
Owners: @arize-ai/oss-javascript

add lint rule to prevent old ProgressCircle usage
  app/.eslintrc.js
Owners: @arize-ai/oss-javascript

Remove comment
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

feat: Add serialization/deserialization methods to Dataset
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  tests/integration/client/test_datasets.py
Owners: @arize-ai/oss-python

docs: docs: updating Google ADK footnotes (GITBOOK-48)
  docs/section-integrations/llm-providers/google-gen-ai/google-adk-tracing.md
Owners: none

Fix integration test
  tests/integration/client/test_datasets.py
Owners: none

add aria-label prop
  app/src/components/progress-circle/ProgressCircle.tsx
  app/src/components/progress-circle/types.ts
Owners: @arize-ai/oss-javascript

feat(storybook): split mode (#8575)
  app/.storybook/preview-body.html
  app/.storybook/preview.tsx
Owners: @arize-ai/oss-javascript

Create immutable references during serialization
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  tests/integration/client/test_datasets.py
Owners: @arize-ai/oss-python

Use deepcopy for dataset rehydration
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

feat: Add serialization/deserialization methods to client Datasets (#8453)
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  tests/integration/client/test_datasets.py
Owners: @arize-ai/oss-python

fix: dual layout storybook stories should take up full space
  app/.storybook/preview.tsx
Owners: @arize-ai/oss-javascript

add: new charting colors
  app/stories/constants/colorConstants.ts
Owners: @arize-ai/oss-javascript

add: examples of stacked chart color usage (can delete)
  app/stories/Colors.stories.tsx
  app/stories/StackColorExamples.stories.tsx
Owners: @arize-ai/oss-javascript

add more tests
  src/phoenix/db/helpers.py
  tests/unit/db/test_helpers.py
Owners: @arize-ai/oss-python

add comment
  src/phoenix/db/helpers.py
Owners: @arize-ai/oss-python

add order by
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

feat: add TimeBinConfig for span and trace count time series (#8332)
  app/schema.graphql
  scripts/generate_spans/generate_spans_for_time_series.py
  src/phoenix/db/helpers.py
  src/phoenix/server/api/input_types/TimeBinConfig.py
  src/phoenix/server/api/types/Project.py
  tests/unit/conftest.py
  tests/unit/db/test_helpers.py
  tests/unit/server/api/types/test_Project.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

simplify data
  app/src/pages/dashboard/DashboardBarChart.tsx
Owners: @arize-ai/oss-javascript

fix more
  js/packages/phoenix-client/src/experiments/runExperiment.ts
  js/packages/phoenix-evals/src/types/otel.ts
Owners: @arize-ai/oss-javascript

wire through
  app/src/pages/dashboard/DashboardBarChart.tsx
  app/src/pages/dashboard/DashboardPage.tsx
  app/src/pages/dashboard/ProjectDashboardPage.tsx
  app/src/pages/dashboard/TraceCountDashboardBarChart.tsx
  app/src/pages/dashboard/__generated__/TraceCountDashboardBarChartQuery.graphql.ts
Owners: @arize-ai/oss-javascript

docs: docs: adding Dify integration (GITBOOK-50)
  docs/section-integrations/.gitbook/assets/dify_gitbook.png
  docs/section-integrations/SUMMARY.md
  docs/section-integrations/frameworks/dify/README.md
  docs/section-integrations/frameworks/dify/dify-tracing.md
  docs/section-integrations/prompt-flow/prompt-flow-tracing.md
Owners: none

docs: docs: making REST API more visible (GITBOOK-16)
  docs/section-sdk-api-reference/README.md
  docs/section-sdk-api-reference/SUMMARY.md
  docs/section-sdk-api-reference/rest-api/annotation-configs.md
  docs/section-sdk-api-reference/rest-api/overview.md
Owners: none

fill out timeseries with null values
  scripts/generate_spans/generate_spans_for_time_series.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/api/utils.py
Owners: @arize-ai/oss-python

docs: docs: hiding overview pages (GITBOOK-17)
  docs/section-sdk-api-reference/README (1).md
  docs/section-sdk-api-reference/README.md
  docs/section-sdk-api-reference/SUMMARY.md
  docs/section-sdk-api-reference/overview.md
  docs/section-sdk-api-reference/rest-api/annotation-configs.md
Owners: none

fix ci
  src/phoenix/server/api/utils.py
Owners: @arize-ai/oss-python

wire up timerange
  app/src/pages/dashboard/TraceCountDashboardBarChart.tsx
  app/src/pages/dashboard/__generated__/TraceCountDashboardBarChartQuery.graphql.ts
Owners: @arize-ai/oss-javascript

memoize
  app/src/pages/dashboard/TraceCountDashboardBarChart.tsx
Owners: @arize-ai/oss-javascript

feat(evals): add native telemetry for typescript evals (#8556)
  js/package.json
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/src/experiments/instrumention.ts
  js/packages/phoenix-client/src/experiments/runExperiment.ts
  js/packages/phoenix-evals/benchmark/hallucination_benchmark.ts
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/llm/generateClassification.ts
  js/packages/phoenix-evals/src/telemetry/index.ts
  js/packages/phoenix-evals/src/types/index.ts
  js/packages/phoenix-evals/src/types/otel.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

chore: add changeset
  js/.changeset/purple-pots-attend.md
Owners: @arize-ai/oss-javascript

chore: add changeset (#8580)
  js/.changeset/purple-pots-attend.md
Owners: @arize-ai/oss-javascript

conflict
  app/src/pages/dashboard/TraceCountDashboardBarChart.tsx
  app/src/pages/dashboard/__generated__/TraceCountDashboardBarChartQuery.graphql.ts
Owners: @arize-ai/oss-javascript

clean up
  app/src/pages/dashboard/TraceCountDashboardBarChart.tsx
Owners: @arize-ai/oss-javascript

clean up
  app/src/pages/dashboard/TraceCountDashboardBarChart.tsx
Owners: @arize-ai/oss-javascript

address PR comments
  app/src/components/index.tsx
  app/src/components/progressCircle/ProgressCircle.tsx
  app/src/components/progressCircle/index.tsx
  app/src/components/progressCircle/styles.ts
  app/src/components/progressCircle/types.ts
  app/stories/ProgressCircle.stories.tsx
Owners: @arize-ai/oss-javascript
