Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

Delete unused code
  app/src/pages/Layout.tsx
Owners: @arize-ai/oss-javascript

Update integration test logout
  tests/integration/_helpers.py
Owners: none

openapi schema update
  js/packages/phoenix-client/src/prompts/createPrompt.ts
  schemas/openapi.json
Owners: @arize-ai/oss-javascript

Build experimental image
  .github/workflows/docker-build-experimental.yml
Owners: none

Update docker-build-experimental.yml
  .github/workflows/docker-build-experimental.yml
Owners: none

bedrock tools
  js/packages/phoenix-client/src/__generated__/api/v1.ts
Owners: @arize-ai/oss-javascript

feat(experiments): experiment progress chart (#7978)
  app/src/hooks/useWordColor.ts
  app/src/pages/experiments/ExperimentsChart.tsx
  app/src/pages/experiments/ExperimentsLineChart.tsx
  app/src/pages/experiments/ExperimentsPage.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/experiments/__generated__/ExperimentsLineChartQuery.graphql.ts
  app/src/pages/experiments/__generated__/experimentsLoaderQuery.graphql.ts
  app/src/pages/experiments/experimentsLoader.tsx
  app/src/utils/colorUtils.ts
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 10.9.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

add model id
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-python

fix integration tests
  tests/integration/_helpers.py
  tests/integration/auth/test_auth.py
Owners: none

feat/dataset-filter
  app/schema.graphql
  app/src/pages/datasets/DatasetsPage.tsx
  app/src/pages/datasets/DatasetsSearch.tsx
  app/src/pages/datasets/DatasetsTable.tsx
  app/src/pages/datasets/__generated__/DatasetsPageQuery.graphql.ts
  app/src/pages/datasets/__generated__/DatasetsTableDatasetsQuery.graphql.ts
  app/src/pages/datasets/__generated__/DatasetsTable_datasets.graphql.ts
  src/phoenix/server/api/input_types/DatasetFilter.py
  src/phoenix/server/api/queries.py
  tests/__generated__/graphql/__init__.py
  tests/unit/server/api/types/test_Dataset.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix test
  tests/unit/server/cost_tracking/test_cost_lookup.py
Owners: none

chore(main): release arize-phoenix 10.9.0 (#7976)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

Update docker-build-experimental.yml
  .github/workflows/docker-build-experimental.yml
Owners: none

refactor(auth): Perform logout over GET instead of POST (#7980)
  app/src/pages/Layout.tsx
  src/phoenix/server/api/routers/auth.py
  tests/integration/_helpers.py
  tests/integration/auth/test_auth.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(auth): logout
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore(main): release arize-phoenix-client 1.11.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.21.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.11.0
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.9.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

docs: fix js readme
  app/README.md
Owners: @arize-ai/oss-javascript

docs: fix js readme (#7987)
  app/README.md
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 10.9.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.9.1 (#7988)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.9.1 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

token costs
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/model_total_costs.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

add index
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

feat(cost): model attribution and cost aggregation
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/model_total_costs.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  tests/unit/server/cost_tracking/test_cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

add js documentation
  js/README.MD
  js/packages/phoenix-client/DEVELOPMENT.md
Owners: @arize-ai/oss-javascript

add js documentation (#7992)
  js/README.MD
  js/packages/phoenix-client/DEVELOPMENT.md
Owners: @arize-ai/oss-javascript

chore: refactor dataset code to a slideover
  app/src/pages/dataset/DatasetCodeButton.tsx
  app/src/pages/dataset/DatasetCodeDropdown.tsx
  app/src/pages/dataset/DatasetHistoryButton.tsx
  app/src/pages/dataset/DatasetPage.tsx
  app/src/pages/experiments/ExperimentsLineChart.tsx
Owners: @arize-ai/oss-javascript

chore: refactor dataset code to a slideover (#7993)
  app/src/pages/dataset/DatasetCodeButton.tsx
  app/src/pages/dataset/DatasetCodeDropdown.tsx
  app/src/pages/dataset/DatasetHistoryButton.tsx
  app/src/pages/dataset/DatasetPage.tsx
  app/src/pages/experiments/ExperimentsLineChart.tsx
Owners: @arize-ai/oss-javascript

feat(cost): implementation and wire up crud operations for models
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/__init__.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

docs: No subject (GITBOOK-1260)
  docs/tracing/how-to-tracing/setup-tracing/custom-spans.md
Owners: none

Fix deprecated/removed smolagents classes
  docs/tracing/integrations-tracing/hfsmolagents.md
Owners: none

fix: Prevent extra mutations when editing Span annotations
  app/src/components/trace/AnnotationFormProvider.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
Owners: @arize-ai/oss-javascript

Refactor uniqueness utility into helpers, add integration tests
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  src/phoenix/server/api/routers/v1/spans.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

fix: Prevent extra mutations when editing Span annotations (#8001)
  app/src/components/trace/AnnotationFormProvider.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 10.9.2
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.9.2 (#8002)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python
