Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

added fix for label detection in non-function calling evals
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/templates/test_template.py
Owners: @arize-ai/oss-python

ruff
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/templates/test_template.py
Owners: @arize-ai/oss-python

adding phoenix_access_log environment variable that toggles Uvicorn's access logging
  src/phoenix/config.py
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python

clean style
  src/phoenix/config.py
Owners: @arize-ai/oss-python

use the credentials field
  app/src/components/field/CredentialField.tsx
  app/src/components/field/CredentialInput.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/playground/PlaygroundCredentialsDropdown.tsx
Owners: @arize-ai/oss-javascript

add it back to the tab order
  app/src/components/field/CredentialInput.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/pages/models/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

Address PR feedback
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  src/phoenix/server/api/routers/v1/spans.py
  tests/integration/client/test_spans.py
  tests/unit/server/api/routers/v1/test_spans.py
Owners: @arize-ai/oss-python

Updated openapi schema
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
Owners: @arize-ai/oss-javascript

feat(ui): credentials field (#7889)
  app/src/components/field/CredentialContext.tsx
  app/src/components/field/CredentialField.tsx
  app/src/components/field/CredentialInput.tsx
  app/src/components/field/index.tsx
  app/src/components/icon/Icons.tsx
  app/src/pages/playground/PlaygroundCredentialsDropdown.tsx
  app/stories/CredentialField.stories.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/pages/models/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat: split OTEL documentation into separate Read the Docs site
  api_reference/source/api/otel.rst
  api_reference/source/index.md
  packages/phoenix-otel/.readthedocs.yaml
  packages/phoenix-otel/docs/Makefile
  packages/phoenix-otel/docs/README.md
  packages/phoenix-otel/docs/requirements.txt
  packages/phoenix-otel/docs/source/_static/custom.css
  packages/phoenix-otel/docs/source/_static/logo.png
  packages/phoenix-otel/docs/source/_static/switcher.json
  packages/phoenix-otel/docs/source/_templates/custom_sidebar.html
  packages/phoenix-otel/docs/source/api/otel.rst
  packages/phoenix-otel/docs/source/conf.py
  packages/phoenix-otel/docs/source/index.md
Owners: @arize-ai/oss-python

ci: enable ci on feature branches
  .github/workflows/python-CI.yml
  .github/workflows/typescript-CI.yml
  .github/workflows/typescript-packages-CI.yml
Owners: none

ci: enable ci on feature branches (#7893)
  .github/workflows/python-CI.yml
  .github/workflows/typescript-CI.yml
  .github/workflows/typescript-packages-CI.yml
Owners: none

Generate annotations by projects in setup_annotations
  export/importers/setup_annotations.py
Owners: none

feat(playground): add support for multiple credential kv pairs
  app/src/@types/generative.d.ts
  app/src/constants/__tests__/generativeConstants.test.ts
  app/src/constants/generativeConstants.ts
  app/src/pages/playground/PlaygroundCredentialsDropdown.tsx
  app/src/store/credentialsStore.tsx
  app/src/utils/generativeUtils.ts
Owners: @arize-ai/oss-javascript

Update timestamps in import_annotations
  export/importers/import_annotations.py
Owners: none

simplify to only handle test_llm_classify_with_response_containing_both_rails
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/functions/test_classify.py
  packages/phoenix-evals/tests/phoenix/evals/templates/test_template.py
Owners: @arize-ai/oss-python

accidnetally removed test_llm_classify_with_async
  packages/phoenix-evals/tests/phoenix/evals/functions/test_classify.py
Owners: @arize-ai/oss-python

Remove unnecessary JSON content-type handler
  export/exporters/export_annotations.py
Owners: none

move test to original location
  packages/phoenix-evals/tests/phoenix/evals/functions/test_classify.py
Owners: @arize-ai/oss-python

Create Export Utils File and Refactored Exporters
  export/exporters/export_annotations.py
  export/exporters/export_datasets.py
  export/exporters/export_prompts.py
  export/exporters/export_traces.py
  export/exporters/utils.py
Owners: none

add more tests
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/functions/test_classify.py
Owners: @arize-ai/oss-python

Create export_evaluations, remove eval export logic from other files
  export/export_all_projects.py
  export/exporters/export_annotations.py
  export/exporters/export_evaluations.py
  export/exporters/export_traces.py
Owners: none

Add Evals importation logic
  export/import_to_arize.py
  export/importers/import_evaluations.py
Owners: none

ruff
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/functions/test_classify.py
Owners: @arize-ai/oss-python

ruff
  packages/phoenix-evals/tests/phoenix/evals/functions/test_classify.py
Owners: @arize-ai/oss-python

ruff
  packages/phoenix-evals/tests/phoenix/evals/functions/test_classify.py
Owners: @arize-ai/oss-python

cleanup
  app/src/pages/playground/playgroundUtils.ts
  app/src/store/credentialsStore.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/pages/settings/GenerativeProvidersCard.tsx
Owners: @arize-ai/oss-javascript

Add failsafe for trace import edge case
  export/import_to_arize.py
Owners: none

feat: Add `get_spans` to phoenix client (#7688)
  .gitignore
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/annotations/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/spans.py
  tests/integration/client/test_spans.py
  tests/unit/server/api/routers/v1/test_spans.py
  tox.ini
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Add mastra experiments example
  tutorials/agents/mastra/example-agent/.gitignore
  tutorials/agents/mastra/example-agent/README.md
  tutorials/agents/mastra/example-agent/package-lock.json
  tutorials/agents/mastra/example-agent/package.json
  tutorials/agents/mastra/example-agent/src/mastra/agents/weather-agent.ts
  tutorials/agents/mastra/example-agent/src/mastra/experiments/run_experiment.ts
  tutorials/agents/mastra/example-agent/src/mastra/index.ts
  tutorials/agents/mastra/example-agent/src/mastra/tools/calculator-tool.ts
  tutorials/agents/mastra/example-agent/src/mastra/tools/time-tool.ts
  tutorials/agents/mastra/example-agent/src/mastra/tools/weather-tool.ts
  tutorials/agents/mastra/example-agent/tsconfig.json
  tutorials/agents/mastra/mastra.db
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore(cost): add cost-related tables (#7847)
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

fix: upgrade lower version pin on openinference-instrumentation and openinference-instrumentation-semantic-conventions
  pyproject.toml
Owners: none

fix: upgrade lower version pin on openinference-instrumentation and openinference-instrumentation-semantic-conventions
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

fix: upgrade lower version pin on openinference-instrumentation and openinference-instrumentation-semantic-conventions (#7901)
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.10.2
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.10.2 (#7902)
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

refactoring Importers + adding utils
  export/import_to_arize.py
  export/importers/__init__.py
  export/importers/import_annotations.py
  export/importers/import_datasets.py
  export/importers/import_evaluations.py
  export/importers/import_prompts.py
  export/importers/import_traces.py
  export/importers/setup_annotations.py
  export/importers/utils.py
  export/utils.py
Owners: none

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
