Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

GITBOOK-29: No subject
  docs/section-integrations/.gitbook/assets/instructor-logo.png
Owners: none

GITBOOK-30: docs: integration section cleanup
  docs/section-integrations/frameworks/autogen/README.md
  docs/section-integrations/frameworks/crewai/README.md
  docs/section-integrations/frameworks/dspy/README.md
  docs/section-integrations/frameworks/guardrails-ai/README.md
  docs/section-integrations/frameworks/haystack/README.md
  docs/section-integrations/frameworks/langgraph/README.md
  docs/section-integrations/llm-providers/amazon-bedrock/README.md
Owners: none

feat: Paginate session details view
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/__generated__/SessionDetailsTraceListRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceList_traces.graphql.ts
  app/src/pages/trace/constants.ts
  scripts/generate_spans_for_large_session/generate_spans_for_large_session.py
  src/phoenix/server/api/types/ProjectSession.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): sort on traces table (#8255)
  app/schema.graphql
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  src/phoenix/server/api/input_types/SpanSort.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Debounce pagination fetch and scroll loader into view
  app/src/pages/trace/SessionDetailsTraceList.tsx
Owners: @arize-ai/oss-javascript

Reduce initial page size of session traces
  app/src/pages/trace/constants.ts
Owners: @arize-ai/oss-javascript

Reduce judder while paginating
  app/src/pages/trace/SessionDetailsTraceList.tsx
  src/phoenix/server/api/types/ProjectSession.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Cleanup type definitions
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceListRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceList_traces.graphql.ts
Owners: @arize-ai/oss-javascript

updating prompt template names
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

feat: add granularity for span and trace count time series
  app/schema.graphql
  src/phoenix/db/helpers.py
  src/phoenix/server/api/input_types/Granularity.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/api/utils.py
  tests/unit/db/test_helpers.py
  tests/unit/server/api/test_utils.py
  tests/unit/server/api/types/test_Project.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat: Redirect from otel ids (#8320)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/pages/redirects/__generated__/sessionRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/__generated__/spanRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/__generated__/traceRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/sessionRedirectLoader.ts
  app/src/pages/redirects/spanRedirectLoader.ts
  app/src/pages/redirects/traceRedirectLoader.ts
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update tests/unit/server/api/types/test_Project.py
  tests/unit/server/api/types/test_Project.py
Owners: none

Update src/phoenix/server/api/input_types/Granularity.py
  src/phoenix/server/api/input_types/Granularity.py
Owners: @arize-ai/oss-python

add CC BY-NC-SA 4.0 attribution to Evals that Work notebook
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

clean up
  src/phoenix/server/api/input_types/Granularity.py
  src/phoenix/server/api/types/TimeSeries.py
Owners: @arize-ai/oss-python

feat: Paginate session details view (#8328)
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/__generated__/SessionDetailsTraceListRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceList_traces.graphql.ts
  app/src/pages/trace/constants.ts
  scripts/generate_spans_for_large_session/generate_spans_for_large_session.py
  src/phoenix/server/api/types/ProjectSession.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore(main): release arize-phoenix 11.2.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

GITBOOK-21: first pass at context engineering page
  docs/section-learn/.gitbook/assets/image (15).png
  docs/section-learn/.gitbook/assets/image (16).png
  docs/section-learn/SUMMARY.md
  docs/section-learn/context-engineering/prompts-concepts.md
Owners: none

clean up
  app/schema.graphql
  src/phoenix/server/api/input_types/Granularity.py
  src/phoenix/server/api/types/TimeSeries.py
  src/phoenix/server/api/utils.py
  tests/unit/server/api/test_utils.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

format
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

sync costs from openrouter
  .github/workflows/cost-sync.yml
  requirements/sync-models.txt
  scripts/sync_openrouter_models.py
  src/phoenix/db/facilitator.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

add back in models
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

Updating notebook with final prompt template
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore(main): release arize-phoenix 11.2.0 (#8327)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 11.2.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

chore: wip on notebooks
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

litelm cost sync
  .github/workflows/cost-sync.yml
  scripts/sync_litellm_models.py
Owners: none

GitBook: No commit message
  docs/section-cookbooks/SUMMARY.md
  docs/section-cookbooks/tracing/cookbooks.md
  docs/section-cookbooks/tracing/structured-data-extraction.md
Owners: none

GitBook: No commit message
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/features/authentication.md
  docs/section-self-hosting/features/email.md
  docs/section-self-hosting/features/management.md
  docs/section-self-hosting/features/provisioning.md
  docs/section-self-hosting/misc/frequently-asked-questions.md
Owners: none

docs: updating broken integration links (GITBOOK-22)
  docs/section-release-notes/03.07.2025-new-prompt-playground-evals-and-integration-support.md
  docs/section-release-notes/README.md
Owners: none

docs: docs: integration section cleanup (GITBOOK-30)
  docs/section-integrations/SUMMARY.md
  docs/section-integrations/mastra/README.md
  docs/section-integrations/mastra/mastra-tracing.md
  docs/section-integrations/portkey/README.md
  docs/section-integrations/portkey/portkey-tracing.md
  docs/section-integrations/pydantic/README.md
  docs/section-integrations/pydantic/pydantic-evals.md
  docs/section-integrations/pydantic/pydantic-tracing.md
Owners: none

clean script
  scripts/sync_litellm_models.py
Owners: none

no labels
  .github/workflows/cost-sync.yml
Owners: none

nix
  src/phoenix/db/facilitator.py
Owners: @arize-ai/oss-python

chore: update model pricing data (2025-06-30)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

chore: add creative commons licenses
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore: add creative commons licenses (#8338)
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Updating tool selection template with explanation
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

chore: switch to movies for txt2sql
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

GITBOOK-22: phoenix cloud migration
  docs/section-learn/SUMMARY.md
  docs/section-learn/resources/faqs/README.md
  docs/section-learn/resources/faqs/can-i-add-other-users-to-my-phoenix-instance.md
  docs/section-learn/resources/faqs/phoenix-cloud-migration-guide-legacy-to-new-version.md
Owners: none
