Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

refactor to table
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelTokenCostControlTable.tsx
Owners: @arize-ai/oss-javascript

refactor(cost): Use costSummaryEntry instead of tokenCost
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelTokenCostControlTable.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/stories/ModelForm.stories.tsx
Owners: @arize-ai/oss-javascript

Update token costs in UI and Py
  app/schema.graphql
  app/src/components/trace/TokenCosts.tsx
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelTokenCostControlTable.tsx
  app/src/pages/settings/ModelTokenTypeComboBox.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/api/types/TokenPrice.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): Dynamic cost definitions in model form
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelTokenTypeComboBox.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/stories/NumberField.stories.tsx
Owners: @arize-ai/oss-javascript

comments
  app/src/pages/settings/ModelForm.tsx
Owners: @arize-ai/oss-javascript

replace experimental build
  .github/workflows/docker-build-experimental.yml
Owners: none

fix storybook
  app/src/pages/settings/ModelForm.tsx
  app/stories/ModelForm.stories.tsx
Owners: @arize-ai/oss-javascript

feat(cost): Dynamic cost definitions in model form (#8176)
  .github/workflows/docker-build-experimental.yml
  app/schema.graphql
  app/src/components/field/NumberField.tsx
  app/src/components/trace/TokenCosts.tsx
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelTokenCostControlTable.tsx
  app/src/pages/settings/ModelTokenTypeComboBox.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/stories/ModelForm.stories.tsx
  app/stories/NumberField.stories.tsx
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/api/types/TokenPrice.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Simplified working agent
  .gitignore
  examples/observe_agents/README.md
  examples/observe_agents/calendar_agent.py
  examples/observe_agents/calendar_agent/package-lock.json
  examples/observe_agents/calendar_agent/package.json
  examples/observe_agents/calendar_agent/pnpm-lock.yaml
  examples/observe_agents/calendar_agent/src/index.ts
  examples/observe_agents/calendar_agent/src/types.d.ts
  examples/observe_agents/calendar_agent/tsconfig.json
  examples/observe_agents/coordinator.py
  examples/observe_agents/coordinator/coordinator.py
  examples/observe_agents/coordinator/requirements.txt
  examples/observe_agents/front_end.py
  examples/observe_agents/generate_google_token.py
  examples/observe_agents/mail_agent.py
  examples/observe_agents/mail_agent/__init__.py
  examples/observe_agents/mail_agent/mail_agent.py
  examples/observe_agents/mail_agent/requirements.txt
  examples/observe_agents/requirements.txt
  examples/observe_agents/streamlit_app.py
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

docs: updating self-hosting link (GITBOOK-1268)
  docs/environments.md
Owners: none

annotationtrace
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

update trace for eval
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
Owners: @arize-ai/oss-javascript

remove duplicate projectId
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
Owners: @arize-ai/oss-javascript

remove projectId
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

Adding prompts, prepping for others to run
  examples/observe_agents/.env.example
  examples/observe_agents/README.md
  examples/observe_agents/calendar_agent.py
  examples/observe_agents/coordinator.py
  examples/observe_agents/mail_agent.py
  examples/observe_agents/requirements.txt
  examples/observe_agents/utils/generate_google_token.py
  examples/observe_agents/utils/setup_prompts.py
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

relay
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
Owners: @arize-ai/oss-javascript

Addressing comments
  examples/observe_agents/coordinator.py
  examples/observe_agents/utils/generate_google_token.py
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

fix model mutation crud tests
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

fix model mutation crud tests (#8202)
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

feat: mcp add span annotation
  js/packages/phoenix-client/src/spans/getSpanAnnotations.ts
  js/packages/phoenix-client/src/spans/index.ts
  js/packages/phoenix-client/test/spans/getSpanAnnotations.test.ts
  js/packages/phoenix-mcp/README.md
  js/packages/phoenix-mcp/src/index.ts
  js/packages/phoenix-mcp/src/spanTools.ts
Owners: @arize-ai/oss-javascript

resolve comment
  js/packages/phoenix-client/src/spans/getSpanAnnotations.ts
  js/packages/phoenix-client/test/spans/getSpanAnnotations.test.ts
Owners: @arize-ai/oss-javascript

fix
  .github/workflows/python-CI.yml
  requirements/ci.txt
  requirements/integration-tests.txt
Owners: none

fix (#8204)
  .github/workflows/python-CI.yml
  requirements/ci.txt
  requirements/integration-tests.txt
Owners: none

ci: skip flaky test
  tests/unit/server/api/mutations/test_span_annotation_mutations.py
Owners: none

Change credential types
  app/schema.graphql
  app/src/@types/generative.d.ts
  app/src/components/generative/GenerativeProviderIcon.tsx
  app/src/pages/playground/__generated__/ModelComboBoxQuery.graphql.ts
  app/src/pages/playground/__generated__/ModelProviderSelectFragment.graphql.ts
  app/src/pages/playground/__generated__/ModelSupportedParamsFetcherQuery.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputSubscription.graphql.ts
  app/src/pages/playground/__generated__/UpsertPromptFromTemplateDialogCreateMutation.graphql.ts
  app/src/pages/playground/__generated__/UpsertPromptFromTemplateDialogUpdateMutation.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPromptQuery.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPromptSupportedInvocationParametersQuery.graphql.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/pages/prompt/__generated__/PromptChatMessagesCard__main.graphql.ts
  app/src/pages/prompt/__generated__/PromptCodeExportCard__main.graphql.ts
  app/src/pages/prompt/__generated__/PromptLLM__main.graphql.ts
  app/src/pages/prompt/__generated__/PromptModelConfigurationCard__main.graphql.ts
  app/src/pages/settings/__generated__/GenerativeProvidersCard_data.graphql.ts
  app/src/utils/generativeUtils.ts
  src/phoenix/db/types/model_provider.py
  src/phoenix/server/api/helpers/prompts/models.py
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat: add bedrock
  app/src/constants/generativeConstants.ts
Owners: @arize-ai/oss-javascript

add bedrock
  js/packages/phoenix-client/src/types/prompts.ts
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

openapi schema update
  js/packages/phoenix-client/src/prompts/createPrompt.ts
  schemas/openapi.json
Owners: @arize-ai/oss-javascript

wire up bedrock
  app/src/pages/playground/playgroundUtils.ts
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  packages/phoenix-client/src/phoenix/client/types/prompts.py
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

add region to the playgrund
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/store/playground/types.ts
Owners: @arize-ai/oss-javascript

remove duplicate
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-python

add region
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

feat: tool calling
  app/src/components/generative/ToolChoiceSelector.tsx
  packages/phoenix-client/src/phoenix/client/types/prompts.py
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

switch icons
  app/src/components/generative/GenerativeProviderIcon.tsx
Owners: @arize-ai/oss-javascript

bedrock tools
  js/packages/phoenix-client/src/__generated__/api/v1.ts
Owners: @arize-ai/oss-javascript

support converse API alongside invoke
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

feat: bedrock working client
  pyproject.toml
  requirements/dev.txt
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

region selection
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

add bedrock
  js/packages/phoenix-client/src/prompts/constants.ts
Owners: @arize-ai/oss-javascript

feat: add bedrock invocation
  app/src/pages/playground/constants.tsx
  app/src/pages/playground/playgroundUtils.ts
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python
