Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

docs: adjusting beeai integration authentication (GITBOOK-46)
  docs/section-integrations/frameworks/beeai/beeai-tracing-js.md
Owners: none

use 507 instead of 503
  src/phoenix/server/authorization.py
  tests/integration/server/test_db_disk_usage_monitor.py
Owners: @arize-ai/oss-python

Remove comment
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

eliminate retries
  src/phoenix/server/app.py
  tests/integration/_helpers.py
  tests/integration/conftest.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/config.py
Owners: @arize-ai/oss-python

refactor: add TriggerWrap component to manage making tooltip trigger elements focusable
  app/src/components/annotation/AnnotationTooltip.tsx
  app/src/components/tooltip/TriggerWrap.tsx
  app/src/components/tooltip/index.tsx
  app/src/pages/project/AnnotationSummary.tsx
  app/src/pages/project/MetadataTooltip.tsx
Owners: @arize-ai/oss-javascript

clean up
  src/phoenix/config.py
Owners: @arize-ai/oss-python

refactor: Migrate AnnotationSummary tooltips and Metadata tooltip to new component (#8449)
  app/src/components/annotation/AnnotationTooltip.tsx
  app/src/components/tooltip/RichTooltip.tsx
  app/src/components/tooltip/Tooltip.tsx
  app/src/components/tooltip/TriggerWrap.tsx
  app/src/components/tooltip/index.tsx
  app/src/components/tooltip/styles.ts
  app/src/pages/project/AnnotationSummary.tsx
  app/src/pages/project/MetadataTooltip.tsx
Owners: @arize-ai/oss-javascript

docs: updating beeai troubleshooting (GITBOOK-47)
  docs/section-integrations/frameworks/beeai/beeai-tracing-js.md
Owners: none

table stories
  .github/workflows/chromatic.yml
  app/stories/ModelForm.stories.tsx
  app/stories/Table.stories.tsx
Owners: @arize-ai/oss-javascript

clean up
  src/phoenix/server/daemons/db_disk_usage_monitor.py
Owners: @arize-ai/oss-python

cleanup
  app/stories/Table.stories.tsx
Owners: @arize-ai/oss-javascript

clean up
  tests/integration/auth/conftest.py
  tests/integration/auth/test_auth.py
  tests/integration/conftest.py
Owners: none

fix(experiments): paginate sql query on compare experiments page (#8451)
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

cleanup
  app/stories/ExperimentTable.stories.tsx
  app/stories/Table.stories.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/stories/ExperimentTable.stories.tsx
Owners: @arize-ai/oss-javascript

feat(evals): typescript package
  js/packages/phoenix-evals/README.md
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/tsconfig.json
Owners: @arize-ai/oss-javascript

Update js/packages/phoenix-evals/README.md
  js/packages/phoenix-evals/README.md
Owners: @arize-ai/oss-javascript

Update js/packages/phoenix-evals/README.md
  js/packages/phoenix-evals/README.md
Owners: @arize-ai/oss-javascript

lock file
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

Update js/packages/phoenix-evals/README.md
  js/packages/phoenix-evals/README.md
Owners: @arize-ai/oss-javascript

add esm
  js/packages/phoenix-evals/tsconfig.esm.json
Owners: @arize-ai/oss-javascript

Update js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/package.json
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 11.5.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

add an index file
  js/packages/phoenix-evals/src/index.ts
Owners: @arize-ai/oss-javascript

add types node
  js/packages/phoenix-evals/package.json
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

add no op test ops
  js/packages/phoenix-client/package.json
Owners: @arize-ai/oss-javascript

fix
  js/packages/phoenix-client/package.json
  js/packages/phoenix-evals/package.json
Owners: @arize-ai/oss-javascript

refactor: use local variable for lock
  src/phoenix/server/app.py
  src/phoenix/server/types.py
Owners: @arize-ai/oss-python

feat(evals): typescript package (#8457)
  js/packages/phoenix-evals/README.md
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/index.ts
  js/packages/phoenix-evals/tsconfig.esm.json
  js/packages/phoenix-evals/tsconfig.json
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

ci: fix flaky integration test
  tests/integration/auth/conftest.py
  tests/integration/auth/test_auth.py
Owners: none

clean up
  tests/integration/auth/conftest.py
Owners: none

update ci
  .github/workflows/python-CI.yml
  requirements/ci.txt
  requirements/integration-tests.txt
Owners: none

chore(main): release arize-phoenix 11.5.0 (#8422)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 11.5.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

parameterize test
  tests/unit/server/api/test_queries.py
Owners: none

add baseline to compare experiment
  app/schema.graphql
  app/src/Routes.tsx
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/ExperimentMultiSelector.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentMultiSelector__data.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentMultiSelector__experiments.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiment/experimentCompareLoader.ts
  app/src/pages/experiments/ExperimentSelectionToolbar.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/playground/PlaygroundDatasetSection.tsx
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix unit tests
  tests/unit/server/api/test_queries.py
Owners: none

add types
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/llm/classify.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/packages/phoenix-evals/src/types/index.ts
Owners: @arize-ai/oss-javascript

add classificaiton
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/llm/classify.ts
  js/packages/phoenix-evals/src/llm/generateClassification.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/packages/phoenix-evals/src/types/index.ts
  js/packages/phoenix-evals/src/types/prompts.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
