Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

feat(cost): model attribution and cost aggregation
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/model_total_costs.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  tests/unit/server/cost_tracking/test_cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): implementation and wire up crud operations for models
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/__init__.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): add sort on cost column
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/input_types/SpanSort.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): model crud ui and simplify models
  app/src/pages/models/CloneModelButton.tsx
  app/src/pages/models/DeleteModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): track prompt and completion cost
  app/schema.graphql
  app/src/pages/models/CloneModelButton.tsx
  app/src/pages/models/DeleteModelButton.tsx
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/stories/ModelForm.stories.tsx
  pyproject.toml
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): change models table to be a config
  app/src/Routes.tsx
  app/src/components/table/styles.ts
  app/src/pages/Layout.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/DeleteModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
  app/src/pages/settings/SettingsPage.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
Owners: @arize-ai/oss-javascript

fix import
  app/stories/ModelForm.stories.tsx
Owners: @arize-ai/oss-javascript

feat(cost): compute and display aggregate cost in project header (#8064)
  app/schema.graphql
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/pages/project/__generated__/ProjectPageHeaderQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageHeader_stats.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQuery.graphql.ts
  app/src/utils/numberFormatUtils.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/token_costs.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/app.py
  src/phoenix/server/dml_event_handler.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore: ancillary utility scripts for cost testing (#8098)
  scripts/generate_spans_for_cost_calculations/generate_spans_for_cost_calculations.py
  scripts/llm_token_pricing_tables/.gitignore
  scripts/llm_token_pricing_tables/litellm_model_prices.py
  src/phoenix/db/bulk_inserter.py
Owners: @arize-ai/oss-python

fix(cost): allow custom providers in model form (#8109)
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/utils/generativeUtils.ts
  app/stories/ModelForm.stories.tsx
  src/phoenix/server/api/mutations/model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix(cost): adjust model crud mutations to allow for arbitrary cost types (#8112)
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  src/phoenix/server/api/mutations/model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): metrics tab behind a feature flag (#8093)
  app/src/Routes.tsx
  app/src/contexts/FeatureFlagsContext.tsx
  app/src/pages/project/ProjectMetricsPage.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/index.tsx
Owners: @arize-ai/oss-javascript

test(cost): add unit tests for model crud mutations (#8118)
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

refactor(cost): rename `Model` as `GenerativeModel` (#8121)
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/model_total_costs.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

refactor(ci): rename `span_id` to `span_rowid` (#8123)
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/token_costs.py
  src/phoenix/server/api/input_types/SpanSort.py
Owners: @arize-ai/oss-python

chore: clean up cost manifest (#8126)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

ci(cost): fix test type checks (#8122)
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

feat(costs): wire up cost for playground spans (#8134)
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/playground/__generated__/RunMetadataFooterQuery.graphql.ts
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix(cost): display cost for playground runs over a dataset (#8140)
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
Owners: @arize-ai/oss-javascript

fix(cost): raise error on model name collision (#8142)
  src/phoenix/server/api/mutations/model_mutations.py
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: @arize-ai/oss-python

feat: playground move metrics to top (#8144)
  app/src/components/table/CellTop.tsx
  app/src/components/table/index.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): Reorganize cost model form (#8150)
  app/src/components/dialog/Dialog.tsx
  app/src/components/overlay/Modal.tsx
  app/src/pages/settings/AnnotationConfigDialog.tsx
  app/src/pages/settings/ModelForm.tsx
Owners: @arize-ai/oss-javascript

fix: De-duplicate dialog code in model delete dialog (#8162)
  app/src/pages/settings/DeleteModelButton.tsx
Owners: @arize-ai/oss-javascript

chore: format graphql
  app/schema.graphql
Owners: @arize-ai/oss-javascript

feat(cost): session cost summaries (#8156)
  app/schema.graphql
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  app/src/pages/playground/__generated__/RunMetadataFooterQuery.graphql.ts
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageHeader_stats.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  app/src/utils/numberFormatUtils.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_cost_detail_summary_entries_by_span.py
  src/phoenix/server/api/dataloaders/types.py
  src/phoenix/server/api/types/CostBreakdown.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/SpanCost.py
  src/phoenix/server/api/types/SpanCostDetail.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix(cost): validate regex before creating or updating generative model (#8167)
  app/schema.graphql
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): add last used at column to models table (#8169)
  app/schema.graphql
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/last_used_times_by_generative_model_id.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): add a model is custom indicator (#8171)
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/DeleteModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): move actions into the headers in playground (#8151)
  app/src/GlobalStyles.tsx
  app/src/components/button/IconButton.tsx
  app/src/components/button/index.tsx
  app/src/components/table/CellTop.tsx
  app/src/components/table/styles.ts
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/PlaygroundErrorWrap.tsx
  app/src/pages/playground/PlaygroundToolCall.tsx
  app/stories/IconButton.stories.tsx
Owners: @arize-ai/oss-javascript

feat(cost): refetch models on new and clone (#8173)
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
Owners: @arize-ai/oss-javascript

feat(cost): display model cost as per / 1M (#8175)
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
Owners: @arize-ai/oss-javascript

fix(cost): fix span sort by cost (#8185)
  src/phoenix/server/api/input_types/SpanSort.py
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

feat(cost): sort sessions table by cost (#8179)
  app/schema.graphql
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  src/phoenix/server/api/input_types/ProjectSessionSort.py
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat: ExperimentRun and Experiment cost resolvers (#8146)
  app/schema.graphql
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_experiment.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_experiment_run.py
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/api/types/ExperimentRun.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): use database records for span cost calculator (#8180)
  .github/workflows/python-CI.yml
  app/schema.graphql
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  scripts/generate_spans_for_cost_calculations/generate_spans_for_cost_calculations.py
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/db/types/token_price_customization.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/last_used_times_by_generative_model_id.py
  src/phoenix/server/api/dataloaders/span_cost_detail_summary_entries_by_generative_model.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_generative_model.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_details_calculator.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/cost_model_lookup.py
  src/phoenix/server/cost_tracking/helpers.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
  src/phoenix/server/cost_tracking/regex_specificity.py
  src/phoenix/server/cost_tracking/token_cost_calculator.py
  src/phoenix/server/daemons/__init__.py
  src/phoenix/server/daemons/generative_model_store.py
  src/phoenix/server/daemons/span_cost_calculator.py
  tests/unit/conftest.py
  tests/unit/db/types/test_token_price_customization.py
  tests/unit/server/api/mutations/test_model_mutations.py
  tests/unit/server/api/types/conftest.py
  tests/unit/server/cost_tracking/test_cost_details_calculator.py
  tests/unit/server/cost_tracking/test_cost_model_lookup.py
  tests/unit/server/cost_tracking/test_helpers.py
  tests/unit/server/cost_tracking/test_regex_specificity.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update docker-build-experimental.yml (#8186)
  .github/workflows/docker-build-experimental.yml
Owners: none

feat(cost): Dynamic cost definitions in model form (#8176)
  .github/workflows/docker-build-experimental.yml
  app/schema.graphql
  app/src/components/field/NumberField.tsx
  app/src/components/trace/TokenCosts.tsx
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelTokenCostControlTable.tsx
  app/src/pages/settings/ModelTokenTypeComboBox.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/stories/ModelForm.stories.tsx
  app/stories/NumberField.stories.tsx
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/api/types/TokenPrice.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix model mutation crud tests (#8202)
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

fix (#8204)
  .github/workflows/python-CI.yml
  requirements/ci.txt
  requirements/integration-tests.txt
Owners: none

ci: skip flaky test (#8206)
  tests/unit/server/api/mutations/test_span_annotation_mutations.py
Owners: none
