Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

test(cost): add unit tests for model crud mutations (#8118)
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

refactor(cost): rename `Model` as `GenerativeModel` (#8121)
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/model_total_costs.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

ci: fix test type checks
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

revert
  src/phoenix/config.py
Owners: @arize-ai/oss-python

ci(cost): fix test type checks (#8122)
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

update _safely_json_decode
  src/phoenix/server/api/helpers/dataset_helpers.py
Owners: @arize-ai/oss-python

feat: fullstory (#8120)
  app/src/analytics/fullstory.ts
  app/src/pages/AuthenticatedRoot.tsx
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
  app/src/pages/authenticatedRootLoader.ts
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/main.py
  src/phoenix/server/templates/index.html
  src/phoenix/settings.py
  tox.ini
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore(main): release arize-phoenix 10.13.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.13.0 (#8094)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

GITBOOK-16: No subject
  docs/section-learn/README.md
Owners: none

Update src/phoenix/server/api/helpers/dataset_helpers.py
  src/phoenix/server/api/helpers/dataset_helpers.py
Owners: @arize-ai/oss-python

GITBOOK-17: Fix langgraph agent notebook links
  docs/section-learn/agents/agent-workflow-patterns/langgraph.md
Owners: none

refactor(ci): rename span_id to span_rowid
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/token_costs.py
  src/phoenix/server/api/input_types/SpanSort.py
Owners: @arize-ai/oss-python

update test
  tests/unit/server/api/helpers/test_dataset_helpers.py
Owners: none

fix-docker-build-missing-split-function
  .github/workflows/docker-build-release.yml
Owners: none

fix: resolve version tags on docker builds
  .github/workflows/docker-build-release.yml
Owners: none

fix(docker): fix docker build by removing missing split function (#8125)
  .github/workflows/docker-build-release.yml
Owners: none

refactor(ci): rename `span_id` to `span_rowid` (#8123)
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/token_costs.py
  src/phoenix/server/api/input_types/SpanSort.py
Owners: @arize-ai/oss-python

fix pyproject.toml
  pyproject.toml
Owners: none

prettier
  app/tests/member-access.spec.ts
Owners: @arize-ai/oss-javascript

revert test
  app/tests/member-access.spec.ts
Owners: @arize-ai/oss-javascript

chore: clean up cost manifest
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

docs: add google adk
  README.md
Owners: none

docs: add google adk (#8127)
  README.md
Owners: none

chore(main): release arize-phoenix 10.13.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.13.1 (#8128)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

Add google adk docs (#8027)
  docs/section-integrations/SUMMARY.md
  docs/section-integrations/llm-providers/google-gen-ai/google-adk-tracing.md
Owners: none

chore: update phoenix version to 10.13.1 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

fix: span prompt template export (#8110)
  app/tests/member-access.spec.ts
  src/phoenix/server/api/helpers/dataset_helpers.py
  tests/unit/server/api/helpers/test_dataset_helpers.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix:playground-prompt-template
  app/src/pages/playground/__tests__/playgroundUtils.test.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/pages/trace/SpanDetails.tsx
Owners: @arize-ai/oss-javascript

fix: Constrain API key fragment return to non-priveleged data
  app/src/pages/profile/ViewerAPIKeys.tsx
  app/src/pages/profile/__generated__/ViewerAPIKeysCreateUserAPIKeyMutation.graphql.ts
  app/tests/member-access.spec.ts
Owners: @arize-ai/oss-javascript

chore: Ensure playwright tests use fresh UI code
  app/package.json
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

try catch
  app/src/pages/playground/playgroundUtils.ts
Owners: @arize-ai/oss-javascript

update playwright action
  .github/workflows/playwright.yaml
Owners: none

fix: chunk deletion of sessions
  src/phoenix/server/api/mutations/project_mutations.py
Owners: @arize-ai/oss-python

chore: clean up cost manifest (#8126)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

bump uv playwright cache
  .github/workflows/playwright.yaml
Owners: none

Use extra instead of requirements
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

Add cost to playground spans
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
Owners: @arize-ai/oss-python

add unit test
  src/phoenix/server/api/mutations/project_mutations.py
  tests/unit/server/api/mutations/test_project_mutations.py
Owners: @arize-ai/oss-python
