Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

Use better "example" type checking
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Owners: @arize-ai/oss-python

fix: Otel moved the location of span exporters on batch processors
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

nix
  src/phoenix/db/bulk_inserter.py
Owners: @arize-ai/oss-python

fix(evals): add support for out of order evals (#7849)
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/functions/test_classify.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.20.8
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.20.8 (#7920)
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

ci: fix mypy types for opentelemetry-sdk==1.34.0
  src/phoenix/experiments/functions.py
  src/phoenix/experiments/tracing.py
  src/phoenix/server/telemetry.py
  src/phoenix/trace/projects.py
Owners: @arize-ai/oss-python

use cast instead of : Span
  src/phoenix/experiments/functions.py
Owners: @arize-ai/oss-python

fix types for it
  tests/integration/_helpers.py
Owners: none

ci: fix mypy types for opentelemetry-sdk==1.34.0 (#7921)
  src/phoenix/experiments/functions.py
  src/phoenix/experiments/tracing.py
  src/phoenix/server/telemetry.py
  src/phoenix/trace/projects.py
  tests/integration/_helpers.py
Owners: @arize-ai/oss-python

Apply ruff formatting
  export/export_all_projects.py
  export/exporters/__init__.py
  export/exporters/export_annotations.py
  export/exporters/export_datasets.py
  export/exporters/export_evaluations.py
  export/exporters/export_prompts.py
  export/exporters/export_traces.py
  export/exporters/utils.py
  export/import_to_arize.py
  export/importers/__init__.py
  export/importers/import_annotations.py
  export/importers/import_datasets.py
  export/importers/import_evaluations.py
  export/importers/import_prompts.py
  export/importers/import_traces.py
  export/importers/setup_annotations.py
  export/importers/utils.py
  export/utils.py
Owners: none

Update type checks and tests for otel update
  packages/phoenix-otel/pyproject.toml
  packages/phoenix-otel/src/phoenix/otel/__init__.py
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python

fix: Otel moved the location of span exporters on batch processors (#7919)
  packages/phoenix-otel/pyproject.toml
  packages/phoenix-otel/src/phoenix/otel/__init__.py
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.10.3
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.10.3 (#7923)
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

fix: Sets a lower pin on phoenix-otel to support latest Otel
  pyproject.toml
Owners: none

remove providertoPrefix
  app/src/pages/playground/constants.tsx
Owners: @arize-ai/oss-javascript

fix: Sets a lower pin on phoenix-otel to support latest Otel (#7924)
  pyproject.toml
Owners: none

toggling uvicorn logger level with PHOENIX_LOGGING_LEVEL
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.10.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

chore(cost): add cost-related tables (#7847)
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

Add `to_dataframe` and don't return dataframe versions
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.10.0 (#7885)
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

Clean up dataset client
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/id_handling.py
Owners: @arize-ai/oss-python

plumb through span cost
  app/schema.graphql
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/span_costs.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/SpanCost.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Add integration tests
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/id_handling.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
  tests/integration/client/test_datasets.py
Owners: @arize-ai/oss-python

fix: set Uvicorn logger level with PHOENIX_LOGGING_LEVEL (#7927)
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.7.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.7.0 (#7909)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.7.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

plumb through span cost
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/types/SpanCost.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-python

fix
  src/phoenix/db/bulk_inserter.py
Owners: @arize-ai/oss-python

add index
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

Update packages/phoenix-otel/docs/source/api/otel.rst
  packages/phoenix-otel/docs/source/api/otel.rst
Owners: @arize-ai/oss-python

ruff
  packages/phoenix-otel/docs/source/conf.py
Owners: @arize-ai/oss-python

2025
  packages/phoenix-otel/docs/source/conf.py
Owners: @arize-ai/oss-python

Refine docstrings
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

test
  packages/phoenix-otel/docs/source/conf.py
  packages/phoenix-otel/pyproject.toml
  packages/phoenix-otel/src/phoenix/otel/__init__.py
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python
