Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

Spike out `get_spans` method with integration tests
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/types/spans.py
  tests/integration/client/test_spans.py
  tox.ini
Owners: @arize-ai/oss-python

Update test
  tests/unit/server/api/routers/v1/test_spans.py
Owners: none

Remove needless type ignores
  packages/phoenix-client/src/phoenix/client/resources/annotations/__init__.py
Owners: @arize-ai/oss-python

Improve docstring
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Remove alias
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-python

Use snake cased parameter names
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Clarify test names
  tests/unit/server/api/routers/v1/test_spans.py
Owners: none

Remove old client Span wrapper
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/types/spans.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

Update ordering integration test
  tests/integration/client/test_spans.py
Owners: none

Add support for passing in spans directly
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

Add type ignores to pyright checks
  packages/phoenix-client/src/phoenix/client/resources/annotations/__init__.py
Owners: @arize-ai/oss-python

Ruff 🐶
  tests/integration/client/test_spans.py
Owners: none

Update ignores
  packages/phoenix-client/src/phoenix/client/resources/annotations/__init__.py
Owners: @arize-ai/oss-python

Remove route alias
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
Owners: @arize-ai/oss-javascript

Update client
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

Resolve mypy issues
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Resolve pyright issues
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Add tests for new route
  tests/unit/server/api/routers/v1/test_spans.py
Owners: none

Address PR suggestions
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Clarify types
  packages/phoenix-client/src/phoenix/client/resources/annotations/__init__.py
Owners: @arize-ai/oss-python

Update OpenAPI schema
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
Owners: @arize-ai/oss-javascript

Declare result type in annotations
  packages/phoenix-client/src/phoenix/client/resources/annotations/__init__.py
Owners: @arize-ai/oss-python

Spike out GET /spans route
  .gitignore
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Improve router tests
  src/phoenix/server/api/routers/v1/spans.py
  tests/unit/server/api/routers/v1/test_spans.py
Owners: @arize-ai/oss-python

Try to resolve pyright issues
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Update docstring
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Ruff 🐶 and type fixes
  tests/integration/client/test_spans.py
  tests/unit/server/api/routers/v1/test_spans.py
Owners: none

Fix some type checker issues
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

Address feedback
  packages/phoenix-client/src/phoenix/client/types/spans.py
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-python

Update openapi schema
  js/packages/phoenix-client/src/__generated__/api/v1.ts
Owners: @arize-ai/oss-javascript

Rebuild openapi schema
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
Owners: @arize-ai/oss-javascript

Rebase fixes
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/spans.py
  tests/integration/client/test_spans.py
  tests/unit/server/api/routers/v1/test_spans.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

docs: fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Fix pagination logic
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Update integration test
  tests/integration/client/test_spans.py
Owners: none

rename as labels
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/templates/test_template.py
Owners: @arize-ai/oss-python

ruff
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/templates/test_template.py
Owners: @arize-ai/oss-python

fixed eval mapping bugs
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/templates/test_template.py
Owners: @arize-ai/oss-python

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
