Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

refactor styling to use data-classes and CSS vars
  app/src/components/progressCircle/ProgressCircle.tsx
  app/src/components/progressCircle/styles.ts
Owners: @arize-ai/oss-javascript

clean up
  app/src/pages/dashboard/DashboardBarChart.tsx
  app/src/pages/dashboard/DashboardPage.tsx
  app/src/pages/dashboard/TraceCountDashboardBarChart.tsx
  scripts/generate_spans/generate_spans_for_time_series.py
  src/phoenix/datetime_utils.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/api/utils.py
  tests/unit/server/api/types/test_Project.py
  tests/unit/test_datetime_utils.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

clean up
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
Owners: @arize-ai/oss-python

refactor prop handling to be more consistent with example code
  app/src/components/progressCircle/ProgressCircle.tsx
  app/src/components/progressCircle/styles.ts
  app/src/components/progressCircle/types.ts
Owners: @arize-ai/oss-javascript

clean up
  scripts/generate_spans/generate_spans_for_time_series.py
Owners: none

reuse existing Size typing + add jsdocs
  app/src/components/progressCircle/types.ts
Owners: @arize-ai/oss-javascript

ci: allow cursoragent in cla
  .github/workflows/cla.yml
Owners: none

ci: allow cursoragent in cla (#8583)
  .github/workflows/cla.yml
Owners: none

ruff
  src/phoenix/server/api/routers/oauth2.py
Owners: @arize-ai/oss-python

Handle missing email scope in OAuth2 user info parsing
  src/phoenix/server/api/routers/oauth2.py
Owners: @arize-ai/oss-python

clean
  src/phoenix/server/api/routers/oauth2.py
Owners: @arize-ai/oss-python

email scope
  src/phoenix/server/api/routers/oauth2.py
Owners: @arize-ai/oss-python

add notebook to benchmark hallucination eval using phoenix experiments
  scripts/benchmarks/hallucination_eval_benchmark.ipynb
Owners: none

fix: Improve error message for missing email scope (#8571)
  src/phoenix/server/api/routers/oauth2.py
Owners: @arize-ai/oss-python

revert
  docs/section-integrations/llm-providers/google-gen-ai/google-adk-tracing.md
Owners: none

docs: google adk tracing docs update (#8584)
  docs/section-integrations/llm-providers/google-gen-ai/google-adk-tracing.md
Owners: none

Add: enhanced docs for colors
  app/stories/Colors.stories.tsx
Owners: @arize-ai/oss-javascript

Add `get_experiment`
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

refactor: replace ProgressCircle component (#8577)
  app/.eslintrc.js
  app/src/components/LoadingMask.tsx
  app/src/components/index.tsx
  app/src/components/loading/Loading.tsx
  app/src/components/progressCircle/ProgressCircle.tsx
  app/src/components/progressCircle/index.tsx
  app/src/components/progressCircle/styles.ts
  app/src/components/progressCircle/types.ts
  app/stories/Loading.stories.tsx
  app/stories/ProgressCircle.stories.tsx
Owners: @arize-ai/oss-javascript

prompt variables skip parse
  packages/phoenix-evals/src/phoenix/evals/templates.py
Owners: @arize-ai/oss-python

fix(cost): ensure token counts are recorded in span costs table even if the model name does not match
  src/phoenix/server/api/dataloaders/span_cost_summary_by_experiment.py
  src/phoenix/server/cost_tracking/cost_details_calculator.py
  src/phoenix/server/daemons/span_cost_calculator.py
  tests/unit/server/cost_tracking/test_cost_details_calculator.py
Owners: @arize-ai/oss-python

test
  src/phoenix/server/cost_tracking/cost_details_calculator.py
  tests/unit/server/cost_tracking/test_cost_details_calculator.py
Owners: @arize-ai/oss-python

clean
  src/phoenix/server/cost_tracking/cost_details_calculator.py
Owners: @arize-ai/oss-python

move constant times
  app/src/constants/timeConstants.ts
  app/src/pages/dashboard/TraceCountDashboardBarChart.tsx
Owners: @arize-ai/oss-javascript

fix suggestions
  scripts/benchmarks/hallucination_eval_benchmark.ipynb
Owners: none

fix:update phoenix support to search
  js/.changeset/thick-clowns-cheer.md
  js/packages/phoenix-mcp/src/supportTools.ts
Owners: @arize-ai/oss-javascript

Add top level imports for experiments
  packages/phoenix-client/src/phoenix/client/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

comment
  packages/phoenix-evals/src/phoenix/evals/templates.py
Owners: @arize-ai/oss-python

Fix type checker issues
  packages/phoenix-client/src/phoenix/client/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

comment out everything
  packages/phoenix-evals/src/phoenix/evals/templates.py
Owners: @arize-ai/oss-python

set variables
  packages/phoenix-evals/src/phoenix/evals/templates.py
Owners: @arize-ai/oss-python

handle empty data
  app/schema.graphql
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

move utc offset into a hook
  app/src/@types/time.d.ts
  app/src/hooks/useTimeBin.ts
  app/src/hooks/useUTCOffsetMinutes.ts
  app/src/pages/dashboard/TraceCountDashboardBarChart.tsx
Owners: @arize-ai/oss-javascript

zero value
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

nix value
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

Update docstrings and call signatures
  packages/phoenix-client/src/phoenix/client/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

tick formatting into a react hook
  app/src/components/chart/useBinTimeTickFormatter.ts
  app/src/constants/timeConstants.ts
  app/src/pages/dashboard/DashboardBarChart.tsx
Owners: @arize-ai/oss-javascript

remove angle labels for now
  app/src/pages/dashboard/DashboardBarChart.tsx
Owners: @arize-ai/oss-javascript

fix test
  tests/unit/server/api/types/test_Project.py
Owners: none

span count
  app/schema.graphql
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
