Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

feat(costs): Implement full sorting on model table, excluding null values
  app/src/components/table/TimestampCell.tsx
  app/src/components/utility/Truncate.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/typeUtils.ts
Owners: @arize-ai/oss-javascript

fix(costs): Remove extraneous Y padding on models table page
  app/src/pages/settings/SettingsModelsPage.tsx
Owners: @arize-ai/oss-javascript

feat(costs): Filter and search models
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
Owners: @arize-ai/oss-javascript

change default kind filter
  app/src/pages/settings/SettingsModelsPage.tsx
Owners: @arize-ai/oss-javascript

Trim searches
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

Use semantically correct size prop
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

add comments
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

simplify filter
  app/src/pages/settings/SettingsModelsPage.tsx
Owners: @arize-ai/oss-javascript

feat(costs): Model table search, sort, filter on all columns (#8233)
  app/schema.graphql
  app/src/components/table/TimestampCell.tsx
  app/src/components/utility/Truncate.tsx
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/DeleteModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsModelsPageQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
  app/src/typeUtils.ts
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

compute and display cumulative cost in traces table
  app/schema.graphql
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/cumulative_cost_summary_by_span_id.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

double counting
  src/phoenix/server/api/dataloaders/cumulative_cost_summary_by_span_id.py
Owners: @arize-ai/oss-python

include root span
  src/phoenix/server/api/dataloaders/cumulative_cost_summary_by_span_id.py
Owners: @arize-ai/oss-python

cumulative
  app/src/components/trace/SpanCumulativeTokenCostsDetails.tsx
  app/src/components/trace/SpanTokenCosts.tsx
  app/src/components/trace/__generated__/SpanCumulativeTokenCostsDetailsQuery.graphql.ts
  app/src/pages/project/TracesTable.tsx
Owners: @arize-ai/oss-javascript

rename
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_cumulative_cost_summary_by_span_id.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-python

details
  app/schema.graphql
  app/src/components/trace/SpanCumulativeTokenCostsDetails.tsx
  app/src/components/trace/__generated__/SpanCumulativeTokenCostsDetailsQuery.graphql.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_cumulative_cost_detail_summary_entries_by_span.py
  src/phoenix/server/api/dataloaders/span_cumulative_cost_summary_by_span.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

simplify
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_cumulative_cost_detail_summary_entries_by_span.py
  src/phoenix/server/api/dataloaders/span_cumulative_cost_summary_by_span.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-python

use separate component
  app/src/components/trace/SpanCumulativeTokenCosts.tsx
  app/src/pages/project/TracesTable.tsx
Owners: @arize-ai/oss-javascript

refactor: use BigInteger for id
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  tests/integration/db_migrations/test_up_and_down_migrations.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

refactor: rename is_override to is_built_in
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/insertion/helpers.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/cost_model_lookup.py
  src/phoenix/server/daemons/span_cost_calculator.py
  tests/unit/db/insertion/test_helpers.py
  tests/unit/server/api/mutations/test_model_mutations.py
  tests/unit/server/cost_tracking/test_cost_lookup.py
  tests/unit/server/cost_tracking/test_cost_model_lookup.py
Owners: @arize-ai/oss-python

fix: do not delete span cost when model is deleted
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
Owners: @arize-ai/oss-python

clean up
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

GITBOOK-19: No subject
  docs/section-cookbooks/SUMMARY.md
  docs/section-cookbooks/evaluation/cookbooks.md
Owners: none

refactor(cost): use BigInteger for primary keys for PostgreSQL (#8239)
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  tests/integration/db_migrations/test_up_and_down_migrations.py
Owners: @arize-ai/oss-python

feat(costs): Validate user-provided regular expressions against API
  app/src/components/RegexField.tsx
  app/src/components/__generated__/RegexFieldQuery.graphql.ts
  app/src/components/field/styles.ts
  app/src/pages/settings/ModelForm.tsx
Owners: @arize-ai/oss-javascript

feat: soft delete for generative models
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/daemons/generative_model_store.py
Owners: @arize-ai/oss-python

feat: Update openai reasoning models
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

fix: Overflow combobox listboxes
  app/src/components/combobox/styles.tsx
Owners: @arize-ai/oss-javascript

feat: Update openai reasoning models (#8246)
  app/src/components/combobox/styles.tsx
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): compute cumulative token counts for spans and add to traces table (#8234)
  app/schema.graphql
  app/src/components/trace/SpanCumulativeTokenCosts.tsx
  app/src/components/trace/SpanCumulativeTokenCostsDetails.tsx
  app/src/components/trace/__generated__/SpanCumulativeTokenCostsDetailsQuery.graphql.ts
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  src/phoenix/server/api/types/Span.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

lint
  app/src/pages/trace/SessionDetailsTraceList.tsx
Owners: @arize-ai/oss-javascript

fix(cost): use cumulative token costs for root spans in sessions details
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
Owners: @arize-ai/oss-javascript

fix(cost): use cumulative token cost for root spans in session details (#8236)
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
Owners: @arize-ai/oss-javascript

[feat] cost syncing from openrouter
  .github/workflows/cost-sync.yml
  requirements/sync-models.txt
  scripts/sync_openrouter_models.py
Owners: none

test workflow
  .github/workflows/cost-sync.yml
Owners: none

check generated artifact
  scripts/sync_openrouter_models.py
Owners: none

fix type
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python
