Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

Update internal_docs/specs/evals.md
  internal_docs/specs/evals.md
Owners: none

Update internal_docs/specs/evals.md
  internal_docs/specs/evals.md
Owners: none

Update internal_docs/specs/evals.md
  internal_docs/specs/evals.md
Owners: none

Update internal_docs/specs/evals.md
  internal_docs/specs/evals.md
Owners: none

add pairwise
  internal_docs/specs/evals.md
Owners: none

fix: incorrect cartesian join in span search
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-python

docs: docs: updating prompts links (GITBOOK-1296)
  docs/evaluation/llm-evals/README.md
  docs/evaluation/llm-evals/agent-evaluation.md
  docs/inferences/how-to-inferences/define-your-schema/README.md
  docs/inferences/phoenix-inferences.md
  docs/prompt-engineering/how-to-prompts/create-a-prompt.md
  docs/prompt-engineering/how-to-prompts/using-a-prompt.md
  docs/prompt-engineering/how-to-prompts/using-the-playground.md
  docs/prompt-engineering/overview-prompts/prompt-playground.md
  docs/prompt-engineering/overview-prompts/prompts-in-code.md
  docs/retrieval/overview-retrieval.md
  docs/tracing/llm-traces.md
Owners: none

fix: incorrect cartesian join in span search (#8486)
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-python

clean up
  tests/integration/_helpers.py
  tests/integration/client/conftest.py
  tests/integration/client/test_spans.py
Owners: none

feat(evals): add templating primatives, createClassifier
  js/packages/phoenix-evals/examples/classifier_example.ts
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/llm/createClassifier.ts
  js/packages/phoenix-evals/src/llm/generateClassification.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/src/template/applyTemplate.ts
  js/packages/phoenix-evals/src/template/index.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/packages/phoenix-evals/src/types/index.ts
  js/packages/phoenix-evals/src/types/templating.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

safety
  js/packages/phoenix-evals/src/llm/createClassifier.ts
Owners: @arize-ai/oss-javascript

clean up
  tests/integration/_helpers.py
  tests/integration/client/test_spans.py
Owners: none

add mustache tests
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/template/applyTemplate.ts
  js/packages/phoenix-evals/test/template/applyTemplate.test.ts
Owners: @arize-ai/oss-javascript

clean up
  tests/integration/auth/test_auth.py
Owners: none

add nock
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/test/llm/createClassifier.test.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

stub out env vars
  js/packages/phoenix-evals/test/llm/createClassifier.test.ts
Owners: @arize-ai/oss-javascript

cleanup
  js/packages/phoenix-evals/src/llm/createClassifier.ts
Owners: @arize-ai/oss-javascript

cleanup
  js/packages/phoenix-evals/test/llm/createClassifier.test.ts
Owners: @arize-ai/oss-javascript

fix: incorrect regex match method for model name
  src/phoenix/server/cost_tracking/cost_model_lookup.py
Owners: @arize-ai/oss-python

ci: fix flaky integration tests (#8459)
  tests/integration/_helpers.py
  tests/integration/auth/conftest.py
  tests/integration/auth/test_auth.py
  tests/integration/client/conftest.py
  tests/integration/client/test_annotations.py
  tests/integration/client/test_spans.py
Owners: none

fix: remove regex anchors for model names
  .github/.scripts/sync_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

remove DocumentEvaluationSummary tooltip
  app/src/pages/project/DocumentEvaluationSummary.tsx
Owners: @arize-ai/oss-javascript

refactor: migrate RetrievalEvaluationLabel tooltip
  app/src/pages/project/RetrievalEvaluationLabel.tsx
Owners: @arize-ai/oss-javascript

migrate AnnotationSummaryPopover
  app/src/components/annotation/AnnotationSummaryPopover.tsx
Owners: @arize-ai/oss-javascript

refactor: migrate AnnotationAggregationCell tooltip
  app/src/pages/experiments/ExperimentsTable.tsx
Owners: @arize-ai/oss-javascript

refactor: migrate ExperimentRunFilterConditionField tooltip + popover
  app/src/pages/experiment/ExperimentRunFilterConditionField.tsx
Owners: @arize-ai/oss-javascript

refactor: migrate more tooltips (#8469)
  app/src/components/annotation/AnnotationSummaryPopover.tsx
  app/src/pages/experiment/ExperimentRunFilterConditionField.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/project/DocumentEvaluationSummary.tsx
  app/src/pages/project/RetrievalEvaluationLabel.tsx
Owners: @arize-ai/oss-javascript

Update js/packages/phoenix-evals/src/llm/createClassifier.ts
  js/packages/phoenix-evals/src/llm/createClassifier.ts
Owners: @arize-ai/oss-javascript

fix: change postgres query for db usage
  src/phoenix/server/daemons/db_disk_usage_monitor.py
Owners: @arize-ai/oss-python

make docstrings consistent
  js/packages/phoenix-evals/src/template/applyTemplate.ts
  js/packages/phoenix-evals/src/types/evals.ts
Owners: @arize-ai/oss-javascript

feat(evals): add templating primatives, createClassifier (#8487)
  js/packages/phoenix-evals/examples/classifier_example.ts
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/llm/createClassifier.ts
  js/packages/phoenix-evals/src/llm/generateClassification.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/src/template/applyTemplate.ts
  js/packages/phoenix-evals/src/template/index.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/packages/phoenix-evals/src/types/index.ts
  js/packages/phoenix-evals/src/types/templating.ts
  js/packages/phoenix-evals/test/llm/createClassifier.test.ts
  js/packages/phoenix-evals/test/template/applyTemplate.test.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

clean up
  src/phoenix/server/api/queries.py
  src/phoenix/server/daemons/db_disk_usage_monitor.py
Owners: @arize-ai/oss-python

Update .github/.scripts/sync_models.py
  .github/.scripts/sync_models.py
Owners: none

Update src/phoenix/server/cost_tracking/model_cost_manifest.json
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

ci: use in-memory sqlite for unit tests
  tests/conftest.py
  tests/unit/conftest.py
Owners: none

ci: use in-memory sqlite for unit tests (#8493)
  tests/conftest.py
  tests/unit/conftest.py
Owners: none

fix: change postgresql query for db disk usage monitoring (#8492)
  src/phoenix/server/api/queries.py
  src/phoenix/server/daemons/db_disk_usage_monitor.py
Owners: @arize-ai/oss-python

fix(cost): incorrect regex match method for model name (#8490)
  src/phoenix/server/cost_tracking/cost_model_lookup.py
Owners: @arize-ai/oss-python

fix: spans table column for cumulative cost summary
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
Owners: @arize-ai/oss-javascript

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
