Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

update orm models
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

added fix for label detection in non-function calling evals
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/templates/test_template.py
Owners: @arize-ai/oss-python

fixed eval mapping bugs
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/templates/test_template.py
Owners: @arize-ai/oss-python

cleanup
  MIGRATION.md
  app/src/components/listbox/ListBox.tsx
  app/stories/Select.stories.tsx
Owners: @arize-ai/oss-javascript

cleanup (#7851)
  MIGRATION.md
  app/src/components/listbox/ListBox.tsx
  app/stories/Select.stories.tsx
Owners: @arize-ai/oss-javascript

fix: properly use semantic colors for latency
  app/src/GlobalStyles.tsx
  app/src/components/trace/LatencyText.tsx
  app/src/components/types/style.ts
  app/src/components/types/variance.ts
  app/stories/LatencyText.stories.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/GlobalStyles.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/components/trace/LatencyText.tsx
  app/src/components/types/style.ts
Owners: @arize-ai/oss-javascript

fix: properly use semantic colors for latency (#7853)
  app/src/GlobalStyles.tsx
  app/src/components/trace/LatencyText.tsx
  app/src/components/types/variance.ts
  app/stories/LatencyText.stories.tsx
Owners: @arize-ai/oss-javascript

button
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

full width
  app/src/pages/playground/ModelProviderSelect.tsx
Owners: @arize-ai/oss-javascript

update relay
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/ModelProviderSelect.tsx
  app/src/pages/playground/__generated__/ModelConfigButtonDialogQuery.graphql.ts
  app/src/pages/playground/__generated__/ModelProviderSelectFragment.graphql.ts
Owners: @arize-ai/oss-javascript

update to dialogTrigger
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

make dropdown work
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/ModelProviderSelect.tsx
Owners: @arize-ai/oss-javascript

chore: model provider select
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/ModelProviderSelect.tsx
Owners: @arize-ai/oss-javascript

naming issue
  app/src/pages/playground/ModelProviderPicker.tsx
Owners: @arize-ai/oss-javascript

fix tooltip
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/__generated__/ModelProviderPickerFragment.graphql.ts
  app/src/pages/playground/__generated__/ModelProviderSelectFragment.graphql.ts
Owners: @arize-ai/oss-javascript

naming issue
  app/src/pages/playground/ModelProviderPicker.tsx
Owners: @arize-ai/oss-javascript

update relay
  app/src/pages/playground/ModelProviderSelect.tsx
Owners: @arize-ai/oss-javascript

full width
  app/src/pages/playground/ModelProviderSelect.tsx
Owners: @arize-ai/oss-javascript

make dropdown work
  app/src/pages/playground/ModelProviderSelect.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

refactor: Migrate model provider picker to select (#7799)
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/ModelProviderPicker.tsx
  app/src/pages/playground/ModelProviderSelect.tsx
  app/src/pages/playground/__generated__/ModelConfigButtonDialogQuery.graphql.ts
  app/src/pages/playground/__generated__/ModelProviderSelectFragment.graphql.ts
Owners: @arize-ai/oss-javascript

final migration from picker to select
  app/.eslintrc.js
  app/stories/Select.stories.tsx
Owners: @arize-ai/oss-javascript

final migration from picker to select (#7840)
  app/.eslintrc.js
  app/stories/Select.stories.tsx
Owners: @arize-ai/oss-javascript

chore: remove unused directory
  phoenix-integrations/.gitbook/includes/sign-up-for-phoenix-sign-up....md
Owners: none

chore: bump react-aria-components
  app/package.json
  app/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

fix types
  app/package.json
  app/pnpm-lock.yaml
  app/src/components/dataset/DatasetSelect.tsx
  app/src/components/retention/ProjectTraceRetentionPolicySelect.tsx
  app/src/pages/embedding/MetricSelector.tsx
  app/src/pages/projects/RemoveProjectDataForm.tsx
Owners: @arize-ai/oss-javascript

bump more versions
  app/package.json
  app/pnpm-lock.yaml
  cspell.json
Owners: @arize-ai/oss-javascript

fix time range selector
  app/src/components/datetime/TimeRangeSelector.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/components/datetime/TimeRangeSelector.tsx
Owners: @arize-ai/oss-javascript

chore: bump react aria (#7858)
  app/package.json
  app/pnpm-lock.yaml
  app/src/components/dataset/DatasetSelect.tsx
  app/src/components/datetime/TimeRangeSelector.tsx
  app/src/components/retention/ProjectTraceRetentionPolicySelect.tsx
  app/src/pages/embedding/MetricSelector.tsx
  app/src/pages/projects/RemoveProjectDataForm.tsx
  cspell.json
Owners: @arize-ai/oss-javascript

fix annotate button
  app/src/pages/settings/SettingsDataPage.tsx
  app/src/pages/trace/SpanAnnotationsEmpty.tsx
  app/src/pages/trace/SpanDetails.tsx
Owners: @arize-ai/oss-javascript

fix annotate button (#7859)
  app/src/pages/settings/SettingsDataPage.tsx
  app/src/pages/trace/SpanAnnotationsEmpty.tsx
  app/src/pages/trace/SpanDetails.tsx
Owners: @arize-ai/oss-javascript

fix: deprecate compact search field
  app/.eslintrc.js
  app/src/components/pointcloud/ColoringStrategyPicker.tsx
  app/src/components/pointcloud/SelectionDisplayRadioGroup.tsx
  app/src/components/pointcloud/SelectionGridSizeRadioGroup.tsx
  app/src/pages/embedding/EmbeddingActionMenu.tsx
  app/src/pages/embedding/EmbeddingPage.tsx
  app/src/pages/embedding/PointSelectionPanelContent.tsx
  app/src/pages/embedding/__generated__/EmbeddingActionMenuExportClustersMutation.graphql.ts
Owners: @arize-ai/oss-javascript

cleanup
  app/src/pages/embedding/EmbeddingPage.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/pages/embedding/EmbeddingPage.tsx
Owners: @arize-ai/oss-javascript

fix: deprecate compact search field (#7860)
  app/.eslintrc.js
  app/src/components/pointcloud/ColoringStrategyPicker.tsx
  app/src/components/pointcloud/SelectionDisplayRadioGroup.tsx
  app/src/components/pointcloud/SelectionGridSizeRadioGroup.tsx
  app/src/pages/embedding/EmbeddingActionMenu.tsx
  app/src/pages/embedding/EmbeddingPage.tsx
  app/src/pages/embedding/PointSelectionPanelContent.tsx
  app/src/pages/embedding/__generated__/EmbeddingActionMenuExportClustersMutation.graphql.ts
Owners: @arize-ai/oss-javascript

change markdown mode to select
  app/src/components/markdown/MarkdownModeRadioGroup.tsx
  app/src/components/markdown/MarkdownModeSelect.tsx
  app/src/components/markdown/index.tsx
  app/src/components/select/Select.tsx
  app/src/pages/playground/PlaygroundOutput.tsx
  app/src/pages/trace/SpanAside.tsx
  app/src/pages/trace/SpanDetails.tsx
Owners: @arize-ai/oss-javascript
