Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

chore(main): release arize-phoenix-client 1.12.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

docs: 6/17 Release Notes updates (GITBOOK-20)
  docs/section-release-notes/06.06.2025-experiment-progress-graph.md
  docs/section-release-notes/README.md
  docs/section-release-notes/SUMMARY.md
Owners: none

refactor to use an mcp client
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-mcp/src/supportTools.ts
Owners: @arize-ai/oss-javascript

use mcp client
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-mcp/src/supportTools.ts
  js/packages/phoenix-mcp/src/test.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

cleanup
  js/packages/phoenix-mcp/src/supportTools.ts
Owners: @arize-ai/oss-javascript

remove
  js/packages/phoenix-mcp/src/test.ts
Owners: @arize-ai/oss-javascript

docs: phoenix June release notes update (GITBOOK-24)
  docs/section-release-notes/.gitbook/includes/untitled.md
  docs/section-release-notes/05.09.2025-annotations-data-retention-policies-hotkeys.md
  docs/section-release-notes/06.04.2025-ollama-support-in-playground.md
  docs/section-release-notes/06.06.2025-experiment-progress-graph.md
  docs/section-release-notes/06.12.2025-dataset-filtering.md
  docs/section-release-notes/06.13.2025-enhanced-span-creation-and-logging.md
  docs/section-release-notes/06.13.2025-session-filtering.md
  docs/section-release-notes/06.25.2025-amazon-bedrock-support-in-playground.md
  docs/section-release-notes/06.25.2025-cost-tracking.md
  docs/section-release-notes/06.25.2025-new-phoenix-cloud.md
  docs/section-release-notes/README.md
  docs/section-release-notes/SUMMARY.md
Owners: none

fix(helm): improve labels consistency
  helm/templates/phoenix/ingress.yaml
  helm/templates/phoenix/secret.yaml
  helm/templates/phoenix/service.yaml
Owners: none

install pydantic
  tox.ini
Owners: none

add litellm source
  scripts/sync_litellm_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

remove old models
  scripts/sync_litellm_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

move script
  .github/.scripts/sync_models.py
  .github/workflows/cost-sync.yml
  tox.ini
Owners: none

test
  .github/workflows/cost-sync.yml
Owners: none

test
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

chore(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

Revert "test"
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

Revert "test"
  .github/workflows/cost-sync.yml
Owners: none

fix(helm): improve labels consistency (#8398)
  helm/templates/phoenix/ingress.yaml
  helm/templates/phoenix/secret.yaml
  helm/templates/phoenix/service.yaml
Owners: none

refactor: migrate AnnotationTooltip to phoenix component
  app/src/components/annotation/AnnotationSummaryGroup.tsx
  app/src/components/annotation/AnnotationTooltip.tsx
Owners: @arize-ai/oss-javascript

make the dependency explicit
  pyproject.toml
Owners: none

fix: Support ISO8601 strings during experiment eval upsert (#8394)
  pyproject.toml
  requirements/type-check.txt
  src/phoenix/server/api/routers/v1/experiment_evaluations.py
Owners: @arize-ai/oss-python

ci: remove type ignore
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
Owners: none

feat: add db disk usage monitor
  src/phoenix/config.py
  src/phoenix/server/api/auth.py
  src/phoenix/server/api/routers/v1/annotation_configs.py
  src/phoenix/server/api/routers/v1/datasets.py
  src/phoenix/server/api/routers/v1/evaluations.py
  src/phoenix/server/api/routers/v1/experiment_runs.py
  src/phoenix/server/api/routers/v1/experiments.py
  src/phoenix/server/api/routers/v1/projects.py
  src/phoenix/server/api/routers/v1/prompts.py
  src/phoenix/server/api/routers/v1/spans.py
  src/phoenix/server/api/routers/v1/traces.py
  src/phoenix/server/api/routers/v1/users.py
  src/phoenix/server/app.py
  src/phoenix/server/authorization.py
  src/phoenix/server/daemons/db_disk_usage_monitor.py
  src/phoenix/server/email/sender.py
  src/phoenix/server/email/templates/db_disk_usage_notification.html
  src/phoenix/server/email/types.py
  src/phoenix/server/types.py
  tests/integration/server/test_db_disk_usage_monitor.py
Owners: @arize-ai/oss-python

clean up
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
Owners: none

clean up
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
Owners: none

Addressing comments, removing comments, ensuring correct accuracy with real labels
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_calling_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

ci: fix type ignore (#8401)
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
Owners: none

ci: fix type ignore (#8401)
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
Owners: none

refactor: refactor to use an mcp client (#8397)
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-mcp/src/supportTools.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

docs: docs: release notes updates (GITBOOK-25)
  docs/section-release-notes/06.03.2025-deploy-via-helm.md
  docs/section-release-notes/README.md
  docs/section-release-notes/SUMMARY.md
Owners: none

feat: add phoenix-support tool to mcp (#8395)
  js/packages/phoenix-mcp/README.md
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-mcp/src/index.ts
  js/packages/phoenix-mcp/src/supportTools.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

refactor: migrate AnnotationTooltip to phoenix component (#8404)
  app/src/components/annotation/AnnotationSummaryGroup.tsx
  app/src/components/annotation/AnnotationTooltip.tsx
Owners: @arize-ai/oss-javascript

feat: add cost summary to trace header
  app/src/pages/trace/TraceDetails.tsx
  app/src/pages/trace/__generated__/TraceDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/TraceHeaderQuery.graphql.ts
Owners: @arize-ai/oss-javascript

ci(cost): sync cost manifest (#8271)
  .github/.scripts/sync_models.py
  .github/workflows/cost-sync.yml
  src/phoenix/db/facilitator.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
  tests/unit/db/test_facilitator.py
  tox.ini
Owners: @arize-ai/oss-python

feat: add cost summary to trace header (#8406)
  app/src/pages/trace/TraceDetails.tsx
  app/src/pages/trace/__generated__/TraceDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/TraceHeaderQuery.graphql.ts
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 11.4.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.12.0 (#8212)
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.4.0 (#8400)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 11.4.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

spot-checking-per-million
  .github/.scripts/sync_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python
