Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

add id
  app/src/pages/project/ProjectConfigPage.tsx
Owners: @arize-ai/oss-javascript

client side stip out zero values
  app/src/pages/playground/playgroundUtils.ts
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

prettier
  app/src/pages/project/ProjectConfigPage.tsx
Owners: @arize-ai/oss-javascript

fix tsc err
  app/src/components/pointcloud/PointCloudDisplaySettings.tsx
Owners: @arize-ai/oss-javascript

chore: migrate projectconfig to select (#7795)
  app/src/pages/project/ProjectConfigPage.tsx
Owners: @arize-ai/oss-javascript

update image tag
  .github/workflows/docker-build-experimental.yml
  .github/workflows/docker-build-release.yml
  helm/Chart.yaml
  helm/values.yaml
Owners: none

fix: remove precense_penalty if its default value (#7689)
  app/src/pages/playground/playgroundUtils.ts
Owners: @arize-ai/oss-javascript

feat: migrate ColoringStrategyPicker from Picker to Select component
  app/src/components/pointcloud/ColoringStrategyPicker.tsx
Owners: @arize-ai/oss-javascript

prettier
  app/src/components/content/Keyboard.tsx
  app/src/components/pointcloud/ColoringStrategyPicker.tsx
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/pages/prompt/PromptLatestVersionsList.tsx
Owners: @arize-ai/oss-javascript

prettier
  app/src/components/content/Keyboard.tsx
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/pages/prompt/PromptLatestVersionsList.tsx
Owners: @arize-ai/oss-javascript

chore: model provider select
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/ModelProviderSelect.tsx
Owners: @arize-ai/oss-javascript

naming issue
  app/src/pages/playground/ModelProviderPicker.tsx
Owners: @arize-ai/oss-javascript

update relay
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/ModelProviderSelect.tsx
  app/src/pages/playground/__generated__/ModelConfigButtonDialogQuery.graphql.ts
  app/src/pages/playground/__generated__/ModelProviderSelectFragment.graphql.ts
Owners: @arize-ai/oss-javascript

make dropdown work
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/ModelProviderSelect.tsx
Owners: @arize-ai/oss-javascript

full width
  app/src/pages/playground/ModelProviderSelect.tsx
Owners: @arize-ai/oss-javascript

docs: add provisioning to self-hosting
  docs/section-self-hosting/SUMMARY.md
Owners: none

add provisioning section
  docs/section-self-hosting/provisioning.md
Owners: none

add email
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/configuration.md
  docs/section-self-hosting/email.md
Owners: none

docs: add provisioning to self-hosting (#7800)
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/configuration.md
  docs/section-self-hosting/email.md
  docs/section-self-hosting/provisioning.md
Owners: none

Add error handling
  src/phoenix/server/api/routers/v1/users.py
Owners: @arize-ai/oss-python

move params arround
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/users.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

openapi
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/users.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

cleanup
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/__init__.py
  src/phoenix/server/api/routers/v1/users.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

cleanup
  src/phoenix/server/api/routers/v1/users.py
Owners: @arize-ai/oss-python

cleanup
  src/phoenix/server/api/routers/v1/users.py
Owners: @arize-ai/oss-python

add RBAC
  src/phoenix/server/api/routers/v1/users.py
Owners: @arize-ai/oss-python

cleanup
  tests/unit/server/api/routers/v1/test_users.py
Owners: none

wip
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  src/phoenix/db/enums.py
  src/phoenix/db/models.py
  src/phoenix/server/api/routers/v1/users.py
  tests/unit/db/test_facilitator.py
Owners: @arize-ai/oss-python

clean up
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/scripts/codegen/transform.py
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/resources/users/__init__.py
  schemas/openapi.json
  src/phoenix/db/enums.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/api_key_mutations.py
  src/phoenix/server/api/mutations/user_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/oauth2.py
  src/phoenix/server/api/routers/v1/projects.py
  src/phoenix/server/api/routers/v1/users.py
  src/phoenix/server/bearer_auth.py
  src/phoenix/server/jwt_store.py
  src/phoenix/server/types.py
  tests/integration/client/test_users.py
  tests/unit/db/test_facilitator.py
  tests/unit/server/api/routers/v1/test_users.py
  tests/unit/server/test_authorization.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

remove client methods
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/resources/users/__init__.py
  tests/integration/client/test_users.py
Owners: @arize-ai/oss-python

fix mypy
  packages/phoenix-client/src/phoenix/client/resources/users/__init__.py
Owners: @arize-ai/oss-python

improve tests
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/models.py
  src/phoenix/server/api/routers/v1/users.py
  tests/integration/client/conftest.py
  tests/integration/client/test_annotations.py
  tests/integration/client/test_users.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

flatten input to create method
  packages/phoenix-client/src/phoenix/client/resources/users/__init__.py
  tests/integration/client/test_users.py
Owners: @arize-ai/oss-python

re-build openapi
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/db/models.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix rebase
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
Owners: @arize-ai/oss-python

remove unnecessary queries
  src/phoenix/server/api/routers/v1/users.py
  tests/integration/client/test_users.py
Owners: @arize-ai/oss-python

fix incorrect status code
  src/phoenix/server/api/routers/v1/users.py
  tests/integration/client/test_users.py
Owners: @arize-ai/oss-python

Fix: Ensure UTC timestamps for Arize trace import
  export/importers/import_traces.py
Owners: none

rebuild schema
  schemas/openapi.json
Owners: none
