Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

Update field icon styles
  app/src/components/field/FieldDangerIcon.tsx
  app/src/components/field/FieldSuccessIcon.tsx
  app/src/components/field/styles.ts
  app/src/pages/settings/ModelForm.tsx
  app/stories/TextField.stories.tsx
Owners: @arize-ai/oss-javascript

feat(costs): Validate user-provided regular expressions against API (#8244)
  app/src/components/RegexField.tsx
  app/src/components/__generated__/RegexFieldQuery.graphql.ts
  app/src/components/field/FieldDangerIcon.tsx
  app/src/components/field/FieldSuccessIcon.tsx
  app/src/components/field/styles.ts
  app/src/pages/settings/ModelForm.tsx
  app/stories/TextField.stories.tsx
Owners: @arize-ai/oss-javascript

GITBOOK-18: adding annotations concepts
  docs/section-learn/SUMMARY.md
  docs/section-learn/tracing/annotations.md
Owners: none

GITBOOK-19: No subject
  docs/section-learn/SUMMARY.md
  docs/section-learn/tracing/annotations-concepts.md
Owners: none

docs: moving concepts (GITBOOK-1271)
  docs/SUMMARY.md
  docs/tracing/concepts-tracing/README.md
  docs/tracing/concepts-tracing/concepts-annotations.md
  docs/tracing/concepts-tracing/faqs-tracing.md
  docs/tracing/concepts-tracing/how-does-tracing-work.md
  docs/tracing/concepts-tracing/what-are-traces.md
  docs/tracing/features-tracing/how-to-annotate-traces.md
  docs/tracing/llm-traces.md
  docs/user-guide.md
Owners: none

clean up
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/cost_tracking/cost_model_lookup.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/api/mutations/model_mutations.py
Owners: @arize-ai/oss-python

refactor(cost): rename `is_override` to `is_built_in` on `generative_models` table (#8240)
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/insertion/helpers.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/cost_model_lookup.py
  src/phoenix/server/daemons/span_cost_calculator.py
  tests/unit/db/insertion/test_helpers.py
  tests/unit/server/api/mutations/test_model_mutations.py
  tests/unit/server/cost_tracking/test_cost_lookup.py
  tests/unit/server/cost_tracking/test_cost_model_lookup.py
Owners: @arize-ai/oss-python

Update src/phoenix/db/models.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

fix(cost): do not cascade delete span cost records when model record is deleted (#8241)
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

Update src/phoenix/db/models.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/db/facilitator.py
  src/phoenix/server/daemons/span_cost_calculator.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/db/facilitator.py
Owners: @arize-ai/oss-python

feat(cost): soft delete for generative models (#8245)
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/daemons/generative_model_store.py
  src/phoenix/server/daemons/span_cost_calculator.py
Owners: @arize-ai/oss-python

feat(costs): Implement rich token count and cost breakdowns
  app/src/components/RichTokenCostBreakdown.tsx
  app/src/components/chart/SegmentChart.tsx
  app/src/components/chart/colors.tsx
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/utils/numberFormatUtils.ts
Owners: @arize-ai/oss-javascript

DIsable animations
  app/src/components/chart/SegmentChart.tsx
Owners: @arize-ai/oss-javascript

feat(cost): show cost breakdown as tooltip
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

Reduce size of segment chart
  app/src/components/RichTokenCostBreakdown.tsx
  app/src/components/chart/SegmentChart.tsx
Owners: @arize-ai/oss-javascript

revise logic
  src/phoenix/server/cost_tracking/cost_model_lookup.py
Owners: @arize-ai/oss-python

fix sorting
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

clean up
  src/phoenix/server/cost_tracking/cost_model_lookup.py
Owners: @arize-ai/oss-python

Refactor SegmentChart to plain HTML
  app/src/components/chart/SegmentChart.tsx
Owners: @arize-ai/oss-javascript

Update app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

Safeguard division
  app/src/components/chart/SegmentChart.tsx
Owners: @arize-ai/oss-javascript

Update colors and add tooltup arrow
  app/src/pages/project/ProjectPageHeader.tsx
Owners: @arize-ai/oss-javascript

clean up
  src/phoenix/server/cost_tracking/cost_model_lookup.py
  tests/unit/server/cost_tracking/test_cost_model_lookup.py
Owners: @arize-ai/oss-python

clean up
  tests/unit/server/cost_tracking/test_cost_model_lookup.py
Owners: none

arrows
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): show cost breakdown as tooltip (#8263)
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

clean up
  src/phoenix/server/cost_tracking/cost_model_lookup.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/GenerativeModel.py
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: @arize-ai/oss-python

Increase graph padding
  app/src/components/RichTokenCostBreakdown.tsx
Owners: @arize-ai/oss-javascript

Reduce segment gap
  app/src/components/chart/SegmentChart.tsx
Owners: @arize-ai/oss-javascript

feat(costs): Implement rich token count and cost breakdowns (#8256)
  app/src/components/RichTokenCostBreakdown.tsx
  app/src/components/chart/SegmentChart.tsx
  app/src/components/chart/colors.tsx
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/utils/numberFormatUtils.ts
Owners: @arize-ai/oss-javascript

clean up
  src/phoenix/server/cost_tracking/cost_model_lookup.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/cost_tracking/regex_specificity.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/cost_tracking/cost_model_lookup.py
Owners: @arize-ai/oss-python

docs(cost): add cost tracking docs
  docs/tracing/how-to-tracing/README.md
  docs/tracing/how-to-tracing/cost-tracking/README.md
Owners: none

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
