Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

feat: Add more token details to OpenAI and Anthropic playground
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

Register claude 4 models with correct client
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

cleanup
  docs/tracing/how-to-tracing/README.md
  docs/tracing/how-to-tracing/cost-tracking/README.md
Owners: none

Update docs/tracing/how-to-tracing/cost-tracking/README.md
  docs/tracing/how-to-tracing/cost-tracking/README.md
Owners: none

Update docs/tracing/how-to-tracing/cost-tracking/README.md
  docs/tracing/how-to-tracing/cost-tracking/README.md
Owners: none

Add session evaluation tutorial notebook
  tutorials/evals/evaluate_session.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

remove provider from manifest
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

Update docs/tracing/how-to-tracing/cost-tracking/README.md
  docs/tracing/how-to-tracing/cost-tracking/README.md
Owners: none

feat(otel): support tracer provider arguments
  packages/phoenix-otel/pyproject.toml
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python

Revert "feat(otel): support tracer provider arguments"
  packages/phoenix-otel/pyproject.toml
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python

Revert "feat(otel): support tracer provider arguments" (#8269)
  packages/phoenix-otel/pyproject.toml
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python

feat(otel): support tracer provider arguments
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python

add try except
  src/phoenix/datetime_utils.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/cost_tracking/cost_model_lookup.py
  src/phoenix/server/daemons/generative_model_store.py
  src/phoenix/server/daemons/span_cost_calculator.py
  tests/unit/test_datetime_utils.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/datetime_utils.py
Owners: @arize-ai/oss-python

docs: capture span context (GITBOOK-1272)
  docs/SUMMARY.md
  docs/tracing/how-to-tracing/feedback-and-annotations/annotating-auto-instrumented-spans.md
  docs/tracing/how-to-tracing/feedback-and-annotations/annotating-in-the-ui.md
Owners: none

types
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/cost_tracking/cost_model_lookup.py
Owners: @arize-ai/oss-python

bump min version
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

fix(cost): revise cost model matching logic so a model with missing provider value matches any provider (#8265)
  src/phoenix/datetime_utils.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/cost_tracking/cost_model_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
  src/phoenix/server/cost_tracking/regex_specificity.py
  src/phoenix/server/daemons/generative_model_store.py
  src/phoenix/server/daemons/span_cost_calculator.py
  tests/unit/server/api/mutations/test_model_mutations.py
  tests/unit/server/cost_tracking/test_cost_model_lookup.py
  tests/unit/test_datetime_utils.py
Owners: @arize-ai/oss-python

docs: update capture_span_context imports (GITBOOK-1273)
  docs/tracing/how-to-tracing/feedback-and-annotations/annotating-auto-instrumented-spans.md
Owners: none

feat(otel): support tracer provider arguments (#8270)
  packages/phoenix-otel/pyproject.toml
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.12.0
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.12.0 (#8268)
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

Update docs/user-guide.md
  docs/user-guide.md
Owners: none

docs: fix loopback address being used for routing
  docs/section-self-hosting/deployment-options/docker.md
  docs/tracing/llm-traces-1/quickstart-tracing-python.md
Owners: none

docs: fix loopback address being used for routing (#8273)
  docs/section-self-hosting/deployment-options/docker.md
  docs/tracing/llm-traces-1/quickstart-tracing-python.md
Owners: none

docs(otel): tracer provider kwargs docs
  docs/section-sdk-api-reference/python-pacakges/arize-phoenix-otel.md
  packages/phoenix-otel/README.md
  packages/phoenix-otel/docs/source/index.md
Owners: @arize-ai/oss-python

fix: use bigint for foreign keys
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
Owners: @arize-ai/oss-python

fix(cost): use big integer (BIGINT) for foreign keys (#8276)
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
Owners: @arize-ai/oss-python

Do not redefine variable
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.12.1
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.12.1 (#8277)
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

Resolve test failures
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/test_subscriptions.py
Owners: @arize-ai/oss-python

Adding Agent tool selection evaluation notebook
  tutorials/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Moving to another folder as per conventions
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Adding another notebook
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

feat: Update playground tokens (#8267)
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/test_subscriptions.py
Owners: @arize-ai/oss-python

refactor: simplify insert step for span costs
  src/phoenix/server/daemons/span_cost_calculator.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/daemons/span_cost_calculator.py
Owners: @arize-ai/oss-python

feat(cost): More clearly represent the relationship between model and provider during model configuration
  app/src/components/token/Token.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
