Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

docker
  .github/workflows/docker-build-experimental.yml
Owners: none

Revert "docker"
  .github/workflows/docker-build-experimental.yml
Owners: none

fragment
  app/src/pages/playground/ModelProviderPicker.tsx
Owners: @arize-ai/oss-javascript

js schema
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
Owners: @arize-ai/oss-python

tox run python client
  packages/phoenix-client/src/phoenix/client/resources/annotations/__init__.py
  packages/phoenix-client/src/phoenix/client/types/prompts.py
Owners: @arize-ai/oss-python

add test cases
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  packages/phoenix-client/src/phoenix/client/types/prompts.py
  tests/integration/client/test_prompts.py
Owners: @arize-ai/oss-python

codegen
  tests/__generated__/graphql/__init__.py
Owners: none

fix: Prevent trace details slideover from prematurely closing
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/PlaygroundRunTraceDialog.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
Owners: @arize-ai/oss-javascript

fix test generated code
  tests/__generated__/graphql/__init__.py
  tests/__generated__/graphql/__main__.py
Owners: none

lint
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
Owners: @arize-ai/oss-javascript

filter by project
  src/phoenix/db/types/trace_retention.py
  test_fix_verification.py
Owners: @arize-ai/oss-python

fix: Prevent trace details slideover from prematurely closing (#7764)
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/PlaygroundRunTraceDialog.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
Owners: @arize-ai/oss-javascript

fix filter
  src/phoenix/db/types/trace_retention.py
  test_fix_verification.py
Owners: @arize-ai/oss-python

ruff
  src/phoenix/db/types/trace_retention.py
Owners: @arize-ai/oss-python

type check
  src/phoenix/db/types/trace_retention.py
Owners: @arize-ai/oss-python

remove comma
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-python

GITBOOK-19: Mastra docs cleanup
  docs/section-integrations/.gitbook/includes/ts-launch-phoenix.md
  docs/section-integrations/frameworks/mastra/mastra-tracing.md
Owners: none

add trace retention test
  tests/unit/db/types/test_trace_retention.py
Owners: none

add deepseek support for the templates in ts
  js/packages/phoenix-client/src/prompts/createPrompt.ts
Owners: @arize-ai/oss-javascript

add deepseek support for the templates in ts
  js/.changeset/khaki-ducks-take.md
Owners: @arize-ai/oss-javascript

revert trace retention files to main branch versions for separate PR
  src/phoenix/db/types/trace_retention.py
  tests/unit/db/types/test_trace_retention.py
Owners: @arize-ai/oss-python

feat: improve trace retention with project scoping and comprehensive tests
  src/phoenix/db/types/trace_retention.py
  tests/unit/db/types/test_trace_retention.py
Owners: @arize-ai/oss-python

consolidate test
  tests/integration/client/test_prompts.py
Owners: none

chore(main): release arize-phoenix-client 1.8.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

feat(helm): add initial helm chart (#7430)
  helm/.helmignore
  helm/Chart.yaml
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/database/deployment.yaml
  helm/templates/database/pvc.yaml
  helm/templates/database/service.yaml
  helm/templates/phoenix/configmap.yaml
  helm/templates/phoenix/deployment.yaml
  helm/templates/phoenix/ingress.yaml
  helm/templates/phoenix/secret.yaml
  helm/templates/phoenix/service.yaml
  helm/values.yaml
Owners: none

chore(main): release arize-phoenix 10.2.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.2.0 (#7756)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update Phoenix version to 10.2.0 in Kustomize
  kustomize/base/phoenix.yaml
Owners: none

feat: fix ds key err:
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

fix: typo in deepseek error message for missing api key (#7771)
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.2.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.2.1 (#7772)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update Phoenix version to 10.2.1 in Kustomize
  kustomize/base/phoenix.yaml
Owners: none

chore: update Phoenix version to updated in Kustomize
  helm/Chart.yaml
  kustomize/base/phoenix.yaml
Owners: none

chore: update Phoenix version to updated in Kustomize
  helm/Chart.yaml
  kustomize/base/phoenix.yaml
Owners: none

chore: update Phoenix version to updated in Kustomize
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

fix(export): Align API key auth with Phoenix Cloud expectations
  export/.env.example
  export/README.md
  export/export_all_projects.py
Owners: none

Revert "feat: improve trace retention with project scoping and comprehensive tests"
  src/phoenix/db/types/trace_retention.py
  tests/unit/db/types/test_trace_retention.py
Owners: @arize-ai/oss-python

fix test
  tests/unit/db/types/test_trace_retention.py
Owners: none

pass the test
  src/phoenix/db/types/trace_retention.py
Owners: @arize-ai/oss-python

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
