Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

refactor(cost): rename `Model` as `GenerativeModel` (#8121)
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/model_total_costs.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

refactor(ci): rename `span_id` to `span_rowid` (#8123)
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/token_costs.py
  src/phoenix/server/api/input_types/SpanSort.py
Owners: @arize-ai/oss-python

chore: clean up cost manifest (#8126)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

fix(cost): raise error on model name collision (#8142)
  src/phoenix/server/api/mutations/model_mutations.py
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: @arize-ai/oss-python

feat: playground move metrics to top (#8144)
  app/src/components/table/CellTop.tsx
  app/src/components/table/index.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
Owners: @arize-ai/oss-javascript

fix(cost): display cost for playground runs over a dataset (#8140)
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
Owners: @arize-ai/oss-javascript

feat(costs): wire up cost for playground spans (#8134)
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/playground/__generated__/RunMetadataFooterQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_models.graphql.ts
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): Reorganize cost model form (#8150)
  app/src/components/dialog/Dialog.tsx
  app/src/components/overlay/Modal.tsx
  app/src/pages/settings/AnnotationConfigDialog.tsx
  app/src/pages/settings/ModelForm.tsx
Owners: @arize-ai/oss-javascript

chore: format graphql
  app/schema.graphql
Owners: @arize-ai/oss-javascript

chore: ignore graphql schema from formatting
  .prettierignore
Owners: none

parent 3e5ce61525f0714bafba9845c4c88f27c6ad5bb4 author Roger Yang <roger.yang@arize.com> 1750290438 -0700 committer Alexander Song <axiomofjoy@gmail.com> 1750368699 -0700
  app/schema.graphql
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  app/src/pages/playground/__generated__/RunMetadataFooterQuery.graphql.ts
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageHeader_stats.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  app/src/utils/numberFormatUtils.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_cost_detail_summary_entries_by_span.py
  src/phoenix/server/api/dataloaders/types.py
  src/phoenix/server/api/types/CostBreakdown.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore: ignore graphql schema from formatting (#8166)
  .prettierignore
Owners: none

remove old span cost
  app/schema.graphql
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/SpanCost.py
  src/phoenix/server/api/types/SpanCostDetail.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

gititnore and remove console output for telemetry
  examples/observe_agents/.gitignore
  examples/observe_agents/coordinator/coordinator.py
  examples/observe_agents/mail_agent/mail_agent.py
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

trace token count
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
Owners: @arize-ai/oss-javascript

lint
  app/src/pages/trace/SessionDetailsTraceList.tsx
Owners: @arize-ai/oss-javascript

fix: De-duplicate dialog code in model delete dialog
  app/src/pages/settings/DeleteModelButton.tsx
Owners: @arize-ai/oss-javascript

fix: De-duplicate dialog code in model delete dialog (#8162)
  app/src/pages/settings/DeleteModelButton.tsx
Owners: @arize-ai/oss-javascript

feat(cost): session cost summaries (#8156)
  app/schema.graphql
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  app/src/pages/playground/__generated__/RunMetadataFooterQuery.graphql.ts
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageHeader_stats.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  app/src/utils/numberFormatUtils.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_cost_detail_summary_entries_by_span.py
  src/phoenix/server/api/dataloaders/types.py
  src/phoenix/server/api/types/CostBreakdown.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/SpanCost.py
  src/phoenix/server/api/types/SpanCostDetail.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix(cost): validate regex before creating or updating cost
  src/phoenix/server/api/mutations/model_mutations.py
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: @arize-ai/oss-python

clean
  src/phoenix/server/api/mutations/model_mutations.py
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: @arize-ai/oss-python

feat(cost): refactor playground experiment table to use CellTop
  app/src/GlobalStyles.tsx
  app/src/components/button/IconButton.tsx
  app/src/components/button/index.tsx
  app/src/components/table/CellTop.tsx
  app/src/components/table/styles.ts
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/PlaygroundErrorWrap.tsx
  app/src/pages/playground/PlaygroundToolCall.tsx
  app/stories/IconButton.stories.tsx
Owners: @arize-ai/oss-javascript

validate regex
  app/schema.graphql
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

update stories
  app/stories/IconButton.stories.tsx
Owners: @arize-ai/oss-javascript

fix(cost): validate regex before creating or updating generative model (#8167)
  app/schema.graphql
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): add last used at column to models table
  app/schema.graphql
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/last_used_times_by_generative_model_id.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix: make welcome email just send you to the instance
  src/phoenix/server/email/sender.py
Owners: @arize-ai/oss-python

fix: send welcome email to base url
  src/phoenix/server/email/sender.py
Owners: @arize-ai/oss-python

clean
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
Owners: @arize-ai/oss-javascript

fix tests
  tests/integration/auth/test_auth.py
  tests/integration/client/test_users.py
Owners: none

ruff
  tests/integration/client/test_users.py
Owners: none

feat(cost): add last used at column to models table (#8169)
  app/schema.graphql
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/last_used_times_by_generative_model_id.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): move actions into the headers in playground (#8151)
  app/src/GlobalStyles.tsx
  app/src/components/button/IconButton.tsx
  app/src/components/button/index.tsx
  app/src/components/table/CellTop.tsx
  app/src/components/table/styles.ts
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/PlaygroundErrorWrap.tsx
  app/src/pages/playground/PlaygroundToolCall.tsx
  app/stories/IconButton.stories.tsx
Owners: @arize-ai/oss-javascript

fix: make welcome email just send you to the instance (#8170)
  src/phoenix/server/email/sender.py
  tests/integration/auth/test_auth.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.14.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

feat(cost): add a model is custom indicator
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/DeleteModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): add a model is custom indicator (#8171)
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/DeleteModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

fix readme
  README.md
Owners: none

feat(cost): refetch models on new
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
Owners: @arize-ai/oss-javascript

feat(cost): refetch models on clone
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
Owners: @arize-ai/oss-javascript
