Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

fix(dashboards): wire up dashboards (#8579)
  app/schema.graphql
  app/src/@types/time.d.ts
  app/src/components/chart/useBinTimeTickFormatter.ts
  app/src/constants/timeConstants.ts
  app/src/hooks/useTimeBin.ts
  app/src/hooks/useUTCOffsetMinutes.ts
  app/src/pages/dashboard/DashboardBarChart.tsx
  app/src/pages/dashboard/DashboardPage.tsx
  app/src/pages/dashboard/ProjectDashboardPage.tsx
  app/src/pages/dashboard/TraceCountDashboardBarChart.tsx
  app/src/pages/dashboard/__generated__/TraceCountDashboardBarChartQuery.graphql.ts
  scripts/generate_spans/generate_spans_for_time_series.py
  src/phoenix/datetime_utils.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
  tests/unit/test_datetime_utils.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

ci: Update chromatic.yml to only run on PRs
  .github/workflows/chromatic.yml
Owners: none

Update chromatic.yml
  .github/workflows/chromatic.yml
Owners: none

ci: Update chromatic.yml to only run on PRs (#8592)
  .github/workflows/chromatic.yml
Owners: none

add readme
  README.md
  js/benchmarks/.env.example
  js/benchmarks/README.md
  js/benchmarks/package-lock.json
  js/benchmarks/package.json
  js/benchmarks/src/benchmark.ts
  js/benchmarks/src/dataset.ts
  js/benchmarks/src/index.ts
  js/benchmarks/tsconfig.json
  js/packages/phoenix-evals/README.md
Owners: @arize-ai/oss-javascript

remove benchmarks
  js/benchmarks/.env.example
  js/benchmarks/README.md
  js/benchmarks/package-lock.json
  js/benchmarks/package.json
  js/benchmarks/src/benchmark.ts
  js/benchmarks/src/dataset.ts
  js/benchmarks/src/index.ts
  js/benchmarks/tsconfig.json
Owners: @arize-ai/oss-javascript

docs: add typescript evals readme (#8594)
  README.md
  js/packages/phoenix-evals/README.md
Owners: @arize-ai/oss-javascript

docs: add scaffolding for typescript packages (GITBOOK-19)
  docs/section-sdk-api-reference/SUMMARY.md
  docs/section-sdk-api-reference/typescript-packages/arizeai-phoenix-client.md
  docs/section-sdk-api-reference/typescript-packages/arizeai-phoenix-evals.md
Owners: none

docs: add typescript sub-packages
  docs/section-sdk-api-reference/typescript-packages/arizeai-phoenix-client.md
  docs/section-sdk-api-reference/typescript-packages/arizeai-phoenix-evals.md
Owners: none

docs: add typescript sub-packages (#8595)
  docs/section-sdk-api-reference/typescript-packages/arizeai-phoenix-client.md
  docs/section-sdk-api-reference/typescript-packages/arizeai-phoenix-evals.md
Owners: none

fix:update phoenix support to search (#8589)
  js/.changeset/thick-clowns-cheer.md
  js/packages/phoenix-mcp/src/supportTools.ts
Owners: @arize-ai/oss-javascript

feat(evals): add more telemetry control, tests
  js/packages/phoenix-evals/src/llm/createClassifier.ts
  js/packages/phoenix-evals/src/llm/createHallucinationEvaluator.ts
  js/packages/phoenix-evals/src/types/evals.ts
Owners: @arize-ai/oss-javascript

more tests
  js/packages/phoenix-evals/test/llm/createClassifier.test.ts
  js/packages/phoenix-evals/test/llm/createHallucinationEvaluator.test.ts
Owners: @arize-ai/oss-javascript

tests
  js/.changeset/ten-parts-return.md
Owners: @arize-ai/oss-javascript

feat(evals): add telemetry controls, tests (#8597)
  js/.changeset/ten-parts-return.md
  js/packages/phoenix-evals/src/llm/createClassifier.ts
  js/packages/phoenix-evals/src/llm/createHallucinationEvaluator.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/packages/phoenix-evals/test/llm/createClassifier.test.ts
  js/packages/phoenix-evals/test/llm/createHallucinationEvaluator.test.ts
Owners: @arize-ai/oss-javascript

Improve datetime consistency
  packages/phoenix-client/src/phoenix/client/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Ensure that evaluation runs are robustly converted
  packages/phoenix-client/src/phoenix/client/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Ensure `get_experiment` retrieves existing evaluations
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

Fix pyright issues
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

feat: add env var for support email
  src/phoenix/config.py
  src/phoenix/server/api/auth.py
  src/phoenix/server/api/exceptions.py
  src/phoenix/server/app.py
  src/phoenix/server/authorization.py
  src/phoenix/server/email/sender.py
  src/phoenix/server/email/templates/db_disk_usage_notification.html
  tests/integration/server/test_db_disk_usage_monitor.py
Owners: @arize-ai/oss-python

fix test
  tests/integration/server/test_db_disk_usage_monitor.py
Owners: none

add docstrings
  src/phoenix/config.py
  src/phoenix/server/api/auth.py
  src/phoenix/server/authorization.py
Owners: @arize-ai/oss-python

feat: Experiment enhancements (#8591)
  packages/phoenix-client/src/phoenix/client/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.13.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.13.0 (#8557)
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

fix: update stacked time series chart to use categorical colors
  app/stories/StackedTimeSeriesBarChart.stories.tsx
Owners: @arize-ai/oss-javascript

fix: don't animate bar chart entry
  app/stories/StackedTimeSeriesBarChart.stories.tsx
Owners: @arize-ai/oss-javascript

feat: segmented bar chart separators
  app/stories/StackedTimeSeriesBarChart.stories.tsx
Owners: @arize-ai/oss-javascript

nit: y axis spacing
  app/stories/StackedTimeSeriesBarChart.stories.tsx
Owners: @arize-ai/oss-javascript

feat: measure y axis, reposition legend accordingly
  app/stories/StackedTimeSeriesBarChart.stories.tsx
Owners: @arize-ai/oss-javascript

add virtualized and refactor table to use virtual rows
  app/package.json
  app/pnpm-lock.yaml
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

use the virtualizer to measure height
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

Ensure dry run evaluations do not access the API
  packages/phoenix-client/src/phoenix/client/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Add dry run integration test
  tests/integration/client/test_experiments.py
Owners: none

add fixed height to the table
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

Still pull dataset examples from API
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

feat: adapt chart size based on legend wrapping etc
  app/stories/StackedTimeSeriesBarChart.stories.tsx
Owners: @arize-ai/oss-javascript

feat: hide layout recalc behind quick fade
  app/stories/StackedTimeSeriesBarChart.stories.tsx
Owners: @arize-ai/oss-javascript

refactor: dialog-container
  app/src/pages/examples/ExampleSelectionToolbar.tsx
Owners: @arize-ai/oss-javascript
