Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

Update name pattern to match pattern
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): More clearly represent the relationship between model and provider during model configuration (#8280)
  app/src/components/token/Token.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat: match models in database to manifest via facilitator
  src/phoenix/db/facilitator.py
  tests/unit/db/test_facilitator.py
Owners: @arize-ai/oss-python

feat: match models in database to manifest via facilitator (#8281)
  src/phoenix/db/facilitator.py
  tests/unit/db/test_facilitator.py
Owners: @arize-ai/oss-python

refactor: simplify insert step for span costs (#8279)
  src/phoenix/server/daemons/span_cost_calculator.py
Owners: @arize-ai/oss-python

sync costs from openrouter
  .github/workflows/cost-sync.yml
  requirements/sync-models.txt
  scripts/sync_openrouter_models.py
  src/phoenix/db/facilitator.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

openrouter source
  scripts/sync_openrouter_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

feat: db revisions
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/cost_tracking/cost_model_lookup.py
  src/phoenix/server/cost_tracking/regex_specificity.py
  tests/integration/db_migrations/test_db_schema_a20694b15f82_cost.py
  tests/unit/db/test_facilitator.py
Owners: @arize-ai/oss-python

docs: Removing get_current_span for langchain specifically (GITBOOK-1274)
  docs/SUMMARY.md
  docs/tracing/how-to-tracing/feedback-and-annotations/capture-feedback.md
Owners: none

Update src/phoenix/db/facilitator.py
  src/phoenix/db/facilitator.py
Owners: @arize-ai/oss-python

clean up
  analyze_index_performance.sql
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

clean up
  analyze_index_performance.sql
Owners: none

fix type check
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/GenerativeModel.py
Owners: @arize-ai/oss-python

clean up
  tests/integration/db_migrations/test_db_schema_a20694b15f82_cost.py
Owners: none

docs: Phoenix Cloud Quickstart Updates (GITBOOK-1276)
  docs/environments.md
  docs/tracing/llm-traces-1/quickstart-tracing-python.md
  docs/tracing/llm-traces-1/quickstart-tracing-ts.md
Owners: none

GITBOOK-25: Update Integrations with Phoenix Cloud instructions
  phoenix-integrations/.gitbook/includes/sign-up-for-phoenix-sign-up....md
Owners: none

GITBOOK-20: Updating FAQs for Phoenix Cloud
  docs/section-learn/resources/faqs/what-is-my-phoenix-endpoint.md
Owners: none

stopping place
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

Add session-level evals notebook
  docs/SUMMARY.md
  docs/evaluation/how-to-evals/running-pre-tested-evals/session-level-evaluations.md
Owners: none

fix: Use correct response body content type
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/routers/v1/test_traces.py
Owners: @arize-ai/oss-python

update
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/GenerativeModel.py
Owners: @arize-ai/oss-python

Add lightweight cursor rules
  docs/.cursor/rules/generalDocsStructure.mdc
Owners: none

fix tests
  src/phoenix/server/cost_tracking/regex_specificity.py
Owners: @arize-ai/oss-python

update index name and add back index
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  tests/integration/db_migrations/test_db_schema_a20694b15f82_cost.py
Owners: @arize-ai/oss-python

fix tests
  tests/unit/server/cost_tracking/test_cost_model_lookup.py
Owners: none

fix: Use correct response body content type (#8284)
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/routers/v1/test_traces.py
Owners: @arize-ai/oss-python

clean up
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

fix(cost): clean manifet
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

fix(cost): database revisions (#8283)
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/cost_tracking/cost_model_lookup.py
  src/phoenix/server/cost_tracking/regex_specificity.py
  tests/integration/db_migrations/test_db_schema_a20694b15f82_cost.py
  tests/unit/db/test_facilitator.py
  tests/unit/server/api/mutations/test_model_mutations.py
  tests/unit/server/cost_tracking/test_cost_model_lookup.py
Owners: @arize-ai/oss-python

fix(cost): clean manifet (#8286)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

fix(cost): disable sorting on trace total cost
  app/src/pages/project/TracesTable.tsx
Owners: @arize-ai/oss-javascript

fix(cost): add model cost
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

GITBOOK-26: Phoenix cloud instruction updates
  docs/section-integrations/.gitbook/includes/ts-launch-phoenix.md
  docs/section-integrations/frameworks/agno/agno-tracing.md
  docs/section-integrations/frameworks/autogen/autogen-tracing.md
  docs/section-integrations/frameworks/crewai/crewai-tracing.md
  docs/section-integrations/frameworks/dspy/dspy-tracing.md
  docs/section-integrations/frameworks/guardrails-ai/guardrails-ai-tracing.md
  docs/section-integrations/frameworks/haystack/haystack-tracing.md
  docs/section-integrations/frameworks/hugging-face-smolagents/smolagents-tracing.md
  docs/section-integrations/frameworks/instructor/instructor-tracing.md
  docs/section-integrations/frameworks/langchain/langchain-tracing.md
  docs/section-integrations/frameworks/langgraph/langgraph-tracing.md
  docs/section-integrations/frameworks/llamaindex/llamaindex-tracing.md
  docs/section-integrations/frameworks/llamaindex/llamaindex-workflows-tracing.md
  docs/section-integrations/frameworks/mastra/mastra-tracing.md
  docs/section-integrations/frameworks/portkey/portkey-tracing.md
  docs/section-integrations/frameworks/pydantic/pydantic-tracing.md
  docs/section-integrations/llm-providers/amazon-bedrock/amazon-bedrock-agents-tracing.md
  docs/section-integrations/llm-providers/litellm/litellm-tracing.md
  docs/section-integrations/prompt-flow/prompt-flow-tracing.md
Owners: none

fix(cost): disable sorting on trace cost (#8287)
  app/src/pages/project/TracesTable.tsx
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

docs(cost): add cost tracking docs (#8266)
  docs/tracing/how-to-tracing/README.md
  docs/tracing/how-to-tracing/cost-tracking/README.md
Owners: none

feat(cost)release cost
  src/phoenix/config.py
Owners: @arize-ai/oss-python

feat(cost)release cost (#8290)
  src/phoenix/config.py
Owners: @arize-ai/oss-python

feat(cost): release cost
  src/phoenix/config.py
Owners: @arize-ai/oss-python

feat(cost)!: release cost (#8291)
  src/phoenix/config.py
Owners: @arize-ai/oss-python

docs: migration guide
  MIGRATION.md
Owners: none

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
