Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

docs: docs: fixing links (GITBOOK-1297)
  docs/README.md
Owners: none

remove capture groups
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

fix: remove regex anchors for model names (#8491)
  .github/.scripts/sync_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

nix confusing logic
  internal_docs/specs/evals.md
Owners: none

docs(evals): spec (#8484)
  internal_docs/specs/evals.md
Owners: none

nix cumulative cost summaries
  app/schema.graphql
  app/src/components/trace/SpanCumulativeTokenCosts.tsx
  app/src/components/trace/SpanCumulativeTokenCostsDetails.tsx
  app/src/components/trace/__generated__/SpanCumulativeTokenCostsDetailsQuery.graphql.ts
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceListRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceList_traces.graphql.ts
  src/phoenix/server/api/types/Span.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix sorting in sessions table by cost
  app/src/pages/project/SessionsTable.tsx
Owners: @arize-ai/oss-javascript

fix(ui): spans table column for cumulative cost summary (#8495)
  app/schema.graphql
  app/src/components/trace/SpanCumulativeTokenCosts.tsx
  app/src/components/trace/SpanCumulativeTokenCostsDetails.tsx
  app/src/components/trace/__generated__/SpanCumulativeTokenCostsDetailsQuery.graphql.ts
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceListRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceList_traces.graphql.ts
  src/phoenix/server/api/types/Span.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore(main): release arize-phoenix 11.6.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.6.0 (#8474)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 11.6.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

feat: add hallucination evaluator
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/default_templates/HALLUCINATION_TEMPLATE.ts
  js/packages/phoenix-evals/src/default_templates/index.ts
  js/packages/phoenix-evals/src/llm/HallucinationEvaluator.ts
  js/packages/phoenix-evals/src/llm/createClassifier.ts
  js/packages/phoenix-evals/src/types/evals.ts
Owners: @arize-ai/oss-javascript

feat(evals): add hallucinationEvaluator
  js/packages/phoenix-evals/examples/hallucination_example.ts
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/llm/createClassifier.ts
  js/packages/phoenix-evals/src/llm/createHallucinationEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

fix(experiments): restore routing for experiments
  app/src/Routes.tsx
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/experimentCompareLoader.ts
  app/src/pages/experiments/ExperimentSelectionToolbar.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/playground/PlaygroundDatasetSection.tsx
Owners: @arize-ai/oss-javascript

clean
  app/src/pages/experiment/ExperimentComparePage.tsx
Owners: @arize-ai/oss-javascript

simplify
  app/src/pages/playground/PlaygroundDatasetSection.tsx
Owners: @arize-ai/oss-javascript

simplify
  app/src/pages/experiments/ExperimentSelectionToolbar.tsx
Owners: @arize-ai/oss-javascript

nix query used for crumb
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiment/experimentCompareLoader.ts
Owners: @arize-ai/oss-javascript

simplify
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/experimentCompareLoader.ts
Owners: @arize-ai/oss-javascript

simplify
  app/src/Routes.tsx
Owners: @arize-ai/oss-javascript

fix(experiments): restore routing for comparing experiments (#8506)
  app/src/Routes.tsx
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiment/experimentCompareLoader.ts
  app/src/pages/experiments/ExperimentSelectionToolbar.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/playground/PlaygroundDatasetSection.tsx
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 11.6.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.6.1 (#8508)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 11.6.1 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

ci: relocate files to the correct folder
  packages/phoenix-client/tests/client/test_spans.py
  packages/phoenix-client/tests/client/utils/test_config.py
  packages/phoenix-client/tests/client/utils/test_template_formatters.py
Owners: @arize-ai/oss-python

add gitignore
  packages/phoenix-client/tests/.gitignore
  packages/phoenix-client/tests/__init__.py
  packages/phoenix-client/tests/conftest.py
Owners: @arize-ai/oss-python

feat(phoenix-client): get dataset by name
  js/packages/phoenix-client/src/datasets/getDatasetExamples.ts
  js/packages/phoenix-client/src/datasets/getDatasetInfo.ts
  js/packages/phoenix-client/src/datasets/getDatasetInfoByName.ts
  js/packages/phoenix-client/src/types/datasets.ts
Owners: @arize-ai/oss-javascript

add the ability to pull a dataset by name
  js/.changeset/salty-worlds-type.md
Owners: @arize-ai/oss-javascript

add tests
  js/packages/phoenix-client/test/datasets/getDataset.test.ts
Owners: @arize-ai/oss-javascript

fix tests
  js/packages/phoenix-client/src/datasets/appendDatasetExamples.ts
Owners: @arize-ai/oss-javascript

fix: don't show negative remaining bytes for db storage chart
  app/src/pages/settings/DBUsagePieChart.tsx
Owners: @arize-ai/oss-javascript

fix: restore backword compatibiilty on locked mode
  src/phoenix/server/api/auth.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/api/auth.py
Owners: @arize-ai/oss-python

fix: don't show negative remaining bytes for db storage chart (#8514)
  app/src/pages/settings/DBUsagePieChart.tsx
Owners: @arize-ai/oss-javascript

fix: restore backward compatibility for locked mode (#8515)
  src/phoenix/server/api/auth.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.6.2
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.6.2 (#8516)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 11.6.2 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

migrate SpanFilterConditionField popover + tooltip
  app/src/pages/project/SpanFilterConditionField.tsx
Owners: @arize-ai/oss-javascript

remove duplicated popover border
  app/src/pages/project/SpanFilterConditionField.tsx
Owners: @arize-ai/oss-javascript

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
