Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

cleanup
  app/src/GlobalStyles.tsx
  app/src/components/disclosure/styles.tsx
  app/src/components/generative/ToolChoiceSelector.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/components/annotation/CategoricalAnnotationInput.tsx
Owners: @arize-ai/oss-javascript

refactor: change markdown mode to select (#7861)
  app/src/GlobalStyles.tsx
  app/src/components/annotation/CategoricalAnnotationInput.tsx
  app/src/components/disclosure/styles.tsx
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/components/markdown/MarkdownModeRadioGroup.tsx
  app/src/components/markdown/MarkdownModeSelect.tsx
  app/src/components/markdown/index.tsx
  app/src/components/select/Select.tsx
  app/src/pages/playground/PlaygroundOutput.tsx
  app/src/pages/trace/SpanAside.tsx
  app/src/pages/trace/SpanDetails.tsx
Owners: @arize-ai/oss-javascript

feat: bump table, add more integrations
  app/package.json
  app/pnpm-lock.yaml
  app/src/components/project/IntegrationIcons.tsx
  app/src/components/project/Integrations.tsx
  app/src/components/settings/RoleSelect.tsx
  app/src/pages/settings/UsersTable.tsx
Owners: @arize-ai/oss-javascript

Update app/src/components/project/IntegrationIcons.tsx
  app/src/components/project/IntegrationIcons.tsx
Owners: @arize-ai/oss-javascript

feat: bump table, add more integrations (#7863)
  app/package.json
  app/pnpm-lock.yaml
  app/src/components/project/IntegrationIcons.tsx
  app/src/components/project/Integrations.tsx
  app/src/components/settings/RoleSelect.tsx
  app/src/pages/settings/UsersTable.tsx
Owners: @arize-ai/oss-javascript

feat: empty state for prompts and experiments
  app/src/components/icon/Icons.tsx
  app/src/pages/dataset/RunExperimentButton.tsx
  app/src/pages/experiments/ExperimentsEmpty.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/prompts/PromptsEmpty.tsx
  app/src/pages/prompts/PromptsPage.tsx
  app/src/pages/prompts/PromptsTable.tsx
Owners: @arize-ai/oss-javascript

Update app/src/pages/experiments/ExperimentsEmpty.tsx
  app/src/pages/experiments/ExperimentsEmpty.tsx
Owners: @arize-ai/oss-javascript

make responsive
  app/src/pages/datasets/DatasetsEmpty.tsx
  app/src/pages/prompts/PromptsEmpty.tsx
Owners: @arize-ai/oss-javascript

feat: empty state for prompts and experiments (#7865)
  app/src/components/icon/Icons.tsx
  app/src/pages/dataset/RunExperimentButton.tsx
  app/src/pages/experiments/ExperimentsEmpty.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/prompts/PromptsEmpty.tsx
  app/src/pages/prompts/PromptsPage.tsx
  app/src/pages/prompts/PromptsTable.tsx
Owners: @arize-ai/oss-javascript

GITBOOK-23: docs: fix self hosting image
  docs/section-self-hosting/README.md
Owners: none

fix(helm): respect `postgres.enabled` value
  helm/templates/database/deployment.yaml
  helm/templates/database/pvc.yaml
  helm/templates/database/service.yaml
Owners: none

fix(helm): postgres pvc only if persistence is enabled
  helm/templates/database/deployment.yaml
Owners: none

GITBOOK-24: Fixing typo
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/upgrade/migrations.md
Owners: none

Update parameter names
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  src/phoenix/server/api/routers/v1/annotations.py
  tests/unit/server/api/routers/v1/test_annotations.py
Owners: @arize-ai/oss-python

GITBOOK-17: xai and deepseek in playground
  docs/section-release-notes/05.30.2025-xai-and-deepseek-support-in-playground.md
  docs/section-release-notes/README.md
  docs/section-release-notes/SUMMARY.md
Owners: none

GITBOOK-13: Adding users api
  docs/section-sdk-api-reference/SUMMARY.md
  docs/section-sdk-api-reference/users.md
Owners: none

docs: Tool Call helper method (GITBOOK-1259)
  docs/tracing/how-to-tracing/importing-and-exporting-traces/extract-data-from-spans.md
Owners: none

Maintain backwards compatibility and update openapi schema
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/annotations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update names
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Properly handle backwards compatibility
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  src/phoenix/server/api/routers/v1/annotations.py
Owners: @arize-ai/oss-python

Resolve type checker issues
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

Update openapi schema
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
Owners: @arize-ai/oss-javascript

chore: remove unused directory (#7856)
  phoenix-integrations/.gitbook/includes/sign-up-for-phoenix-sign-up....md
Owners: none

Remove needless param, update argument names
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  src/phoenix/server/api/routers/v1/annotations.py
Owners: @arize-ai/oss-python

Don't use a mutable default
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Update docstrings
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Update openapi schema
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
Owners: @arize-ai/oss-javascript

GITBOOK-25: helm documentation
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/deployment-options/kubernetes-helm.md
Owners: none

fix(helm): remove configurable postgres.enable parameter from helm chart
  helm/values.yaml
Owners: none

update auto-doc
  helm/README.md
Owners: none

Update integration tests
  tests/integration/client/test_spans.py
Owners: none

fix: Do not return notes from GET /span_annotations (#7830)
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/annotations.py
  tests/integration/client/test_spans.py
  tests/unit/server/api/routers/v1/test_annotations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

allow non-unique names
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

Revert "allow non-unique names"
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

pattern -> name pattern
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

feat: credentials field
  app/src/components/field/CredentialContext.tsx
  app/src/components/field/CredentialField.tsx
  app/src/components/field/CredentialInput.tsx
  app/src/components/field/index.tsx
  app/src/components/icon/Icons.tsx
  app/stories/CredentialField.stories.tsx
Owners: @arize-ai/oss-javascript

Use bitnami postgresql
  helm/Chart.lock
  helm/Chart.yaml
  helm/README.md
  helm/templates/_helpers.tpl
  helm/templates/database/deployment.yaml
  helm/templates/database/pvc.yaml
  helm/templates/database/service.yaml
  helm/templates/phoenix/configmap.yaml
  helm/templates/phoenix/ingress.yaml
  helm/values.yaml
Owners: none

feat(cost): rudamentary model table
  app/src/Routes.tsx
  app/src/pages/Layout.tsx
  app/src/pages/model/ModelInferencesPage.tsx
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/model/index.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

add icons
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
Owners: @arize-ai/oss-javascript
