Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

feat(cost): add bedrock to semcov
  app/src/utils/generativeUtils.ts
Owners: @arize-ai/oss-javascript

feat(cost): plumb through cost and tokens
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/experiments/__generated__/ExperimentsTableFragment.graphql.ts
  app/src/pages/experiments/__generated__/ExperimentsTableQuery.graphql.ts
  app/src/pages/experiments/__generated__/experimentsLoaderQuery.graphql.ts
Owners: @arize-ai/oss-javascript

feat(cost): plumb through cost and tokens (#8217)
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/experiments/__generated__/ExperimentsTableFragment.graphql.ts
  app/src/pages/experiments/__generated__/ExperimentsTableQuery.graphql.ts
  app/src/pages/experiments/__generated__/experimentsLoaderQuery.graphql.ts
Owners: @arize-ai/oss-javascript

feat(cost): Add configurable start date to ModelForm and ModelsTable
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/GenerativeModel.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Add configurable format to TimestampCell
  app/src/components/table/TimestampCell.tsx
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat(costs): Add support for smaller costs in model form
  app/src/pages/settings/ModelTokenCostControlTable.tsx
Owners: @arize-ai/oss-javascript

feat(costs): Add support for smaller costs in model form (#8219)
  app/src/pages/settings/ModelTokenCostControlTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): Add configurable start date to ModelForm and ModelsTable (#8218)
  app/schema.graphql
  app/src/components/table/TimestampCell.tsx
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/GenerativeModel.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): show experiment run cost
  app/src/components/trace/SpanTokenCount.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/components/trace/TraceTree.tsx
  app/src/components/trace/__generated__/SpanTokenCount_TokenDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
Owners: @arize-ai/oss-javascript

feat(cost): show experiment run cost
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

remove conflating sessions / spans etc.
  app/src/pages/trace/SessionDetailsTraceList.tsx
Owners: @arize-ai/oss-javascript

feat(cost): experiment run tokens (#8220)
  app/src/components/trace/SpanTokenCount.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/components/trace/TraceTree.tsx
  app/src/components/trace/__generated__/SpanTokenCount_TokenDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
Owners: @arize-ai/oss-javascript

Fix: Use correct trace id join condition
  src/phoenix/server/api/dataloaders/span_cost_summary_by_experiment.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_experiment_run.py
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/api/types/ExperimentRun.py
Owners: @arize-ai/oss-python

Fix: Use correct trace id join condition (#8221)
  src/phoenix/server/api/dataloaders/span_cost_summary_by_experiment.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_experiment_run.py
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/api/types/ExperimentRun.py
Owners: @arize-ai/oss-python

feat(cost): add tooltip, add it to icon buttons
  app/src/GlobalStyles.tsx
  app/src/components/tooltip/Tooltip.tsx
  app/src/components/tooltip/TooltipArrow.tsx
  app/src/components/tooltip/index.tsx
  app/src/components/tooltip/styles.ts
  app/src/components/tooltip/types.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/stories/Tooltip.stories.tsx
Owners: @arize-ai/oss-javascript

feat(cost): add tooltip, add it to icon buttons
  app/src/GlobalStyles.tsx
  app/src/components/tooltip/Tooltip.tsx
  app/src/components/tooltip/TooltipArrow.tsx
  app/src/components/tooltip/index.tsx
  app/src/components/tooltip/styles.ts
  app/src/components/tooltip/types.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/stories/Tooltip.stories.tsx
Owners: @arize-ai/oss-javascript

fix lint
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

simplify the arrow
  app/src/components/tooltip/TooltipArrow.tsx
  app/src/components/tooltip/styles.ts
Owners: @arize-ai/oss-javascript

add more tooltips
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/settings/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): add tooltip, add it to icon buttons (#8222)
  app/src/GlobalStyles.tsx
  app/src/components/tooltip/Tooltip.tsx
  app/src/components/tooltip/TooltipArrow.tsx
  app/src/components/tooltip/index.tsx
  app/src/components/tooltip/styles.ts
  app/src/components/tooltip/types.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/stories/Tooltip.stories.tsx
Owners: @arize-ai/oss-javascript

feat(cost): add rich tooltip and split details into component
  app/src/components/index.tsx
  app/src/components/tooltip/RichTooltip.tsx
  app/src/components/tooltip/index.tsx
  app/src/components/tooltip/styles.ts
  app/src/components/trace/SpanTokenCount.tsx
  app/src/components/trace/SpanTokenCountDetails.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/components/trace/__generated__/SpanTokenCountDetailsQuery.graphql.ts
  app/stories/RichTooltip.stories.tsx
Owners: @arize-ai/oss-javascript

feat(cost): better toolip
  app/src/components/trace/SpanTokenCount.tsx
  app/src/components/trace/SpanTokenCountDetails.tsx
  app/src/components/trace/TokenCountDetails.tsx
  app/stories/TokenCount.stories.tsx
Owners: @arize-ai/oss-javascript

feat(cost): unified token count components
  app/src/components/experiment/ExperimentRunTokenCount.tsx
  app/src/components/experiment/ExperimentRunTokenCountDetails.tsx
  app/src/components/experiment/ExperimentTokenCount.tsx
  app/src/components/experiment/ExperimentTokenCountDetails.tsx
  app/src/components/experiment/__generated__/ExperimentRunTokenCountDetailsQuery.graphql.ts
  app/src/components/experiment/__generated__/ExperimentTokenCountDetailsQuery.graphql.ts
  app/src/components/experiment/index.tsx
  app/src/components/trace/SessionTokenCount.tsx
  app/src/components/trace/SessionTokenCountDetails.tsx
  app/src/components/trace/SpanCumulativeTokenCount.tsx
  app/src/components/trace/SpanCumulativeTokenCountDetails.tsx
  app/src/components/trace/SpanTokenCountDetails.tsx
  app/src/components/trace/TraceTokenCount.tsx
  app/src/components/trace/TraceTokenCountDetails.tsx
  app/src/components/trace/__generated__/SessionTokenCountDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/SpanCumulativeTokenCountDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/TraceTokenCountDetailsQuery.graphql.ts
  app/src/components/trace/index.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
Owners: @arize-ai/oss-javascript

feat(cost): unified token components with breakdown tooltips (#8223)
  app/src/components/experiment/ExperimentRunTokenCount.tsx
  app/src/components/experiment/ExperimentRunTokenCountDetails.tsx
  app/src/components/experiment/ExperimentTokenCount.tsx
  app/src/components/experiment/ExperimentTokenCountDetails.tsx
  app/src/components/experiment/__generated__/ExperimentRunTokenCountDetailsQuery.graphql.ts
  app/src/components/experiment/__generated__/ExperimentTokenCountDetailsQuery.graphql.ts
  app/src/components/experiment/index.tsx
  app/src/components/index.tsx
  app/src/components/tooltip/RichTooltip.tsx
  app/src/components/tooltip/index.tsx
  app/src/components/tooltip/styles.ts
  app/src/components/trace/SessionTokenCount.tsx
  app/src/components/trace/SessionTokenCountDetails.tsx
  app/src/components/trace/SpanCumulativeTokenCount.tsx
  app/src/components/trace/SpanCumulativeTokenCountDetails.tsx
  app/src/components/trace/SpanTokenCountDetails.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/components/trace/TokenCountDetails.tsx
  app/src/components/trace/TraceTokenCount.tsx
  app/src/components/trace/TraceTokenCountDetails.tsx
  app/src/components/trace/__generated__/SessionTokenCountDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/SpanCumulativeTokenCountDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/SpanTokenCountDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/SpanTokenCount_TokenDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/TraceTokenCountDetailsQuery.graphql.ts
  app/src/components/trace/index.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/stories/RichTooltip.stories.tsx
  app/stories/TokenCount.stories.tsx
Owners: @arize-ai/oss-javascript

fix(costs): Bump minimum displayed costs to $0.01
  app/src/utils/numberFormatUtils.ts
Owners: @arize-ai/oss-javascript

fix(costs): Bump minimum displayed costs to $0.01 (#8225)
  app/src/utils/numberFormatUtils.ts
Owners: @arize-ai/oss-javascript

feat(cost): unified token costs component
  app/src/components/experiment/ExperimentRunTokenCosts.tsx
  app/src/components/experiment/ExperimentRunTokenCostsDetails.tsx
  app/src/components/experiment/ExperimentRunTokenCountDetails.tsx
  app/src/components/experiment/ExperimentTokenCountDetails.tsx
  app/src/components/experiment/__generated__/ExperimentRunTokenCostsDetailsQuery.graphql.ts
  app/src/components/experiment/index.tsx
  app/src/components/trace/SessionTokenCosts.tsx
  app/src/components/trace/SessionTokenCostsDetails.tsx
  app/src/components/trace/SpanCumulativeTokenCountDetails.tsx
  app/src/components/trace/SpanTokenCosts.tsx
  app/src/components/trace/SpanTokenCostsDetails.tsx
  app/src/components/trace/SpanTokenCountDetails.tsx
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/TokenCostsDetails.tsx
  app/src/components/trace/TraceTokenCosts.tsx
  app/src/components/trace/TraceTokenCostsDetails.tsx
  app/src/components/trace/__generated__/SessionTokenCostsDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/SpanTokenCostsDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/TraceTokenCostsDetailsQuery.graphql.ts
  app/src/components/trace/index.tsx
  app/src/pages/SpanHeader.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/stories/TokenCosts.stories.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/components/trace/TraceTokenCostsDetails.tsx
  app/src/components/trace/__generated__/TraceTokenCostsDetailsQuery.graphql.ts
Owners: @arize-ai/oss-javascript

remove over-fetching
  app/src/components/trace/SpanCumulativeTokenCountDetails.tsx
  app/src/components/trace/__generated__/SpanCumulativeTokenCountDetailsQuery.graphql.ts
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
Owners: @arize-ai/oss-javascript

format
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): unified token costs component and experiment run costs (#8226)
  app/src/components/experiment/ExperimentRunTokenCosts.tsx
  app/src/components/experiment/ExperimentRunTokenCostsDetails.tsx
  app/src/components/experiment/ExperimentRunTokenCountDetails.tsx
  app/src/components/experiment/ExperimentTokenCountDetails.tsx
  app/src/components/experiment/__generated__/ExperimentRunTokenCostsDetailsQuery.graphql.ts
  app/src/components/experiment/index.tsx
  app/src/components/trace/SessionTokenCosts.tsx
  app/src/components/trace/SessionTokenCostsDetails.tsx
  app/src/components/trace/SpanCumulativeTokenCountDetails.tsx
  app/src/components/trace/SpanTokenCosts.tsx
  app/src/components/trace/SpanTokenCostsDetails.tsx
  app/src/components/trace/SpanTokenCountDetails.tsx
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/TokenCostsDetails.tsx
  app/src/components/trace/TraceTokenCosts.tsx
  app/src/components/trace/TraceTokenCostsDetails.tsx
  app/src/components/trace/__generated__/SessionTokenCostsDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/SpanCumulativeTokenCountDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/SpanTokenCostsDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/TraceTokenCostsDetailsQuery.graphql.ts
  app/src/components/trace/index.tsx
  app/src/pages/SpanHeader.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/stories/TokenCosts.stories.tsx
Owners: @arize-ai/oss-javascript

fix(cost): order custom models first
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

comment
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

fix(cost): order custom models first (#8227)
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

refactor: update generative model type
  app/schema.graphql
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  src/phoenix/server/api/types/GenerativeModel.py
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

search sort filter
  app/schema.graphql
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/GenerativeModel.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

refactor: update generative model type (#8228)
  app/schema.graphql
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  src/phoenix/server/api/types/GenerativeModel.py
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore(main): release arize-phoenix 10.15.0 (#8211)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.15.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

refactor(costs): De-paginate models query
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/DeleteModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsModelsPageQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python
