Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

cleanup
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

feat: add bedrock
  app/src/constants/generativeConstants.ts
Owners: @arize-ai/oss-javascript

Change credential types
  app/schema.graphql
  app/src/@types/generative.d.ts
  app/src/components/generative/GenerativeProviderIcon.tsx
  app/src/pages/playground/__generated__/ModelComboBoxQuery.graphql.ts
  app/src/pages/playground/__generated__/ModelProviderSelectFragment.graphql.ts
  app/src/pages/playground/__generated__/ModelSupportedParamsFetcherQuery.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputSubscription.graphql.ts
  app/src/pages/playground/__generated__/UpsertPromptFromTemplateDialogCreateMutation.graphql.ts
  app/src/pages/playground/__generated__/UpsertPromptFromTemplateDialogUpdateMutation.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPromptQuery.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPromptSupportedInvocationParametersQuery.graphql.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/pages/prompt/__generated__/PromptChatMessagesCard__main.graphql.ts
  app/src/pages/prompt/__generated__/PromptCodeExportCard__main.graphql.ts
  app/src/pages/prompt/__generated__/PromptLLM__main.graphql.ts
  app/src/pages/prompt/__generated__/PromptModelConfigurationCard__main.graphql.ts
  app/src/pages/settings/__generated__/GenerativeProvidersCard_data.graphql.ts
  app/src/utils/generativeUtils.ts
  src/phoenix/db/types/model_provider.py
  src/phoenix/server/api/helpers/prompts/models.py
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

ruff
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.8.0 (#7952)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

wire up bedrock
  app/src/pages/playground/playgroundUtils.ts
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  packages/phoenix-client/src/phoenix/client/types/prompts.py
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat: add bedrock invocation
  app/src/pages/playground/constants.tsx
  app/src/pages/playground/playgroundUtils.ts
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

add model name
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

feat: bedrock working client
  pyproject.toml
  requirements/dev.txt
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

no trailing whitespace
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
Owners: @arize-ai/oss-python

fix issues
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-python

remove duplicate
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.8.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

cleanup
  app/src/pages/models/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat: Composable ModalOverlay component (#7969)
  app/src/components/dialog/Dialog.tsx
  app/src/components/overlay/Modal.tsx
  app/src/components/trace/EditSpanAnnotationsDialog.tsx
  app/src/components/trace/SpanAnnotationActionMenu.tsx
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/project/SpanSelectionToolbar.tsx
  app/src/pages/prompt/DeletePromptVersionTagButton.tsx
  app/src/pages/settings/AnnotationConfigSelectionToolbar.tsx
  app/src/pages/settings/NewUserDialog.tsx
  app/src/pages/settings/SettingsAnnotationsPage.tsx
  app/src/pages/settings/SettingsDataPage.tsx
  app/src/pages/trace/TracePage.tsx
  app/stories/Modal.stories.tsx
Owners: @arize-ai/oss-javascript

chore(cost): add cost-related tables (#7847)
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

feat(cost): Model table (#7949)
  app/src/Routes.tsx
  app/src/pages/Layout.tsx
  app/src/pages/model/ModelInferencesPage.tsx
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/model/index.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): add graphql model resolver (#7947)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/components/form/__generated__/DimensionPickerQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTableEmbeddingDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTable_embeddingDimensions.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTableDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTable_dimensions.graphql.ts
  app/src/pages/__generated__/ModelRootQuery.graphql.ts
  app/src/pages/embedding/MetricSelector.tsx
  app/src/pages/embedding/__generated__/EmbeddingPageModelQuery.graphql.ts
  app/src/pages/embedding/__generated__/ExportSelectionButtonExportsQuery.graphql.ts
  app/src/pages/embedding/__generated__/MetricSelector_dimensions.graphql.ts
  app/src/pages/embedding/__generated__/MetricTimeSeriesQuery.graphql.ts
  app/src/pages/embedding/__generated__/PointSelectionPanelContentQuery.graphql.ts
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/models/modelsLoader.ts
  app/src/pages/playground/ModelComboBox.tsx
  app/src/pages/playground/__generated__/ModelComboBoxQuery.graphql.ts
  app/src/store/__generated__/pointCloudStore_eventsQuery.graphql.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/api/types/InferenceModel.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/api/types/ModelInterface.py
  src/phoenix/server/api/types/PlaygroundModel.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): compute span cost on ingest and plumb through spans table and span details header (#7912)
  .gitignore
  app/schema.graphql
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/span.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_costs.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): wire up models to be inserted at boot (#7957)
  app/schema.graphql
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/models.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): model form with add and edit (#7974)
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/stories/ModelForm.stories.tsx
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): compute span cost on ingest and plumb through spans table and span details header (#7912)
  app/schema.graphql
Owners: @arize-ai/oss-javascript

chore: update dialogs
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
Owners: @arize-ai/oss-javascript

Clean up route
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-python

fix type
  app/src/@types/generative.d.ts
Owners: @arize-ai/oss-javascript

submit new type
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/pages/playground/ChatMessageToolCallsEditor.tsx
Owners: @arize-ai/oss-javascript

region selection
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

chore: update dialogs (#7977)
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
Owners: @arize-ai/oss-javascript

add bedrock
  js/packages/phoenix-client/src/types/prompts.ts
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Spike out client
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Add option to generate new ids
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

fix tyupes
  app/package.json
  app/pnpm-lock.yaml
  app/src/components/generative/GenerativeProviderIcon.tsx
  app/src/pages/playground/PlaygroundTool.tsx
  app/src/pages/playground/__tests__/playgroundUtils.test.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/schemas/messageSchemas.ts
  app/src/schemas/toolCallSchemas.ts
  app/src/schemas/toolChoiceSchemas.ts
  app/src/schemas/toolSchemas.ts
  app/src/store/playground/__tests__/playgroundStoreUtils.test.ts
  app/src/store/playground/playgroundStoreUtils.ts
Owners: @arize-ai/oss-javascript

add bedrock
  js/packages/phoenix-client/src/prompts/constants.ts
Owners: @arize-ai/oss-javascript

feat(experiments): experiment progress chart
  app/src/hooks/useWordColor.ts
  app/src/pages/experiments/ExperimentsChart.tsx
  app/src/pages/experiments/ExperimentsLineChart.tsx
  app/src/pages/experiments/ExperimentsPage.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/experiments/__generated__/ExperimentsLineChartQuery.graphql.ts
  app/src/utils/colorUtils.ts
Owners: @arize-ai/oss-javascript

hoist the empty
  app/src/pages/experiments/ExperimentsPage.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/experiments/__generated__/experimentsLoaderQuery.graphql.ts
  app/src/pages/experiments/experimentsLoader.tsx
Owners: @arize-ai/oss-javascript

feat: Support server-side logout flow via env vars
  app/src/pages/Layout.tsx
  app/src/window.d.ts
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/main.py
  src/phoenix/server/templates/index.html
  tox.ini
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update app/src/pages/Layout.tsx
  app/src/pages/Layout.tsx
Owners: @arize-ai/oss-javascript

refactor(auth): Perform logout over GET instead of POST
  app/src/pages/Layout.tsx
  src/phoenix/server/api/routers/auth.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

test
  src/phoenix/db/bulk_inserter.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/prometheus.py
  tests/unit/server/cost_tracking/test_cost_lookup.py
Owners: @arize-ai/oss-python
