Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

use react-aira
  app/src/components/breadcrumbs/Breadcrumbs.tsx
Owners: @arize-ai/oss-javascript

pretiter
  app/src/components/breadcrumbs/Breadcrumbs.tsx
  app/src/components/breadcrumbs/Item.tsx
  app/src/components/breadcrumbs/index.ts
Owners: @arize-ai/oss-javascript

chore: upgrade recharts
  app/package.json
  app/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

upgrade to recharts 3
  app/package.json
  app/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

fix(design): side by side preview sizing
  app/.storybook/preview.tsx
Owners: @arize-ai/oss-javascript

chore: upgrade recharts (#8623)
  app/package.json
  app/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

chore: remove prompt.dumps()
  docs/prompt-engineering/how-to-prompts/using-a-prompt.md
Owners: none

executors
  packages/phoenix-evals/src/phoenix/evals/executors.py
Owners: @arize-ai/oss-python

init
  src/phoenix/__init__.py
Owners: @arize-ai/oss-python
