Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

docs: migration guide (#8292)
  MIGRATION.md
Owners: none

docs: add cost tracking
  docs/SUMMARY.md
Owners: none

fix: fallback to input/output base rate for unrecognized token types
  src/phoenix/server/cost_tracking/cost_details_calculator.py
  tests/unit/server/cost_tracking/test_cost_details_calculator.py
Owners: @arize-ai/oss-python

fix type check
  src/phoenix/server/cost_tracking/cost_details_calculator.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/cost_tracking/cost_details_calculator.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/cost_tracking/cost_details_calculator.py
  tests/unit/server/cost_tracking/test_cost_details_calculator.py
Owners: @arize-ai/oss-python

update docstrings
  src/phoenix/server/cost_tracking/cost_details_calculator.py
  tests/unit/server/cost_tracking/test_cost_details_calculator.py
Owners: @arize-ai/oss-python

fix(cost): fallback to input/output base rate for unrecognized token types (#8295)
  src/phoenix/server/cost_tracking/cost_details_calculator.py
  tests/unit/server/cost_tracking/test_cost_details_calculator.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.0.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.0.0 (#8247)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

docs: Phoenix cloud instruction updates (GITBOOK-1278)
  docs/.gitbook/includes/launch-phoenix-python.md
  docs/.gitbook/includes/launch-phoenix-ts.md
  docs/.gitbook/includes/ts-quickstart.md
  docs/datasets-and-experiments/quickstart-datasets.md
  docs/tracing/llm-traces-1/quickstart-tracing-python.md
  docs/tracing/llm-traces-1/quickstart-tracing-ts.md
Owners: none

chore: update phoenix version to 11.0.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

feat(helm): add support for imagePullSecrets to the helm chart
  helm/README.md
  helm/templates/phoenix/deployment.yaml
  helm/templates/phoenix/serviceaccount.yaml
  helm/values.yaml
Owners: none

Compatibility pass for client datasets
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

Spike out experiments
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

display cumulative
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
Owners: @arize-ai/oss-javascript

major version bump on helm
  helm/Chart.yaml
Owners: none

GITBOOK-27: No subject
  docs/section-integrations/llm-providers/google-gen-ai/google-adk-tracing.md
Owners: none

display cumulative (#8304)
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
Owners: @arize-ai/oss-javascript

Use executors for concurrency
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

feat(helm): add support for imagePullSecrets to the helm chart (#8300)
  helm/README.md
  helm/templates/phoenix/deployment.yaml
  helm/templates/phoenix/serviceaccount.yaml
  helm/values.yaml
Owners: none

chore(main): release arize-phoenix 11.1.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

docs(cost): fix linking on nav
  docs/SUMMARY.md
Owners: none

Vendor concurrency/executor implementations into client
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/concurrency.py
Owners: @arize-ai/oss-python

docs(cost): fix linking on nav (#8312)
  docs/SUMMARY.md
Owners: none

Small refactor
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.1.0 (#8311)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

Cleanup pass
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 11.1.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

Refactor types
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

Remove example shim
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

Updating post observe demo
  examples/observe_agents/README.md
  examples/observe_agents/coordinator.py
  examples/observe_agents/front_end.py
  examples/observe_agents/requirements.txt
  examples/observe_agents/utils/evaluate_experiment.py
  examples/observe_agents/utils/setup_prompts.py
  examples/observe_agents/workflow.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Style fix
  examples/observe_agents/workflow.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Update examples/observe_agents/utils/generate_google_token.py
  examples/observe_agents/utils/generate_google_token.py
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Fix typo
  examples/observe_agents/workflow.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

GITBOOK-28: No subject
  docs/section-integrations/llm-providers/google-gen-ai/google-adk-tracing.md
Owners: none

Updating notebook
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

add search_span_by_otel_id gql query
  app/schema.graphql
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix: add models for gemini 2.5
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

fix typo
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python
