Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

ci
  app/src/pages/settings/ModelForm.tsx
  app/src/utils/generativeUtils.ts
  app/stories/ModelForm.stories.tsx
Owners: @arize-ai/oss-javascript

fix confirm navigation stacking order issue
  app/src/components/ConfirmNavigation.tsx
  app/src/pages/playground/Playground.tsx
  app/src/pages/trace/SpanDetails.tsx
Owners: @arize-ai/oss-javascript

fix(cost): allow custom providers in model form (#8109)
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/utils/generativeUtils.ts
  app/stories/ModelForm.stories.tsx
  src/phoenix/server/api/mutations/model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

ci: filter by span_id to avoid pagination limit (#8091)
  tests/integration/client/conftest.py
Owners: none

Clean up types
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

GITBOOK-19: No subject
  docs/section-release-notes/05.09.2025-annotations-data-retention-policies-hotkeys.md
  docs/section-release-notes/05.30.2025-xai-and-deepseek-support-in-playground.md
  docs/section-release-notes/README.md
  docs/section-release-notes/SUMMARY.md
Owners: none

ci issue
  tests/integration/client/conftest.py
Owners: none

update test
  tests/unit/server/api/helpers/test_dataset_helpers.py
Owners: none

Remove extraneous import
  app/src/pages/trace/SpanDetails.tsx
Owners: @arize-ai/oss-javascript

reduce retries
  tests/integration/client/conftest.py
Owners: none

ruff
  tests/integration/client/conftest.py
Owners: none

multi-select
  app/src/pages/experiment/ExperimentMultiSelector.tsx
Owners: @arize-ai/oss-javascript

Fix session modals
  app/src/pages/trace/EditSpanAnnotationsButton.tsx
  app/src/pages/trace/SessionPage.tsx
Owners: @arize-ai/oss-javascript

fix: exp empty select
  src/phoenix/server/api/queries.py
  tests/unit/server/api/test_queries.py
Owners: @arize-ai/oss-python

fix: exp empty select (#8111)
  src/phoenix/server/api/queries.py
  tests/unit/server/api/test_queries.py
Owners: @arize-ai/oss-python

remove IT changes
  tests/integration/client/conftest.py
Owners: none

allow arbitrary costs
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  src/phoenix/server/api/mutations/model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix(cost): adjust model crud mutations to allow for arbitrary cost types (#8112)
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  src/phoenix/server/api/mutations/model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

crud
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

clean
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

clean
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

clean
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

test create errors
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

update errors
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

test cannot update default model
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

test_deleting_model_with_invalid_input_fails_with_expected_error
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

test cannot delete default model
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

settings
  packages/phoenix-otel/src/phoenix/otel/settings.py
  packages/phoenix-otel/tests/test_settings.py
Owners: @arize-ai/oss-python

copy/pasta
  packages/phoenix-otel/tests/test_settings.py
Owners: @arize-ai/oss-python

GITBOOK-24: Add cursor deeplink
  docs/section-integrations/model-context-protocol/phoenix-mcp-server.md
  phoenix-integrations/.gitbook/includes/sign-up-for-phoenix-sign-up....md
Owners: none

feat(cost): metrics tab behind a feature flag (#8093)
  app/src/Routes.tsx
  app/src/contexts/FeatureFlagsContext.tsx
  app/src/pages/project/ProjectMetricsPage.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/index.tsx
Owners: @arize-ai/oss-javascript

feat: Enable phoenix cloud spaces (#8108)
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python

Fix example dialogs
  app/src/pages/example/EditExampleDialog.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
Owners: @arize-ai/oss-javascript

feat: fullstory
  app/src/analytics/fullstory.ts
  app/src/pages/AuthenticatedRoot.tsx
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
  app/src/pages/authenticatedRootLoader.ts
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/main.py
  src/phoenix/server/templates/index.html
  src/phoenix/settings.py
  tox.ini
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

cleanup console
  app/src/analytics/fullstory.ts
Owners: @arize-ai/oss-javascript

fix spelling
  app/src/analytics/fullstory.ts
  app/src/pages/AuthenticatedRoot.tsx
Owners: @arize-ai/oss-javascript

cleanup console
  src/phoenix/config.py
Owners: @arize-ai/oss-python

refactor: rename Model as GenerativeModel
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/model_total_costs.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update src/phoenix/server/api/dataloaders/model_total_costs.py
  src/phoenix/server/api/dataloaders/model_total_costs.py
Owners: @arize-ai/oss-python

ruff
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python
