Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

fix(playground): stream processing should not skip the rest of a chunk if usage is present (#8090)
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.12.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.12.0 (#8075)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

GITBOOK-14: Adding to FAQ and relevant links
  docs/section-learn/SUMMARY.md
  docs/section-learn/evaluation/llm-as-a-judge.md
  docs/section-learn/resources/faqs/braintrust-open-source-alternative-llm-evaluation-platform-comparison.md
Owners: none

Replicating openinference issue #1332
  tests/issue-1322-test.py
Owners: none

GITBOOK-15: Title change in FAQ
  docs/section-learn/SUMMARY.md
  docs/section-learn/resources/faqs/langsmith-alternatives.md
Owners: none

Initial commit
  examples/observe_agents/README.md
  examples/observe_agents/calendar_agent/package-lock.json
  examples/observe_agents/calendar_agent/package.json
  examples/observe_agents/calendar_agent/pnpm-lock.yaml
  examples/observe_agents/calendar_agent/src/index.ts
  examples/observe_agents/calendar_agent/src/types.d.ts
  examples/observe_agents/calendar_agent/tsconfig.json
  examples/observe_agents/coordinator/coordinator.py
  examples/observe_agents/coordinator/requirements.txt
  examples/observe_agents/mail_agent/__init__.py
  examples/observe_agents/mail_agent/mail_agent.py
  examples/observe_agents/mail_agent/requirements.txt
  examples/observe_agents/requirements.txt
  examples/observe_agents/streamlit_app.py
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

ci: filter by span_id to avoid pagination limit
  tests/integration/client/conftest.py
Owners: none

feat(cost): metrics tab behind a feature flag
  app/src/Routes.tsx
  app/src/contexts/FeatureFlagsContext.tsx
  app/src/pages/project/ProjectMetricsPage.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/index.tsx
Owners: @arize-ai/oss-javascript

disable security context by default
  helm/values.yaml
Owners: none

feat(helm): enhanced service configurability and docs (#8063)
  .gitignore
  helm/README.md
  helm/templates/NOTES.txt
  helm/templates/phoenix/configmap.yaml
  helm/templates/phoenix/deployment.yaml
  helm/templates/phoenix/pvc.yaml
  helm/templates/phoenix/secret.yaml
  helm/templates/phoenix/service.yaml
  helm/templates/phoenix/serviceaccount.yaml
  helm/values.yaml
Owners: none

feat: read OTEL_EXPORTER_OTLP_ENDPOINT when PHOENIX_COLLECTOR_ENDPOINT is missing
  packages/phoenix-client/src/phoenix/client/constants.py
  packages/phoenix-client/src/phoenix/client/utils/config.py
  packages/phoenix-client/tests/phoenix/client/utils/test_config.py
  src/phoenix/config.py
  src/phoenix/tests/test_config.py
Owners: @arize-ai/oss-python

docs: Readthedocs improvements on naming and structure (#8009)
  api_reference/source/conf.py
  api_reference/source/index.md
  packages/phoenix-client/docs/source/conf.py
  packages/phoenix-client/docs/source/index.md
  packages/phoenix-evals/docs/source/conf.py
  packages/phoenix-evals/docs/source/index.md
  packages/phoenix-otel/docs/source/conf.py
  packages/phoenix-otel/docs/source/index.md
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.13.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.11.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.21.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.11.0
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

docs: No subject (GITBOOK-1263)
  docs/tracing/llm-traces-1/quickstart-tracing-python.md
Owners: none

docs: No subject (GITBOOK-1264)
  docs/tracing/llm-traces-1/quickstart-tracing-python.md
Owners: none

docs: No subject (GITBOOK-1265)
  docs/tracing/llm-traces-1/quickstart-tracing-python.md
Owners: none

chore: ancillary utility scripts for cost testing
  scripts/generate_spans_for_cost_calculations/generate_spans_for_cost_calculations.py
  scripts/llm_token_pricing_tables/.gitignore
  scripts/llm_token_pricing_tables/litellm_model_prices.py
  src/phoenix/db/bulk_inserter.py
Owners: @arize-ai/oss-python

Update scripts/llm_token_pricing_tables/litellm_model_prices.py
  scripts/llm_token_pricing_tables/litellm_model_prices.py
Owners: none

chore: Use uv for pnpm dev command
  app/package.json
Owners: @arize-ai/oss-javascript

Update scripts/llm_token_pricing_tables/litellm_model_prices.py
  scripts/llm_token_pricing_tables/litellm_model_prices.py
Owners: none

clean up
  scripts/generate_spans_for_cost_calculations/generate_spans_for_cost_calculations.py
Owners: none

clean up
  scripts/generate_spans_for_cost_calculations/generate_spans_for_cost_calculations.py
Owners: none

docs: No subject (GITBOOK-1266)
  docs/tracing/llm-traces-1/quickstart-tracing-python.md
Owners: none

clean up
  scripts/generate_spans_for_cost_calculations/generate_spans_for_cost_calculations.py
Owners: none

clean up
  scripts/generate_spans_for_cost_calculations/generate_spans_for_cost_calculations.py
Owners: none

chore: Use uv for pnpm dev command (#8099)
  app/package.json
Owners: @arize-ai/oss-javascript

chore: ancillary utility scripts for cost testing (#8098)
  scripts/generate_spans_for_cost_calculations/generate_spans_for_cost_calculations.py
  scripts/llm_token_pricing_tables/.gitignore
  scripts/llm_token_pricing_tables/litellm_model_prices.py
  src/phoenix/db/bulk_inserter.py
Owners: @arize-ai/oss-python

chore: Add symlinks automatically when running dev cmd
  app/package.json
Owners: @arize-ai/oss-javascript

chore: Add symlinks automatically when running dev cmd (#8100)
  app/package.json
Owners: @arize-ai/oss-javascript

GITBOOK-14: REST API updates
  docs/section-sdk-api-reference/SUMMARY.md
  docs/section-sdk-api-reference/annotation-configs.md
  docs/section-sdk-api-reference/annotations.md
  docs/section-sdk-api-reference/experiments.md
  docs/section-sdk-api-reference/prompts.md
  docs/section-sdk-api-reference/spans.md
Owners: none

migrate exp picker
  app/src/pages/experiment/ExperimentMultiSelector.tsx
Owners: @arize-ai/oss-javascript

temp
  app/src/pages/experiment/ExperimentMultiSelector.tsx
Owners: @arize-ai/oss-javascript

Enable phoenix cloud spaces
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Owners: @arize-ai/oss-python

fix(cost): allow custom providers in model form
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/utils/generativeUtils.ts
  src/phoenix/server/api/mutations/model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

clean
  app/src/pages/settings/ModelForm.tsx
Owners: @arize-ai/oss-javascript

fix span prompt template export
  src/phoenix/server/api/helpers/dataset_helpers.py
Owners: @arize-ai/oss-python

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
