Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

Add deps to playwright CI
  .github/workflows/playwright.yaml
Owners: none

Update POST /spans to be all-or-nothing
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-python

change extras
  .github/workflows/playwright.yaml
Owners: none

migrate dialog
  app/src/components/ConfirmNavigation.tsx
  app/src/components/auth/CreateAPIKeyDialog.tsx
  app/src/components/auth/DeleteAPIKeyButton.tsx
  app/src/components/auth/OneTimeAPIKeyDialog.tsx
  app/src/components/experiment/ExperimentActionMenu.tsx
  app/src/contexts/FeatureFlagsContext.tsx
  app/src/pages/dataset/AddDatasetExampleDialog.tsx
  app/src/pages/dataset/DatasetHistoryDialog.tsx
  app/src/pages/dataset/RunExperimentButton.tsx
  app/src/pages/datasets/DatasetsPage.tsx
  app/src/pages/datasets/DeleteDatasetDialog.tsx
  app/src/pages/datasets/EditDatasetDialog.tsx
  app/src/pages/dimension/DimensionPage.tsx
  app/src/pages/embedding/ExportSelectionButton.tsx
  app/src/pages/embedding/PointSelectionPanelContent.tsx
  app/src/pages/example/EditExampleDialog.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiments/ExperimentSelectionToolbar.tsx
  app/src/pages/playground/PlaygroundExperimentRunDetailsDialog.tsx
  app/src/pages/playground/UpsertPromptFromTemplateDialog.tsx
  app/src/pages/project/ProjectTableEmpty.tsx
  app/src/pages/project/SessionsTableEmpty.tsx
  app/src/pages/projects/NewProjectButton.tsx
  app/src/pages/projects/ProjectActionMenu.tsx
  app/src/pages/prompt/ClonePromptDialog.tsx
  app/src/pages/prompt/NewPromptVersionTagDialog.tsx
  app/src/pages/prompts/DeletePromptDialog.tsx
  app/src/pages/settings/DeleteUserDialog.tsx
  app/src/pages/settings/GenerativeProvidersCard.tsx
  app/src/pages/settings/ResetPasswordDialog.tsx
  app/src/pages/settings/RetentionPolicyActionMenu.tsx
  app/src/pages/settings/UserRoleChangeDialog.tsx
  app/src/pages/trace/SessionPage.tsx
Owners: @arize-ai/oss-javascript

Increase navigation timeout
  app/playwright.config.ts
Owners: @arize-ai/oss-javascript

increase nav timeout
  app/playwright.config.ts
  app/tests/prompt-management.spec.ts
Owners: @arize-ai/oss-javascript

update OpenAI function_call to tool_call (#8015)
  packages/phoenix-evals/src/phoenix/evals/classify.py
  packages/phoenix-evals/src/phoenix/evals/evaluators.py
  packages/phoenix-evals/src/phoenix/evals/utils.py
  packages/phoenix-evals/tests/phoenix/evals/functions/test_classify.py
  packages/phoenix-evals/tests/phoenix/evals/test_evaluators.py
Owners: @arize-ai/oss-python

temporarily disable video content
  app/src/components/media/Video.tsx
Owners: @arize-ai/oss-javascript

prettier
  app/src/components/ConfirmNavigation.tsx
  app/src/components/auth/CreateAPIKeyDialog.tsx
  app/src/components/auth/DeleteAPIKeyButton.tsx
  app/src/components/auth/OneTimeAPIKeyDialog.tsx
  app/src/components/experiment/ExperimentActionMenu.tsx
  app/src/contexts/FeatureFlagsContext.tsx
  app/src/pages/dataset/AddDatasetExampleDialog.tsx
  app/src/pages/dataset/DatasetHistoryDialog.tsx
  app/src/pages/dataset/RunExperimentButton.tsx
  app/src/pages/datasets/DatasetsPage.tsx
  app/src/pages/datasets/DeleteDatasetDialog.tsx
  app/src/pages/datasets/EditDatasetDialog.tsx
  app/src/pages/dimension/DimensionPage.tsx
  app/src/pages/embedding/ExportSelectionButton.tsx
  app/src/pages/embedding/PointSelectionPanelContent.tsx
  app/src/pages/example/EditExampleDialog.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiments/ExperimentSelectionToolbar.tsx
  app/src/pages/playground/PlaygroundExperimentRunDetailsDialog.tsx
  app/src/pages/project/ProjectTableEmpty.tsx
  app/src/pages/project/SessionsTableEmpty.tsx
  app/src/pages/projects/NewProjectButton.tsx
  app/src/pages/projects/ProjectActionMenu.tsx
  app/src/pages/prompt/ClonePromptDialog.tsx
  app/src/pages/prompt/NewPromptVersionTagDialog.tsx
  app/src/pages/settings/GenerativeProvidersCard.tsx
  app/src/pages/settings/ResetPasswordDialog.tsx
  app/src/pages/settings/RetentionPolicyActionMenu.tsx
  app/src/pages/trace/SessionPage.tsx
  app/stories/AnnotationInputs.stories.tsx
  app/stories/ChatUI.stories.tsx
Owners: @arize-ai/oss-javascript

fix remaining
  app/src/components/auth/CreateAPIKeyDialog.tsx
  app/src/components/auth/OneTimeAPIKeyDialog.tsx
  app/src/pages/datasets/DeleteDatasetDialog.tsx
  app/src/pages/datasets/EditDatasetDialog.tsx
  app/src/pages/playground/UpsertPromptFromTemplateDialog.tsx
  app/src/pages/prompt/ClonePromptDialog.tsx
  app/src/pages/prompts/DeletePromptDialog.tsx
  app/src/pages/settings/DeleteUserDialog.tsx
  app/src/pages/settings/ResetPasswordDialog.tsx
  app/src/pages/settings/UserRoleChangeDialog.tsx
Owners: @arize-ai/oss-javascript

use editable install in CI
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

update OpenAI function_call to tool_call (#8015)
  packages/phoenix-evals/src/phoenix/evals/classify.py
Owners: @arize-ai/oss-python

update OpenAI function_call to tool_call (#8015)
  packages/phoenix-evals/src/phoenix/evals/utils.py
Owners: @arize-ai/oss-python

Upgrade uv and execute with project directive
  app/tests/utils/testServer.mjs
  pyproject.toml
Owners: @arize-ai/oss-javascript

playwright
  app/src/components/auth/OneTimeAPIKeyDialog.tsx
  app/src/pages/profile/ViewerAPIKeys.tsx
  app/src/pages/settings/APIKeysCard.tsx
  app/tests/member-access.spec.ts
Owners: @arize-ai/oss-javascript

fix otel imports
  src/phoenix/experiments/functions.py
  src/phoenix/experiments/tracing.py
  src/phoenix/server/telemetry.py
  src/phoenix/trace/projects.py
Owners: @arize-ai/oss-python

fix import
  tests/integration/_helpers.py
Owners: none

chore: fixing typo error (#8017)
  docs/tracing/integrations-tracing/langchain.md
Owners: none

fix otel imports
  src/phoenix/experiments/functions.py
  src/phoenix/experiments/tracing.py
  src/phoenix/server/telemetry.py
  src/phoenix/trace/projects.py
Owners: @arize-ai/oss-python

fix import
  tests/integration/_helpers.py
Owners: none

link to phoenix-evals or phoenix-otel
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

with openai
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

Add adk docs
  docs/section-integrations/SUMMARY.md
  docs/section-integrations/llm-providers/google-gen-ai/README.md
  docs/section-integrations/llm-providers/google-gen-ai/google-adk-tracing.md
Owners: none

GITBOOK-21: Google ADK
  docs/section-integrations/SUMMARY.md
  docs/section-integrations/llm-providers/google-gen-ai/README.md
  docs/section-integrations/llm-providers/google-gen-ai/google-adk-tracing.md
Owners: none

cleanup
  .github/workflows/playwright.yaml
  app/src/components/media/Video.tsx
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

tweak playwright workflow
  .github/workflows/playwright.yaml
Owners: none

fix: change session filter query to select distinct
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

Updates phoenix-evals README
  packages/phoenix-evals/README.md
Owners: @arize-ai/oss-python

DRY
  packages/phoenix-evals/README.md
Owners: @arize-ai/oss-python

docs: updates phoenix-evals README (#8029)
  packages/phoenix-evals/README.md
Owners: @arize-ai/oss-python

feat(cost): model crud ui and simplify models
  app/src/pages/models/CloneModelButton.tsx
  app/src/pages/models/DeleteModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/experiments/functions.py
  src/phoenix/experiments/tracing.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
  src/phoenix/server/telemetry.py
  src/phoenix/trace/projects.py
  tests/integration/_helpers.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore: clear type ignore
  packages/phoenix-otel/src/phoenix/otel/__init__.py
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

Fetch deps before tests start
  .github/workflows/playwright.yaml
Owners: none

Attempt to use local builds of phoenix-evals and phoenix-otel
  .github/workflows/playwright.yaml
Owners: none

chore: clear type ignore (#8034)
  packages/phoenix-otel/src/phoenix/otel/__init__.py
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

Update client, helpers and tests
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  src/phoenix/server/api/routers/v1/spans.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

go back to explicitly installing openai
  .github/workflows/playwright.yaml
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

fix: change session filter query to remove the join to `project_sessions` table (#8028)
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

Simplify integration tests
  tests/integration/_helpers.py
  tests/integration/client/test_spans.py
Owners: none

Fix pandas type stub issues in client
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
Owners: @arize-ai/oss-python
