Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

clean up
  src/phoenix/server/api/mutations/project_mutations.py
  tests/unit/server/api/mutations/test_project_mutations.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/api/mutations/project_mutations.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/api/mutations/project_mutations.py
Owners: @arize-ai/oss-python

revert
  app/src/pages/datasets/DatasetsPage.tsx
Owners: @arize-ai/oss-javascript

fix: chunk deletion of project sessions (#8133)
  src/phoenix/server/api/mutations/project_mutations.py
  tests/unit/server/api/mutations/test_project_mutations.py
Owners: @arize-ai/oss-python

fix: revert (#8136)
  app/src/pages/datasets/DatasetsPage.tsx
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 10.13.2
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.13.2 (#8132)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.13.2 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

Update app/src/pages/experiment/ExperimentMultiSelector.tsx
  app/src/pages/experiment/ExperimentMultiSelector.tsx
Owners: @arize-ai/oss-javascript

use active venv
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

pre-sync deps
  .github/workflows/playwright.yaml
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

use uv pip
  .github/workflows/playwright.yaml
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

plumb through cost into ui
  app/package.json
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/playground/__generated__/RunMetadataFooterQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_models.graphql.ts
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

lint
  app/src/pages/playground/RunMetadataFooter.tsx
Owners: @arize-ai/oss-javascript

uv venv
  .github/workflows/playwright.yaml
Owners: none

prettier
  app/src/pages/experiment/ExperimentMultiSelector.tsx
Owners: @arize-ai/oss-javascript

fix
  src/phoenix/server/api/subscriptions.py
Owners: @arize-ai/oss-python

feat(costs): wire up cost for playground spans (#8134)
  app/package.json
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/playground/__generated__/RunMetadataFooterQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_models.graphql.ts
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

update deps
  .github/workflows/playwright.yaml
  app/playwright.config.ts
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

fix: Do not try to fetch admin fragment when creating API keys (#8131)
  .github/workflows/playwright.yaml
  app/package.json
  app/playwright.config.ts
  app/src/pages/profile/ViewerAPIKeys.tsx
  app/src/pages/profile/__generated__/ViewerAPIKeysCreateUserAPIKeyMutation.graphql.ts
  app/tests/member-access.spec.ts
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

make select styles re-usable
  app/src/components/select/Select.tsx
  app/src/components/select/styles.ts
  app/src/pages/experiment/ExperimentMultiSelector.tsx
Owners: @arize-ai/oss-javascript

remove unneeded props
  app/src/pages/experiment/ExperimentMultiSelector.tsx
Owners: @arize-ai/oss-javascript

add a comment
  app/src/pages/experiment/ExperimentMultiSelector.tsx
Owners: @arize-ai/oss-javascript

feat(cost): display costs for playground runs over dataset
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
Owners: @arize-ai/oss-javascript

lint
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
Owners: @arize-ai/oss-javascript

fix(cost): display cost for playground runs over a dataset (#8140)
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
Owners: @arize-ai/oss-javascript

fix: Ensure experiment and example dialogs have consistent behavior / styles
  app/src/pages/example/EditExampleButton.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
  app/src/pages/example/ExamplePage.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/playground/PlaygroundExamplePage.tsx
Owners: @arize-ai/oss-javascript

fix: Ensure experiment and example dialogs have consistent behavior / styles (#8141)
  app/src/pages/example/EditExampleButton.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
  app/src/pages/example/ExamplePage.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/playground/PlaygroundExamplePage.tsx
Owners: @arize-ai/oss-javascript

handle conflict
  src/phoenix/server/api/mutations/model_mutations.py
Owners: @arize-ai/oss-python

create
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

default model
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

feat: read OTEL_EXPORTER_OTLP_ENDPOINT when PHOENIX_COLLECTOR_ENDPOINT is missing (#8095)
  packages/phoenix-client/src/phoenix/client/constants.py
  packages/phoenix-client/src/phoenix/client/utils/config.py
  packages/phoenix-client/tests/phoenix/client/utils/test_config.py
  packages/phoenix-otel/src/phoenix/otel/settings.py
  packages/phoenix-otel/tests/test_settings.py
  src/phoenix/config.py
  src/phoenix/tests/test_config.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.11.0
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

feat: playground move metrics to top
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix-otel 0.11.0 (#7945)
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

cleanup
  app/src/components/table/CellTop.tsx
  app/src/components/table/index.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
Owners: @arize-ai/oss-javascript

fix(cost): raise error on model name collision (#8142)
  src/phoenix/server/api/mutations/model_mutations.py
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: @arize-ai/oss-python

feat: playground move metrics to top (#8144)
  app/src/components/table/CellTop.tsx
  app/src/components/table/index.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
Owners: @arize-ai/oss-javascript

refactor: migrate exp picker (#8107)
  app/src/components/select/Select.tsx
  app/src/components/select/styles.ts
  app/src/pages/experiment/ExperimentMultiSelector.tsx
Owners: @arize-ai/oss-javascript

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
