Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

feat(cost): model crud ui and simplify models
  app/src/pages/models/CloneModelButton.tsx
  app/src/pages/models/DeleteModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): implementation and wire up crud operations for models
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/__init__.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): compute and display aggregate cost in project header (#8064)
  app/schema.graphql
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/pages/project/__generated__/ProjectPageHeaderQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageHeader_stats.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQuery.graphql.ts
  app/src/utils/numberFormatUtils.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/token_costs.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/app.py
  src/phoenix/server/dml_event_handler.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

cleanup
  app/schema.graphql
Owners: @arize-ai/oss-javascript

feat(cost): change models table to be a config
  app/src/Routes.tsx
  app/src/components/table/styles.ts
  app/src/pages/Layout.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/DeleteModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
  app/src/pages/settings/SettingsPage.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
Owners: @arize-ai/oss-javascript

fix import
  app/stories/ModelForm.stories.tsx
Owners: @arize-ai/oss-javascript

feat(helm): enable zero downtime rollouts
  helm/README.md
  helm/templates/phoenix/deployment.yaml
  helm/values.yaml
Owners: none

Remove whitespace
  packages/phoenix-evals/docs/source/index.md
Owners: @arize-ai/oss-python

Clarify placeholders for queries and documents in example
  packages/phoenix-evals/docs/source/index.md
Owners: @arize-ai/oss-python

Clarify placeholders for questions, responses, and contexts in example.
  packages/phoenix-evals/docs/source/index.md
Owners: @arize-ai/oss-python

Remove trailing space
  packages/phoenix-client/docs/source/index.md
Owners: @arize-ai/oss-python

GITBOOK-22: Docs: deprecated/removed smolagents classes in tracing docs (From #7996)
  docs/section-integrations/frameworks/hugging-face-smolagents/smolagents-tracing.md
  phoenix-integrations/.gitbook/includes/sign-up-for-phoenix-sign-up....md
Owners: none

Fix deprecated/removed smolagents classes (#7996)
  docs/tracing/integrations-tracing/hfsmolagents.md
Owners: none

Fix: llm_generate definition, remove package structure list in phoenix-evals
  packages/phoenix-evals/docs/source/index.md
Owners: @arize-ai/oss-python

fix: remove unintended phoenix-integrations directory added by GitBook
  phoenix-integrations/.gitbook/includes/sign-up-for-phoenix-sign-up....md
Owners: none

close the code snippet
  packages/phoenix-evals/docs/source/index.md
Owners: @arize-ai/oss-python

Move up API reference
  packages/phoenix-client/docs/source/index.md
Owners: @arize-ai/oss-python

update placeholder
  app/src/pages/project/SessionSearchField.tsx
Owners: @arize-ai/oss-javascript

improve unit test
  tests/unit/server/api/types/test_Project.py
Owners: none

feat: allow filtering of sessions by session_id (#8038)
  app/schema.graphql
  app/src/pages/project/SessionSearchContext.tsx
  app/src/pages/project/SessionSearchField.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Fix: Expand PromptVersion in phoenix-client to make it runnable
  packages/phoenix-client/docs/source/index.md
Owners: @arize-ai/oss-python

Fix: Add example of how to use a prompt
  packages/phoenix-client/docs/source/index.md
Owners: @arize-ai/oss-python

Fix: Add dataset example to phoenix-evals
  packages/phoenix-evals/docs/source/index.md
Owners: @arize-ai/oss-python

fix: update examples in phoenix-evals
  packages/phoenix-evals/docs/source/index.md
Owners: @arize-ai/oss-python

Setup default replica to 1
  helm/templates/phoenix/deployment.yaml
Owners: none

Set replica count to 1 by default
  helm/values.yaml
Owners: none

Update README.md, set default to 1
  helm/README.md
Owners: none

Set default to 1, update doc
  helm/values.yaml
Owners: none

Address PR feedback
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

feat(helm): enable zero downtime rollouts (#8072)
  helm/README.md
  helm/templates/phoenix/deployment.yaml
  helm/values.yaml
Owners: none

feat: Add `log_spans` to client and REST API (#8005)
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/exceptions/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/spans.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix(helm): simpler security context and serviceAccounts
  helm/README.md
  helm/templates/phoenix/deployment.yaml
  helm/values.yaml
Owners: none

feat(helm): version discrepancy in readme
  helm/README.md
Owners: none

feat(helm): workingDir conditional
  helm/templates/phoenix/deployment.yaml
Owners: none

feat(helm): add better notes for admin auth
  helm/templates/NOTES.txt
Owners: none

feat(helm): add pvc for non-external db persistence
  helm/README.md
  helm/templates/phoenix/deployment.yaml
  helm/templates/phoenix/pvc.yaml
  helm/values.yaml
Owners: none

fix(helm): workingDir conditional safety
  helm/templates/phoenix/deployment.yaml
Owners: none

feat(helm): better pvc rendering, object usage
  helm/README.md
  helm/templates/phoenix/deployment.yaml
  helm/templates/phoenix/pvc.yaml
  helm/values.yaml
Owners: none

fix: don't skip when usage is on chunk
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

fix(helm): pvc conditional
  helm/templates/phoenix/deployment.yaml
  helm/templates/phoenix/pvc.yaml
Owners: none

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
