Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

add test for MaxDaysOrCountRule and delete redundant tests on mixins
  tests/unit/db/types/test_trace_retention.py
Owners: none

revent deletion of tests on mixins
  tests/unit/db/types/test_trace_retention.py
Owners: none

revert some more
  tests/unit/db/types/test_trace_retention.py
Owners: none

chore: update readme with new integrations
  README.md
Owners: none

chore: update readme with new integrations (#7783)
  README.md
Owners: none

ci
  .github/workflows/docker-build-release.yml
  helm/Chart.yaml
  helm/values.yaml
Owners: none

use semver for chart
  helm/Chart.yaml
Owners: none

GITBOOK-12: No subject
  docs/section-learn/agents/agent-workflow-patterns/smolagents.md
Owners: none

add test coverage for project filtering
  src/phoenix/db/types/trace_retention.py
  tests/unit/db/types/test_trace_retention.py
Owners: @arize-ai/oss-python

fix: trace retention max_count deletion query did not properly group by project (#7766)
  src/phoenix/db/types/trace_retention.py
  tests/unit/db/types/test_trace_retention.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.2.2
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.2.2 (#7784)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update Phoenix version to 10.2.2 in Kustomize
  kustomize/base/phoenix.yaml
Owners: none

rolepicker to roleselect
  app/src/components/settings/OAuthUserForm.tsx
  app/src/components/settings/RolePicker.tsx
  app/src/components/settings/RoleSelect.tsx
  app/src/components/settings/UserForm.tsx
  app/src/pages/settings/UsersTable.tsx
Owners: @arize-ai/oss-javascript

fix test
  .github/workflows/docker-build-experimental.yml
  helm/Chart.yaml
Owners: none

chore: update phoenix version to updated in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

update helm
  .github/workflows/docker-build-experimental.yml
Owners: none

fix
  .github/workflows/docker-build-experimental.yml
Owners: none

chore: update phoenix version to updated in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

use patch version
  .github/workflows/docker-build-release.yml
Owners: none

test
  .github/workflows/docker-build-experimental.yml
Owners: none

test: Add tests to phoenix.otel
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/__init__.py
  packages/phoenix-otel/tests/test_otel.py
  tox.ini
Owners: @arize-ai/oss-python

prettier
  app/src/components/settings/OAuthUserForm.tsx
  app/src/components/settings/RoleSelect.tsx
Owners: @arize-ai/oss-javascript

ci: update helm chart in ci (#7774)
  .github/workflows/docker-build-release.yml
  helm/Chart.yaml
  helm/values.yaml
Owners: none

Ruff 🐶
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.8.0 (#7768)
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

test: Add tests to phoenix.otel (#7791)
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/__init__.py
  packages/phoenix-otel/tests/test_otel.py
  tox.ini
Owners: @arize-ai/oss-python

configure invalid
  app/src/components/settings/OAuthUserForm.tsx
  app/src/components/settings/UserForm.tsx
Owners: @arize-ai/oss-javascript

errMsg
  app/src/components/settings/RoleSelect.tsx
Owners: @arize-ai/oss-javascript

[feat] helm chart release
  .github/workflows/docker-build-release.yml
  helm/Chart.yaml
Owners: none

fix infinite focus and prettier
  app/src/components/settings/UserForm.tsx
  app/src/pages/settings/NewUserDialog.tsx
Owners: @arize-ai/oss-javascript

chore: fix readme
  README.md
Owners: none

experimental build
  .github/workflows/docker-build-experimental.yml
Owners: none

remove dependency
  .github/workflows/docker-build-experimental.yml
Owners: none

dimensionSelect
  app/src/components/form/DimensionSelect.tsx
  app/src/components/form/index.tsx
Owners: @arize-ai/oss-javascript

echo username
  .github/workflows/docker-build-experimental.yml
Owners: none

push to arizephoenix
  .github/workflows/docker-build-experimental.yml
Owners: none

update dockerhub description
  .github/workflows/docker-build-experimental.yml
Owners: none

chore: migrate projectconfig to select
  app/src/pages/project/ProjectConfigPage.tsx
Owners: @arize-ai/oss-javascript

use different repository
  .github/workflows/docker-build-experimental.yml
Owners: none
