Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

add back in
  packages/phoenix-evals/src/phoenix/evals/templates.py
Owners: @arize-ai/oss-python

fixed columns
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

vars
  packages/phoenix-evals/src/phoenix/evals/templates.py
Owners: @arize-ai/oss-python

mark tests as strict = false
  packages/phoenix-evals/tests/phoenix/evals/functions/test_executor.py
  packages/phoenix-evals/tests/phoenix/evals/models/test_litellm.py
Owners: @arize-ai/oss-python

more failed
  packages/phoenix-evals/tests/phoenix/evals/functions/test_executor.py
Owners: @arize-ai/oss-python

fix: categorical colors more on brand
  app/stories/constants/colorConstants.ts
Owners: @arize-ai/oss-javascript

Use dataset version id
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

remove strict false
  packages/phoenix-evals/tests/phoenix/evals/models/test_litellm.py
Owners: @arize-ai/oss-python

fix: colors broken
  app/src/GlobalStyles.tsx
Owners: @arize-ai/oss-javascript

fix: colors broken (#8610)
  app/src/GlobalStyles.tsx
Owners: @arize-ai/oss-javascript

feat: add environment variable for support email to be included in error messages (#8602)
  src/phoenix/config.py
  src/phoenix/server/api/auth.py
  src/phoenix/server/api/exceptions.py
  src/phoenix/server/app.py
  src/phoenix/server/authorization.py
  src/phoenix/server/email/sender.py
  src/phoenix/server/email/templates/db_disk_usage_notification.html
  tests/integration/server/test_db_disk_usage_monitor.py
Owners: @arize-ai/oss-python

feat(design): semantic charting colors
  app/src/components/chart/colors.tsx
  app/src/pages/project/TraceCountTimeSeries.tsx
  app/stories/SemanticChartColors.stories.tsx
Owners: @arize-ai/oss-javascript

Unify dataset retrieval for dry_run and live_run
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

feat(design): semantic charting colors (#8611)
  app/src/components/chart/colors.tsx
  app/src/pages/project/TraceCountTimeSeries.tsx
  app/stories/SemanticChartColors.stories.tsx
Owners: @arize-ai/oss-javascript

breadcrumbs component
  app/src/components/breadcrumbs/Breadcrumbs.tsx
  app/src/components/breadcrumbs/Item.tsx
  app/src/components/breadcrumbs/index.ts
  app/src/components/index.tsx
  app/src/components/nav/NavBreadcrumb.tsx
  app/stories/Breadcrumbs.stories.tsx
Owners: @arize-ai/oss-javascript

feat(design): add categorical chart colors
  app/src/components/chart/colors.tsx
  app/stories/CategoricalChartColors.stories.tsx
Owners: @arize-ai/oss-javascript

add changeset
  js/.changeset/purple-grapes-taste.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/src/cli.ts
Owners: @arize-ai/oss-javascript

remove dependancies
  tutorials/agents/mastra/example-agent/pnpm-lock.yaml
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

remove deps
  js/examples/apps/phoenix-experiment-runner/pnpm-lock.yaml
  js/examples/notebooks/langchain/pnpm-lock.yaml
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-client/pnpm-lock.yaml
  js/packages/phoenix-mcp/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

feat: scaffold phoenix-cli (#8475)
  js/.changeset/purple-grapes-taste.md
  js/packages/phoenix-cli/DEVELOPMENT.md
  js/packages/phoenix-cli/LICENSE
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-cli/pnpm-lock.yaml
  js/packages/phoenix-cli/src/cli.ts
  js/packages/phoenix-cli/src/commands/index.ts
  js/packages/phoenix-cli/src/index.ts
  js/packages/phoenix-cli/src/utils/index.ts
  js/packages/phoenix-cli/test/cli.test.ts
  js/packages/phoenix-cli/tsconfig.esm.json
  js/packages/phoenix-cli/tsconfig.json
  js/packages/phoenix-mcp/pnpm-lock.yaml
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

Apply suggestion from @mikeldking
  js/packages/phoenix-cli/package.json
Owners: @arize-ai/oss-javascript

Apply suggestion from @mikeldking
  js/packages/phoenix-cli/CHANGELOG.md
Owners: @arize-ai/oss-javascript

docs: docs: adding phoenix to arize migration page (GITBOOK-1298)
  docs/SUMMARY.md
  docs/settings/phoenix-to-arize-ax-migration.md
Owners: none

add retries
  app/src/pages/project/SpansTable.tsx
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

update test
  tests/unit/server/api/types/test_Project.py
Owners: none

remove load more
  app/src/components/table/LoadMoreRow.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

use larger batch size
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

fix: Do not access API for experiment evaluations in dry_run mode (#8606)
  packages/phoenix-client/src/phoenix/client/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.13.1
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

feat: prompt variables skip parse (#8587)
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/functions/test_executor.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.13.1 (#8620)
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.23.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.23.0 (#8621)
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

fix colors
  app/src/components/chart/colors.tsx
Owners: @arize-ai/oss-javascript

remove costPerToken field since it is not being used in the ui
  app/schema.graphql
  app/src/components/trace/SessionTokenCostsDetails.tsx
  app/src/components/trace/SpanTokenCostsDetails.tsx
  app/src/components/trace/TraceTokenCostsDetails.tsx
  app/src/components/trace/__generated__/SessionTokenCostsDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/SpanTokenCostsDetailsQuery.graphql.ts
  app/src/components/trace/__generated__/TraceTokenCostsDetailsQuery.graphql.ts
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsModelsPageQuery.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  src/phoenix/server/api/types/CostBreakdown.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

add back in validation
  src/phoenix/server/cost_tracking/cost_details_calculator.py
Owners: @arize-ai/oss-python

cleanup
  app/src/components/chart/colors.tsx
  app/stories/CategoricalChartColors.stories.tsx
Owners: @arize-ai/oss-javascript

feat(design): categorical chart colors (#8615)
  app/src/components/chart/colors.tsx
  app/stories/CategoricalChartColors.stories.tsx
Owners: @arize-ai/oss-javascript
