Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

Fix typescript CI issue
  js/packages/phoenix-client/src/__generated__/api/v1.ts
Owners: @arize-ai/oss-javascript

do not collect issues from open inference
  .github/.scripts/collect-customer-issues.js
Owners: none

do not collect issues from open inference (#7753)
  .github/.scripts/collect-customer-issues.js
Owners: none

Fix warning bug when TracerProviders have multiple processors
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

Revert unintended change to add_span_processor
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

Fix unintended processor retention
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

Langgraph RAG manual instrumentation example (#7691)
  tutorials/agents/langgraph/evaluate-langgraph-rag-manual-instrumentation.py
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

feat: Return version id from /v1/datasets/upload (#7740)
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/db/insertion/dataset.py
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix: `register` crashes when printing details under certain conditions (#7754)
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.10.1
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-otel 0.10.1 (#7757)
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Owners: @arize-ai/oss-python

Bump minimum version for phoenix-otel
  pyproject.toml
Owners: none

[Phoenix] Database and Phoenix deployment
  helm/templates/_helpers.tpl
  helm/templates/database/deployment.yaml
  helm/templates/phoenix/configmap.yaml
  helm/templates/phoenix/deployment.yaml
  helm/templates/phoenix/ingress.yaml
  helm/templates/phoenix/service.yaml
  helm/values.yaml
Owners: none

pvc
  helm/templates/database/pvc.yaml
Owners: none

add postgres deployment
  helm/templates/database/deployment.yaml
  helm/templates/database/service.yaml
  helm/values.yaml
Owners: none

cleanup
  helm/values.yaml
Owners: none

more work in progress
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
Owners: none

add variables
  helm/.helmignore
  helm/Chart.yaml
  helm/templates/configmap.yaml
  helm/values.yaml
Owners: none

use for loops for secrets and add namespace to metadata
  helm/templates/database/deployment.yaml
  helm/templates/phoenix/configmap.yaml
  helm/templates/phoenix/deployment.yaml
  helm/templates/phoenix/secret.yaml
  helm/values.yaml
Owners: none

ensure postgres vars are properly templated
  helm/templates/database/deployment.yaml
  helm/values.yaml
Owners: none

prevent pvc from being deleted on uninstall
  helm/templates/database/pvc.yaml
Owners: none

update links
  helm/templates/NOTES.txt
  helm/values.yaml
Owners: none

notes.txt
  helm/templates/NOTES.txt
Owners: none

add storage
  helm/values.yaml
Owners: none

ci
  .github/workflows/docker-build-release.yml
  helm/Chart.yaml
  helm/values.yaml
Owners: none

add ingress
  helm/templates/phoenix/ingress.yaml
  helm/templates/phoenix/service.yaml
  helm/values.yaml
Owners: none

helm hooks
  helm/templates/database/deployment.yaml
  helm/templates/phoenix/deployment.yaml
Owners: none

Review ready
  helm/values.yaml
Owners: none

fixes
  helm/templates/phoenix/service.yaml
  helm/values.yaml
Owners: none

test sed
  .github/workflows/docker-build-experimental.yml
Owners: none

Revert "ci"
  .github/workflows/docker-build-release.yml
  helm/Chart.yaml
  helm/values.yaml
Owners: none

test
  .github/workflows/docker-build-experimental.yml
Owners: none

test
  .github/workflows/docker-build-experimental.yml
Owners: none

fix permissions
  .github/workflows/docker-build-experimental.yml
Owners: none

feat: predefined query for extracting tool calls (#7438)
  src/phoenix/session/evaluation.py
  src/phoenix/trace/dsl/helpers.py
  tests/unit/trace/dsl/conftest.py
  tests/unit/trace/dsl/test_helpers.py
Owners: @arize-ai/oss-python

Bump minimum version for phoenix-otel (#7758)
  pyproject.toml
Owners: none

revert
  .github/workflows/docker-build-experimental.yml
Owners: none

docker
  .github/workflows/docker-build-experimental.yml
Owners: none

chore: update Phoenix version to updated in Kustomize
  kustomize/base/phoenix.yaml
Owners: none
