Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

x
  packages/phoenix-otel/docs/source/conf.py
Owners: @arize-ai/oss-python

fix
  src/phoenix/server/api/routers/v1/datasets.py
Owners: @arize-ai/oss-python

docs: phoenix-otel documentation header styling - Update conf.py header… (#7936)
  .gitignore
  packages/phoenix-otel/docs/source/_static/custom.css
  packages/phoenix-otel/docs/source/conf.py
Owners: @arize-ai/oss-python

fix(datasets): allow large field sizes for csv dataset upload (#7943)
  src/phoenix/server/api/routers/v1/datasets.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.7.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.7.1 (#7944)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.7.1 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

ignore .venv for pyright
  packages/phoenix-client/pyproject.toml
  tox.ini
Owners: @arize-ai/oss-python

envbindir
  tox.ini
Owners: none

Address feedback
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

fix
  packages/phoenix-client/.readthedocs.yaml
  packages/phoenix-client/docs/requirements.txt
  packages/phoenix-evals/.readthedocs.yaml
  packages/phoenix-evals/docs/requirements.txt
Owners: @arize-ai/oss-python

feat(cost): Model table (#7949)
  app/src/Routes.tsx
  app/src/pages/Layout.tsx
  app/src/pages/model/ModelInferencesPage.tsx
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/model/index.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): add graphql model resolver
  app/schema.graphql
  app/src/components/form/__generated__/DimensionPickerQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTableEmbeddingDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTable_embeddingDimensions.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTableDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTable_dimensions.graphql.ts
  app/src/pages/__generated__/ModelRootQuery.graphql.ts
  app/src/pages/embedding/MetricSelector.tsx
  app/src/pages/embedding/__generated__/EmbeddingPageModelQuery.graphql.ts
  app/src/pages/embedding/__generated__/ExportSelectionButtonExportsQuery.graphql.ts
  app/src/pages/embedding/__generated__/MetricSelector_dimensions.graphql.ts
  app/src/pages/embedding/__generated__/MetricTimeSeriesQuery.graphql.ts
  app/src/pages/embedding/__generated__/PointSelectionPanelContentQuery.graphql.ts
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/store/__generated__/pointCloudStore_eventsQuery.graphql.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/InferenceModel.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

add missing
  src/phoenix/server/api/types/ModelInterface.py
  src/phoenix/server/api/types/PlaygroundModel.py
Owners: @arize-ai/oss-python

ruff
  app/schema.graphql
  app/src/pages/playground/ModelComboBox.tsx
  app/src/pages/playground/__generated__/ModelComboBoxQuery.graphql.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

relay rebuild
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
Owners: @arize-ai/oss-javascript

Resolve tox issues in CI
  tox.ini
Owners: none

readme
  kustomize/README.md
Owners: none

resolved merge
  kustomize/base/phoenix.yaml
  kustomize/base/postgres.yaml
Owners: none

cleanup
  app/src/Routes.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/models/modelsLoader.ts
Owners: @arize-ai/oss-javascript

chore: switch kustomize to PG base (#7697)
  kustomize/README.md
  kustomize/backends/postgres/kustomization.yaml
  kustomize/backends/postgres/patches.yaml
  kustomize/base/kustomization.yaml
  kustomize/base/phoenix.yaml
  kustomize/base/postgres.yaml
Owners: none

feat: separate docs phoenix client evals (#7948)
  .gitignore
  packages/phoenix-client/.readthedocs.yaml
  packages/phoenix-client/docs/Makefile
  packages/phoenix-client/docs/requirements.txt
  packages/phoenix-client/docs/source/_static/custom.css
  packages/phoenix-client/docs/source/_static/logo.png
  packages/phoenix-client/docs/source/_static/switcher.json
  packages/phoenix-client/docs/source/_templates/custom_sidebar.html
  packages/phoenix-client/docs/source/api/client.rst
  packages/phoenix-client/docs/source/conf.py
  packages/phoenix-client/docs/source/index.md
  packages/phoenix-client/src/phoenix/client/__init__.py
  packages/phoenix-evals/.readthedocs.yaml
  packages/phoenix-evals/docs/Makefile
  packages/phoenix-evals/docs/requirements.txt
  packages/phoenix-evals/docs/source/_static/custom.css
  packages/phoenix-evals/docs/source/_static/logo.png
  packages/phoenix-evals/docs/source/_static/switcher.json
  packages/phoenix-evals/docs/source/_templates/custom_sidebar.html
  packages/phoenix-evals/docs/source/api/evals.rst
  packages/phoenix-evals/docs/source/conf.py
  packages/phoenix-evals/docs/source/index.md
  packages/phoenix-evals/src/phoenix/evals/__init__.py
Owners: @arize-ai/oss-python

feat: Add dataset methods to phoenix client (#7931)
  packages/phoenix-client/pyproject.toml
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/id_handling.py
  packages/phoenix-client/tests/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
  tests/integration/client/test_datasets.py
  tox.ini
Owners: @arize-ai/oss-python

update name
  docs/section-self-hosting/deployment-options/kubernetes.md
Owners: none

docs: update main readthedoc
  api_reference/source/index.md
Owners: none

docs: remove SQLite section from Kubernetes deployment docs - SQLite is no longer supported in kustomize deployments - Keep documentation focused on the supported PostgreSQL option
  docs/section-self-hosting/deployment-options/kubernetes.md
Owners: none

docs: update Kubernetes deployment docs to reflect PostgreSQL as defa… (#7951)
  docs/section-self-hosting/deployment-options/kubernetes.md
Owners: none

Update api_reference/source/index.md
  api_reference/source/index.md
Owners: none

Update api_reference/source/index.md
  api_reference/source/index.md
Owners: none

Update api_reference/source/index.md
  api_reference/source/index.md
Owners: none

docs: update main readthedoc (#7955)
  api_reference/source/index.md
Owners: none

cleanup
  js/packages/phoenix-client/examples/get_spans.ts
  js/packages/phoenix-client/src/spans/getSpans.ts
  js/packages/phoenix-client/src/types/projects.ts
Owners: @arize-ai/oss-javascript

refactor to spans not spans/otlpv1
  js/packages/phoenix-client/examples/get_spans.ts
  js/packages/phoenix-client/src/spans/getSpans.ts
  js/packages/phoenix-client/test/spans/getSpans.test.ts
Owners: @arize-ai/oss-javascript

use generated schema
  js/.changeset/empty-frogs-learn.md
  js/packages/phoenix-client/src/spans/getSpans.ts
Owners: @arize-ai/oss-javascript

fix prettier
  js/packages/phoenix-client/src/spans/getSpans.ts
Owners: @arize-ai/oss-javascript

feat: add getSpans method to pull spans from remote server with filtering and pagination
  js/packages/phoenix-client/examples/get_spans.ts
  js/packages/phoenix-client/src/spans/getSpans.ts
  js/packages/phoenix-client/src/spans/index.ts
  js/packages/phoenix-client/src/spans/types.ts
  js/packages/phoenix-client/test/spans/getSpans.test.ts
Owners: @arize-ai/oss-javascript

prettier
  js/packages/phoenix-client/src/spans/getSpans.ts
Owners: @arize-ai/oss-javascript

rebase on updated endpoint/schema
  js/packages/phoenix-client/examples/get_spans.ts
  js/packages/phoenix-client/src/spans/getSpans.ts
  js/packages/phoenix-client/test/spans/getSpans.test.ts
Owners: @arize-ai/oss-javascript

fix to use generated schema instead
  js/packages/phoenix-client/src/spans/getSpans.ts
  js/packages/phoenix-client/src/spans/types.ts
Owners: @arize-ai/oss-javascript

fix errs
  js/packages/phoenix-client/examples/get_spans.ts
  js/packages/phoenix-client/src/spans/getSpans.ts
  js/packages/phoenix-client/test/spans/getSpans.test.ts
Owners: @arize-ai/oss-javascript

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
