Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

Add type ignores to evaluator wrappers
  packages/phoenix-client/src/phoenix/client/utils/rate_limiters.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

add chart colors
  app/stories/chartColors.stories.tsx
Owners: @arize-ai/oss-javascript

fix(experiments): simplify types for task output in experiments client api
  js/packages/phoenix-client/examples/dataset_and_experiments_quickstart.ts
  js/packages/phoenix-client/src/experiments/runExperiment.ts
  js/packages/phoenix-client/src/types/experiments.ts
Owners: @arize-ai/oss-javascript

add changeset
  js/.changeset/tall-bottles-run.md
Owners: @arize-ai/oss-javascript

fix lint
  js/packages/phoenix-client/examples/dataset_and_experiments_quickstart.ts
Owners: @arize-ai/oss-javascript

eval benchmark
  js/packages/phoenix-evals/benchmark/hallucination_benchmark.ts
Owners: @arize-ai/oss-javascript

alpha of evals
  js/.changeset/thick-words-own.md
Owners: @arize-ai/oss-javascript

fix(experiments): simplify types for task output for experiment api (#8531)
  js/.changeset/tall-bottles-run.md
  js/.changeset/thick-words-own.md
  js/packages/phoenix-client/examples/dataset_and_experiments_quickstart.ts
  js/packages/phoenix-client/src/experiments/runExperiment.ts
  js/packages/phoenix-client/src/types/experiments.ts
  js/packages/phoenix-evals/benchmark/hallucination_benchmark.ts
Owners: @arize-ai/oss-javascript

fix(ts-client): dataset pull
  js/.changeset/odd-cups-open.md
  js/packages/phoenix-client/src/datasets/getDatasetInfoByName.ts
Owners: @arize-ai/oss-javascript

fix(ts-client): dataset pull (#8534)
  js/.changeset/odd-cups-open.md
  js/packages/phoenix-client/src/datasets/getDatasetInfoByName.ts
Owners: @arize-ai/oss-javascript

add simplified version
  tutorials/self-improving_agent_simplified.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Fix type issues
  packages/phoenix-client/src/phoenix/client/resources/experiments/evaluators.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
  packages/phoenix-client/src/phoenix/client/utils/rate_limiters.py
Owners: @arize-ai/oss-python

Use `setattr` instead of reassignment for patching
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Extend type ignores for windows
  packages/phoenix-client/tests/utils/test_executors.py
Owners: @arize-ai/oss-python

No need to accept updated experiment type
  src/phoenix/experiments/functions.py
Owners: @arize-ai/oss-python

migrate playground tooltips
  app/src/pages/playground/MessageContentRadioGroup.tsx
  app/src/pages/playground/PlaygroundOutputMoveButton.tsx
  app/src/pages/playground/PlaygroundTemplate.tsx
Owners: @arize-ai/oss-javascript

fix: paginate spans by trace start time
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
Owners: @arize-ai/oss-python

migrate a few more tooltips
  app/src/components/trace/TraceTree.tsx
  app/src/pages/dataset/DatasetHistoryButton.tsx
  app/src/pages/settings/AnnotationConfigTable.tsx
Owners: @arize-ai/oss-javascript

add lint rule to catch old tooltip usages
  app/.eslintrc.js
Owners: @arize-ai/oss-javascript

decrease some tooltip offsets
  app/src/components/trace/TraceTree.tsx
  app/src/pages/playground/MessageContentRadioGroup.tsx
  app/src/pages/playground/PlaygroundOutputMoveButton.tsx
  app/src/pages/playground/PlaygroundTemplate.tsx
Owners: @arize-ai/oss-javascript

refactor: finish migrating tooltips to new components (#8538)
  app/.eslintrc.js
  app/src/components/trace/TraceTree.tsx
  app/src/pages/dataset/DatasetHistoryButton.tsx
  app/src/pages/playground/MessageContentRadioGroup.tsx
  app/src/pages/playground/PlaygroundOutputMoveButton.tsx
  app/src/pages/playground/PlaygroundTemplate.tsx
  app/src/pages/settings/AnnotationConfigTable.tsx
Owners: @arize-ai/oss-javascript

ci: fix monkey-patching of opentelemetry retries
  requirements/integration-tests.txt
  tests/integration/conftest.py
Owners: none

cleanup color stories
  app/stories/chartColors.stories.tsx
Owners: @arize-ai/oss-javascript

Move tests
  packages/phoenix-client/tests/client/utils/test_executors.py
  packages/phoenix-client/tests/client/utils/test_rate_limiters.py
  packages/phoenix-client/tests/client/utils/test_template_formatters.py
Owners: @arize-ai/oss-python

Break up run_experiment and evaluate_experiment
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/tests/client/utils/test_executors.py
Owners: @arize-ai/oss-python

ci: relocate files to the correct folder for phoenix client tests (#8510)
  packages/phoenix-client/tests/.gitignore
  packages/phoenix-client/tests/__init__.py
  packages/phoenix-client/tests/client/test_spans.py
  packages/phoenix-client/tests/client/utils/test_config.py
  packages/phoenix-client/tests/client/utils/test_template_formatters.py
  packages/phoenix-client/tests/conftest.py
Owners: @arize-ai/oss-python

fix: remove upperbound on protobuf
  pyproject.toml
Owners: none

ci: fix monkey-patching of opentelemetry retry parameter (#8541)
  requirements/integration-tests.txt
  tests/integration/conftest.py
Owners: none

ci(helm): fix helm permissions
  .github/workflows/helm-release.yaml
Owners: none

fix: remove version upperbound on protobuf (#8550)
  pyproject.toml
Owners: none

ci(helm): fix helm permissions (#8551)
  .github/workflows/helm-release.yaml
Owners: none

Return `RanExperiment` type
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

Fix type checker issues
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

switch to flexbox
  app/src/pages/project/ProjectMetricsPage.tsx
Owners: @arize-ai/oss-javascript

Fix integration test types
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

add stories
  app/src/pages/project/ProjectMetricsPage.tsx
  app/src/pages/project/TraceCountTimeSeries.tsx
  app/stories/StackedTimeSeriesBarChart.stories.tsx
Owners: @arize-ai/oss-javascript

add stories
  app/src/GlobalStyles.tsx
  app/src/pages/project/TraceCountTimeSeries.tsx
  app/stories/StackedTimeSeriesBarChart.stories.tsx
  app/stories/chartColors.stories.tsx
Owners: @arize-ai/oss-javascript

lighten the colors
  app/src/GlobalStyles.tsx
Owners: @arize-ai/oss-javascript

fix experiment url
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Another integration test type fix
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python
