Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

Make otel dependencies optional
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

Clean up client CI
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Add unused-ignore
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Broaden ignores
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
Owners: none

Update evaluator binding
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

Add parameter binding test for tasks
  tests/integration/client/test_experiments.py
Owners: none

Fix typo
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

Undo optional opentelemetry dependencies
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

Add IT type annotation
  tests/integration/client/test_experiments.py
Owners: none

Resolve type checker issues
  tests/integration/client/test_experiments.py
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
Owners: none

Fix broken import
  packages/phoenix-evals/src/phoenix/evals/models/rate_limiters.py
Owners: @arize-ai/oss-python

Improve client docstrings
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Add executor and rate limiter tests
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/tests/utils/test_executors.py
  packages/phoenix-client/tests/utils/test_rate_limiters.py
  requirements/packages/phoenix-client.txt
Owners: @arize-ai/oss-python

Update span propagation
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Extend ignore
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Fix evaluator processing and add `create_evaluator`
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/evaluators.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
  test_experiments_comprehensive.py
Owners: @arize-ai/oss-python

Fix span patching
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Remove nest asyncio fallback message
  packages/phoenix-client/src/phoenix/client/utils/executors.py
Owners: @arize-ai/oss-python

Ruff 🐶
  src/phoenix/experiments/functions.py
Owners: @arize-ai/oss-python

Send task spans to the correct project
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Update type checker issues
  src/phoenix/experiments/functions.py
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
Owners: @arize-ai/oss-python

Add client dataset compatibility to legacy module
  src/phoenix/experiments/functions.py
  tests/integration/client/test_datasets.py
Owners: @arize-ai/oss-python

Do not bind twice
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Assure type for type checker
  src/phoenix/experiments/functions.py
Owners: @arize-ai/oss-python

Update client dependencies
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
  src/phoenix/experiments/evaluators/utils.py
Owners: @arize-ai/oss-python

Remove test script
  test_experiments_comprehensive.py
Owners: none

Update integration tests
  tests/integration/client/test_datasets.py
  tests/integration/client/test_experiments.py
Owners: none

Ruff 🐶
  tests/integration/client/test_experiments.py
Owners: none

revert tox.ini
  tox.ini
Owners: none

chore: fix notebooks to suppress output (#8525)
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_calling_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

feat(evals): add hallucination evaluator (#8505)
  js/packages/phoenix-evals/examples/hallucination_example.ts
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/default_templates/HALLUCINATION_TEMPLATE.ts
  js/packages/phoenix-evals/src/default_templates/index.ts
  js/packages/phoenix-evals/src/llm/createClassifier.ts
  js/packages/phoenix-evals/src/llm/createHallucinationEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

Do not use env vars in tests
  tests/integration/client/test_datasets.py
  tests/integration/client/test_experiments.py
Owners: none

Ruff 🐶
  tests/integration/client/test_experiments.py
Owners: none

Remove printif requirement
  packages/phoenix-client/src/phoenix/client/utils/rate_limiters.py
  packages/phoenix-evals/src/phoenix/evals/models/rate_limiters.py
Owners: @arize-ai/oss-python

Undo rate limiter change in evals
  packages/phoenix-evals/src/phoenix/evals/models/rate_limiters.py
Owners: @arize-ai/oss-python

Remove accidental change to experiment scorer
  src/phoenix/experiments/evaluators/utils.py
Owners: @arize-ai/oss-python

make scroll smoother
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

add chart and colors
  app/src/components/chart/colors.tsx
  app/src/pages/project/ProjectMetricsPage.tsx
  app/src/pages/project/TraceCountTimeSeries.tsx
  app/stories/StackedBarChart.stories.tsx
Owners: @arize-ai/oss-javascript

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
