Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

Remove needless comments
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

resolve merge
  packages/phoenix-otel/src/phoenix/otel/otel.py
Owners: @arize-ai/oss-python

ruff fix
  packages/phoenix-otel/src/phoenix/otel/__init__.py
Owners: @arize-ai/oss-python

reformatted
  packages/phoenix-otel/src/phoenix/otel/__init__.py
Owners: @arize-ai/oss-python

update schema
  app/schema.graphql
Owners: @arize-ai/oss-javascript

cost component
  app/src/components/trace/Cost.tsx
  app/src/components/trace/__generated__/Cost_CostDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/project/SpansTable.tsx
Owners: @arize-ai/oss-javascript

significant digits
  app/src/components/trace/Cost.tsx
Owners: @arize-ai/oss-javascript

Resolve type checker issues
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Owners: @arize-ai/oss-python

no cost details
  app/src/components/trace/Cost.tsx
Owners: @arize-ai/oss-javascript

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

refactor: split OTEL documentation into separate Read the Docs site (#7930)
  api_reference/source/api/otel.rst
  api_reference/source/index.md
  packages/phoenix-otel/.readthedocs.yaml
  packages/phoenix-otel/docs/Makefile
  packages/phoenix-otel/docs/README.md
  packages/phoenix-otel/docs/requirements.txt
  packages/phoenix-otel/docs/source/_static/custom.css
  packages/phoenix-otel/docs/source/_static/logo.png
  packages/phoenix-otel/docs/source/_static/switcher.json
  packages/phoenix-otel/docs/source/_templates/custom_sidebar.html
  packages/phoenix-otel/docs/source/api/otel.rst
  packages/phoenix-otel/docs/source/conf.py
  packages/phoenix-otel/docs/source/index.md
  packages/phoenix-otel/src/phoenix/otel/__init__.py
Owners: @arize-ai/oss-python

Ruff 🐶
  tests/integration/client/test_datasets.py
Owners: none

update yaml
  packages/phoenix-otel/.readthedocs.yaml
Owners: @arize-ai/oss-python

merge
  packages/phoenix-otel/.readthedocs.yaml
Owners: @arize-ai/oss-python

More type checker fixes
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Owners: @arize-ai/oss-python

resolve merge
  packages/phoenix-otel/.readthedocs.yaml
Owners: @arize-ai/oss-python

More pandas type checker issues
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Owners: @arize-ai/oss-python

update requirements.txt
  packages/phoenix-otel/docs/requirements.txt
Owners: @arize-ai/oss-python

chore: split otel docs (#7933)
  packages/phoenix-otel/.readthedocs.yaml
  packages/phoenix-otel/docs/requirements.txt
Owners: @arize-ai/oss-python

Resolve type issues in integration tests
  tests/integration/client/test_datasets.py
Owners: none

Ruff 🐶
  tests/integration/client/test_datasets.py
Owners: none

pr feedback
  app/schema.graphql
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/SpanCost.py
  src/phoenix/server/api/types/TokenCost.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix comment
  app/src/components/trace/TokenCount.tsx
Owners: @arize-ai/oss-javascript

linters
  app/src/pages/SpanHeader.tsx
  app/src/pages/project/SpansTable.tsx
Owners: @arize-ai/oss-javascript

Fix type ignore
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Owners: @arize-ai/oss-python

docs: promote the sub-packages higher
  api_reference/source/index.md
Owners: none

docs: promote the sub-packages higher (#7934)
  api_reference/source/index.md
Owners: none

docs: switch up links
  api_reference/source/_static/switcher.json
  api_reference/source/index.md
Owners: none

docs: switch up links (#7935)
  api_reference/source/_static/switcher.json
  api_reference/source/index.md
Owners: none

ci: Improve tox consistency
  tox.ini
Owners: none

More pyright/mypy fixes
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Owners: @arize-ai/oss-python

feat(cost): compute span cost on ingest and plumb through spans table and span details header (#7912)
  .gitignore
  app/schema.graphql
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/span.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_costs.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore(cost): add cost-related tables (#7847)
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

More reliable csv testing
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Owners: @arize-ai/oss-python

Cleanup
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/id_handling.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
  tests/integration/client/test_datasets.py
Owners: @arize-ai/oss-python

More type checker fixes
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Owners: @arize-ai/oss-python

switch kustomize to PG base
  kustomize/README.md
  kustomize/backends/postgres/kustomization.yaml
  kustomize/backends/postgres/patches.yaml
  kustomize/base/kustomization.yaml
  kustomize/base/phoenix.yaml
  kustomize/base/postgres.yaml
Owners: none

remove need for volume mount + pvc for phoenix
  kustomize/base/phoenix.yaml
Owners: none

update mount to avoid postgres initialization issue
  kustomize/base/postgres.yaml
Owners: none

fix(datasets): allow arbitrarily large field sizes for csv dataset upload
  src/phoenix/server/api/routers/v1/datasets.py
Owners: @arize-ai/oss-python
