Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

chore: Add recommended vscode extensions / settings
  .gitignore
  .vscode/extensions.json
  DEVELOPMENT.md
Owners: none

add newline
  DEVELOPMENT.md
Owners: none

fix unit tests
  src/phoenix/server/api/subscriptions.py
Owners: @arize-ai/oss-python

fix unit tests
  src/phoenix/server/api/subscriptions.py
Owners: @arize-ai/oss-python

clean up
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
Owners: @arize-ai/oss-javascript

clean up
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

feat(cost): Reorganize cost model form
  app/src/components/dialog/Dialog.tsx
  app/src/components/overlay/Modal.tsx
  app/src/pages/settings/AnnotationConfigDialog.tsx
  app/src/pages/settings/ModelForm.tsx
Owners: @arize-ai/oss-javascript

initial commit
  .github/workflows/chromatic.yml
Owners: none

ci: add chromatic
  .github/workflows/chromatic.yml
Owners: none

Potential fix for code scanning alert no. 52: Workflow does not contain permissions
  .github/workflows/chromatic.yml
Owners: none

use sizing var on dialog max height
  app/src/components/overlay/Modal.tsx
Owners: @arize-ai/oss-javascript

Update chromatic.yml
  .github/workflows/chromatic.yml
Owners: none

ci: chromatic (#8152)
  .github/workflows/chromatic.yml
Owners: none

chore(main): release arize-phoenix-client 1.11.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

memoize
  app/stories/ChatUI.stories.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/stories/TimeRangeForm.stories.tsx
  app/stories/TimeRangeSelector.stories.tsx
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix-client 1.11.0 (#7953)
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

chore: make storybook stable (#8161)
  app/stories/ChatUI.stories.tsx
  app/stories/TimeRangeForm.stories.tsx
  app/stories/TimeRangeSelector.stories.tsx
Owners: @arize-ai/oss-javascript

chore: Add recommended vscode extensions / settings (#8148)
  .gitignore
  .vscode/extensions.json
  DEVELOPMENT.md
Owners: none

chore(cost): add cost-related tables (#7847)
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

feat(cost): model form with add and edit (#7974)
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/stories/ModelForm.stories.tsx
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): Model table (#7949)
  app/src/Routes.tsx
  app/src/pages/Layout.tsx
  app/src/pages/model/ModelInferencesPage.tsx
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/model/index.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): add graphql model resolver (#7947)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/components/form/__generated__/DimensionPickerQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTableEmbeddingDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTable_embeddingDimensions.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTableDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTable_dimensions.graphql.ts
  app/src/pages/__generated__/ModelRootQuery.graphql.ts
  app/src/pages/embedding/MetricSelector.tsx
  app/src/pages/embedding/__generated__/EmbeddingPageModelQuery.graphql.ts
  app/src/pages/embedding/__generated__/ExportSelectionButtonExportsQuery.graphql.ts
  app/src/pages/embedding/__generated__/MetricSelector_dimensions.graphql.ts
  app/src/pages/embedding/__generated__/MetricTimeSeriesQuery.graphql.ts
  app/src/pages/embedding/__generated__/PointSelectionPanelContentQuery.graphql.ts
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/models/modelsLoader.ts
  app/src/pages/playground/ModelComboBox.tsx
  app/src/pages/playground/__generated__/ModelComboBoxQuery.graphql.ts
  app/src/store/__generated__/pointCloudStore_eventsQuery.graphql.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/api/types/InferenceModel.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/api/types/ModelInterface.py
  src/phoenix/server/api/types/PlaygroundModel.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): compute span cost on ingest and plumb through spans table and span details header (#7912)
  .gitignore
  app/schema.graphql
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/span.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_costs.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): wire up models to be inserted at boot (#7957)
  app/schema.graphql
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/models.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore: update dialogs (#7977)
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
Owners: @arize-ai/oss-javascript

feat(cost): implementation and wire up crud operations for models
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/__init__.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): compute and display aggregate cost in project header (#8064)
  app/schema.graphql
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/pages/project/__generated__/ProjectPageHeaderQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageHeader_stats.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQuery.graphql.ts
  app/src/utils/numberFormatUtils.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/token_costs.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/app.py
  src/phoenix/server/dml_event_handler.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): track prompt and completion cost
  app/schema.graphql
  app/src/pages/models/CloneModelButton.tsx
  app/src/pages/models/DeleteModelButton.tsx
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/stories/ModelForm.stories.tsx
  pyproject.toml
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): model crud ui and simplify models
  app/src/pages/models/CloneModelButton.tsx
  app/src/pages/models/DeleteModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): model attribution and cost aggregation
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/model_total_costs.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  tests/unit/server/cost_tracking/test_cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): add sort on cost column
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/input_types/SpanSort.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix import
  app/stories/ModelForm.stories.tsx
Owners: @arize-ai/oss-javascript

feat(cost): change models table to be a config
  app/src/Routes.tsx
  app/src/components/table/styles.ts
  app/src/pages/Layout.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/DeleteModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
  app/src/pages/settings/SettingsPage.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
Owners: @arize-ai/oss-javascript

chore: ancillary utility scripts for cost testing (#8098)
  scripts/generate_spans_for_cost_calculations/generate_spans_for_cost_calculations.py
  scripts/llm_token_pricing_tables/.gitignore
  scripts/llm_token_pricing_tables/litellm_model_prices.py
  src/phoenix/db/bulk_inserter.py
Owners: @arize-ai/oss-python

fix(cost): adjust model crud mutations to allow for arbitrary cost types (#8112)
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  src/phoenix/server/api/mutations/model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix(cost): allow custom providers in model form (#8109)
  app/schema.graphql
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/utils/generativeUtils.ts
  app/stories/ModelForm.stories.tsx
  src/phoenix/server/api/mutations/model_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

test(cost): add unit tests for model crud mutations (#8118)
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

feat(cost): metrics tab behind a feature flag (#8093)
  app/src/Routes.tsx
  app/src/contexts/FeatureFlagsContext.tsx
  app/src/pages/project/ProjectMetricsPage.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/index.tsx
Owners: @arize-ai/oss-javascript

ci(cost): fix test type checks (#8122)
  tests/unit/server/api/mutations/test_model_mutations.py
Owners: none

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
