Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

pnpm build
  js/packages/phoenix-client/src/__generated__/api/v1.ts
Owners: @arize-ai/oss-javascript

docs: add helm logo to readme
  README.md
Owners: none

clean up
  tests/integration/client/test_users.py
Owners: none

docs: add helm logo to readme (#7801)
  README.md
Owners: none

clean up
  tests/integration/client/test_users.py
Owners: none

feat(admin): users REST api (#7314)
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/scripts/codegen/transform.py
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/db/enums.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/api_key_mutations.py
  src/phoenix/server/api/mutations/user_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/oauth2.py
  src/phoenix/server/api/routers/v1/__init__.py
  src/phoenix/server/api/routers/v1/models.py
  src/phoenix/server/api/routers/v1/projects.py
  src/phoenix/server/api/routers/v1/users.py
  src/phoenix/server/bearer_auth.py
  src/phoenix/server/jwt_store.py
  src/phoenix/server/types.py
  tests/integration/client/conftest.py
  tests/integration/client/test_annotations.py
  tests/integration/client/test_users.py
  tests/unit/db/test_facilitator.py
  tests/unit/server/test_authorization.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore(main): release arize-phoenix 10.3.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.3.0 (#7796)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.3.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

add test that demonstrates bug in ensure_working_dir_if_needed tries to create directories even when postgres is configured
  tests/unit/test_config.py
Owners: none

make sure skiping making dirs; return if _no_local_storage, not pass
  src/phoenix/config.py
Owners: @arize-ai/oss-python

docs: add more self-hosting sections
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/managment.md
  docs/section-self-hosting/provisioning.md
Owners: none

docs: improve self-hosting
  docs/section-self-hosting/README.md
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/license.md
  docs/section-self-hosting/railway.md
Owners: none

move out faqs
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/configuration.md
  docs/section-self-hosting/frequently-asked-questions.md
Owners: none

cleanup
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/management.md
Owners: none

cleanup
  docs/section-self-hosting/README.md
Owners: none

cleanup
  docs/section-self-hosting/README.md
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/migrations.md
Owners: none

cleanup
  docs/section-self-hosting/README.md
Owners: none

docs: improve self-hosting section (#7806)
  docs/section-self-hosting/README.md
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/configuration.md
  docs/section-self-hosting/frequently-asked-questions.md
  docs/section-self-hosting/license.md
  docs/section-self-hosting/management.md
  docs/section-self-hosting/migrations.md
  docs/section-self-hosting/provisioning.md
  docs/section-self-hosting/railway.md
Owners: none

button
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

close button
  app/src/pages/settings/NewUserDialog.tsx
Owners: @arize-ai/oss-javascript

feat: toolCHoiceSelect
  app/src/components/generative/ToolChoiceSelector.tsx
Owners: @arize-ai/oss-javascript

prettier
  app/src/components/generative/ToolChoiceSelector.tsx
Owners: @arize-ai/oss-javascript

update grok model ids
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

GITBOOK-11: small changes to see if it fixes deployment
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/aws-with-cloudformation.md
  docs/section-self-hosting/deployment-options/docker.md
  docs/section-self-hosting/deployment-options/kubernetes.md
Owners: none

chore: rolepicker to roleselect (#7787)
  app/src/components/settings/OAuthUserForm.tsx
  app/src/components/settings/RolePicker.tsx
  app/src/components/settings/RoleSelect.tsx
  app/src/components/settings/UserForm.tsx
  app/src/pages/settings/NewUserDialog.tsx
  app/src/pages/settings/UsersTable.tsx
Owners: @arize-ai/oss-javascript

fix: no local storage should skip creating dirs (#7805)
  src/phoenix/config.py
  tests/unit/test_config.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.3.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.3.1 (#7812)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

Update batch size on export annotations
  export/exporters/export_annotations.py
Owners: none

chore: update phoenix version to 10.3.1 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

GITBOOK-13: Docker page bump
  docs/section-self-hosting/deployment-options/docker.md
Owners: none

GITBOOK-14: No subject
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/deployment/docker-v2.md
Owners: none

update padding
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/pages/playground/PlaygroundTools.tsx
Owners: @arize-ai/oss-javascript

GITBOOK-16: Fixing redirects
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/deployment/docker-v2.md
Owners: none

GITBOOK-17: Deployment section fixes
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/deployment-1/aws-with-cloudformation.md
  docs/section-self-hosting/deployment-1/docker.md
  docs/section-self-hosting/deployment-1/kubernetes.md
  docs/section-self-hosting/deployment-1/railway.md
  docs/section-self-hosting/deployment/docker.md
  docs/section-self-hosting/kubernetes.md
Owners: none

GITBOOK-18: Fully switching over docker section
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/deployment-1/aws-with-cloudformation.md
  docs/section-self-hosting/deployment-1/docker.md
  docs/section-self-hosting/deployment-1/kubernetes.md
  docs/section-self-hosting/deployment-1/railway.md
Owners: none

final release
  .github/workflows/docker-build-experimental.yml
  .github/workflows/docker-build-release.yml
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
Owners: none

GITBOOK-21: Moving under deployment section
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/deployment/aws-with-cloudformation.md
  docs/section-self-hosting/deployment/kubernetes.md
  docs/section-self-hosting/deployment/railway.md
Owners: none

GITBOOK-22: Renaming deployment section
  docs/section-self-hosting/SUMMARY.md
  docs/section-self-hosting/deployment-options/aws-with-cloudformation.md
  docs/section-self-hosting/deployment-options/docker.md
  docs/section-self-hosting/deployment-options/kubernetes.md
  docs/section-self-hosting/deployment-options/railway.md
Owners: none

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
