Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

feat(cost): refetch models on new and clone (#8173)
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/NewModelButton.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModel.graphql.ts
  app/src/pages/settings/__generated__/ModelsTable_generativeModels.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsModelsLoaderQuery.graphql.ts
  app/src/pages/settings/settingsModelsLoader.ts
Owners: @arize-ai/oss-javascript

chore: re-label urls to say localhost so that it mitigates confusion
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python

more cleanup
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python

cleanup
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python

chore: re-label urls to say localhost so that it mitigates confusion (#8174)
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python

Add cost resolver to Experiment
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_ids_by_trace_id.py
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/api/types/ExperimentRun.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-python

Update gql schema
  app/schema.graphql
Owners: @arize-ai/oss-javascript

Add cost resolver to ExperimentRun
  src/phoenix/server/api/types/ExperimentRun.py
  src/phoenix/server/api/types/TokenCost.py
Owners: @arize-ai/oss-python

Minor cleanup
  src/phoenix/server/api/dataloaders/span_ids_by_trace_id.py
  src/phoenix/server/api/types/TokenCost.py
Owners: @arize-ai/oss-python

feat(cost): display model cost as per / 1M
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
Owners: @arize-ai/oss-javascript

feat(cost): display model cost as per / 1M (#8175)
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
Owners: @arize-ai/oss-javascript

REfactor cost resolvers on Experiment and ExperimentRun
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_experiment.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_experiment_run.py
  src/phoenix/server/api/dataloaders/span_ids_by_trace_id.py
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/api/types/ExperimentRun.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-python

Update gql schema
  app/schema.graphql
Owners: @arize-ai/oss-javascript

feat: Add environment variable setting for default retention policy
  src/phoenix/config.py
  src/phoenix/db/facilitator.py
Owners: @arize-ai/oss-python

feat(cost): sort sessions table by cost
  app/schema.graphql
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  src/phoenix/server/api/input_types/ProjectSessionSort.py
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

wip
  app/schema.graphql
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/db/types/token_price_customization.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/last_used_times_by_generative_model_id.py
  src/phoenix/server/api/dataloaders/span_cost_detail_summary_entries_by_generative_model.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_generative_model.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_details_calculator.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/cost_model_lookup.py
  src/phoenix/server/cost_tracking/helpers.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
  src/phoenix/server/cost_tracking/regex_specificity.py
  src/phoenix/server/cost_tracking/token_cost_calculator.py
  src/phoenix/server/daemons/__init__.py
  src/phoenix/server/daemons/generative_model_store.py
  src/phoenix/server/daemons/span_cost_calculator.py
  tests/unit/db/types/test_token_price_customization.py
  tests/unit/server/api/mutations/test_model_mutations.py
  tests/unit/server/api/types/conftest.py
  tests/unit/server/cost_tracking/test_cost_details_calculator.py
  tests/unit/server/cost_tracking/test_cost_model_lookup.py
  tests/unit/server/cost_tracking/test_helpers.py
  tests/unit/server/cost_tracking/test_regex_specificity.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update src/phoenix/config.py
  src/phoenix/config.py
Owners: @arize-ai/oss-python

Update src/phoenix/config.py
  src/phoenix/config.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-python

Update to Arize Logo as it's linked from Arize Docs
  tutorials/evals/evaluate_summarization_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Update tutorials/evals/evaluate_summarization_classifications.ipynb
  tutorials/evals/evaluate_summarization_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

disable exitfirst
  .github/workflows/python-CI.yml
  src/phoenix/server/api/mutations/model_mutations.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.14.0 (#8138)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

feat(cost): sort sessions table by cost (#8179)
  app/schema.graphql
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  src/phoenix/server/api/input_types/ProjectSessionSort.py
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore: update phoenix version to 10.14.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

Remove TokenCost addition operation
  src/phoenix/server/api/types/TokenCost.py
Owners: @arize-ai/oss-python

clean up
  scripts/generate_spans_for_cost_calculations/generate_spans_for_cost_calculations.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

Add cost_detail_summary_entries resolvers
  app/schema.graphql
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/api/types/ExperimentRun.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix(cost): fix span sort by cost
  src/phoenix/server/api/input_types/SpanSort.py
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

fix(cost): fix span sort by cost (#8185)
  src/phoenix/server/api/input_types/SpanSort.py
  src/phoenix/server/api/types/Project.py
Owners: @arize-ai/oss-python

feat: ExperimentRun and Experiment cost resolvers (#8146)
  app/schema.graphql
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_experiment.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_experiment_run.py
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/api/types/ExperimentRun.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

remove lock
  tests/unit/conftest.py
Owners: none

feat(cost): use database records for span cost calculator (#8180)
  .github/workflows/python-CI.yml
  app/schema.graphql
  app/src/pages/settings/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  scripts/generate_spans_for_cost_calculations/generate_spans_for_cost_calculations.py
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/db/types/token_price_customization.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/last_used_times_by_generative_model_id.py
  src/phoenix/server/api/dataloaders/span_cost_detail_summary_entries_by_generative_model.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_generative_model.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_details_calculator.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/cost_model_lookup.py
  src/phoenix/server/cost_tracking/helpers.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
  src/phoenix/server/cost_tracking/regex_specificity.py
  src/phoenix/server/cost_tracking/token_cost_calculator.py
  src/phoenix/server/daemons/__init__.py
  src/phoenix/server/daemons/generative_model_store.py
  src/phoenix/server/daemons/span_cost_calculator.py
  tests/unit/conftest.py
  tests/unit/db/types/test_token_price_customization.py
  tests/unit/server/api/mutations/test_model_mutations.py
  tests/unit/server/api/types/conftest.py
  tests/unit/server/cost_tracking/test_cost_details_calculator.py
  tests/unit/server/cost_tracking/test_cost_model_lookup.py
  tests/unit/server/cost_tracking/test_helpers.py
  tests/unit/server/cost_tracking/test_regex_specificity.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update docker-build-experimental.yml
  .github/workflows/docker-build-experimental.yml
Owners: none

Update docker-build-experimental.yml (#8186)
  .github/workflows/docker-build-experimental.yml
Owners: none

exp annotation
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/ExperimentRun.py
Owners: @arize-ai/oss-python

remove changes
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/ExperimentRun.py
Owners: @arize-ai/oss-python

add back trigger
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

prettier
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

Cleanup model form UI and fix crash
  app/src/components/field/NumberField.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/ModelTokenCostControlTable.tsx
  app/src/pages/settings/ModelTokenTypeComboBox.tsx
Owners: @arize-ai/oss-javascript
