Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

Pin to 16.7
  kustomize/base/postgres.yaml
Owners: none

fix intercepters
  src/phoenix/server/app.py
  src/phoenix/server/bearer_auth.py
  src/phoenix/server/daemons/db_disk_usage_monitor.py
  src/phoenix/server/grpc_server.py
  tests/integration/server/test_db_disk_usage_monitor.py
Owners: @arize-ai/oss-python

Update to postgres 16 in kustomize manifest (#8414)
  kustomize/base/postgres.yaml
Owners: none

add prometheus
  pyproject.toml
  src/phoenix/server/daemons/db_disk_usage_monitor.py
  src/phoenix/server/prometheus.py
Owners: @arize-ai/oss-python

docs: docs: 07/03 release notes updates (GITBOOK-26)
  docs/section-release-notes/07.02.2025-cursor-mcp-button.md
  docs/section-release-notes/07.03.2025-cost-summaries-in-trace-headers.md
  docs/section-release-notes/README.md
  docs/section-release-notes/SUMMARY.md
Owners: none

docs: No subject (GITBOOK-37)
  docs/section-integrations/vercel/vercel-ai-sdk-tracing-js.md
Owners: none

fix: re-order csv form to do file import first
  app/src/pages/datasets/DatasetFromCSVForm.tsx
Owners: @arize-ai/oss-javascript

fix: re-order csv form to do file import first (#8421)
  app/src/pages/datasets/DatasetFromCSVForm.tsx
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 11.4.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

docs: docs: bee ai python integration (GITBOOK-38)
  docs/section-integrations/SUMMARY.md
  docs/section-integrations/frameworks/beeai/README.md
  docs/section-integrations/frameworks/beeai/beeai-tracing-python.md
  docs/section-integrations/frameworks/crewai/crewai-tracing.md
Owners: none

docs: docs: updating BeeAI python (GITBOOK-39)
  docs/section-integrations/frameworks/beeai/beeai-tracing-python.md
Owners: none

docs: docs: adding missing import (GITBOOK-40)
  docs/section-integrations/frameworks/beeai/beeai-tracing-python.md
Owners: none

docs: docs: adding agentchat tracing (GITBOOK-41)
  docs/section-integrations/SUMMARY.md
  docs/section-integrations/frameworks/autogen/README.md
  docs/section-integrations/frameworks/autogen/autogen-agentchat-tracing.md
Owners: none

docs: docs: updating agent chat (GITBOOK-42)
  docs/section-integrations/frameworks/autogen/autogen-agentchat-tracing.md
Owners: none

docs: docs: moving app to production (GITBOOK-1292)
  docs/SUMMARY.md
  docs/production-guide.md
Owners: none

add docblocks for Tooltip and RichTooltip usage
  app/src/components/tooltip/RichTooltip.tsx
  app/src/components/tooltip/Tooltip.tsx
Owners: @arize-ai/oss-javascript

wip: migrate MetadataTooltip
  app/src/pages/project/MetadataTooltip.tsx
Owners: @arize-ai/oss-javascript

GITBOOK-29: No subject
  docs/section-learn/SUMMARY.md
Owners: none

docs: updating openai JS (GITBOOK-44)
  docs/section-integrations/llm-providers/openai/openai-node.js-sdk.md
Owners: none

use FAILED_PRECONDITION
  src/phoenix/server/app.py
Owners: @arize-ai/oss-python

refactor: enable custom width on RichTooltip
  app/src/components/tooltip/RichTooltip.tsx
  app/src/components/tooltip/styles.ts
  app/src/pages/project/MetadataTooltip.tsx
Owners: @arize-ai/oss-javascript

GITBOOK-30: docs: updating Context Eng. Learn Page
  docs/section-learn/context-engineering/prompts-concepts.md
Owners: none

attempt to reduce IT flakiness
  tests/integration/_helpers.py
  tests/integration/auth/conftest.py
  tests/integration/auth/test_auth.py
  tests/integration/client/conftest.py
  tests/integration/client/test_annotations.py
  tests/integration/client/test_datasets.py
  tests/integration/client/test_projects.py
  tests/integration/client/test_prompts.py
  tests/integration/client/test_spans.py
  tests/integration/client/test_users.py
  tests/integration/conftest.py
  tests/integration/db_migrations/__init__.py
  tests/integration/db_migrations/conftest.py
  tests/integration/db_migrations/test_autoincrement_primary_keys.py
  tests/integration/db_migrations/test_change_jsonb_to_json_for_prompts.py
  tests/integration/db_migrations/test_data_migration_2f9d1a65945f_annotation_config_migration.py
  tests/integration/db_migrations/test_data_migration_4ded9e43755f_create_project_sessions_table.py
  tests/integration/db_migrations/test_data_migration_6a88424799fe_update_users_with_auth_method.py
  tests/integration/db_migrations/test_db_schema_2f9d1a65945f_annotation_config_migration.py
  tests/integration/db_migrations/test_db_schema_6a88424799fe_update_users_with_auth_method.py
  tests/integration/db_migrations/test_db_schema_a20694b15f82_cost.py
  tests/integration/db_migrations/test_up_and_down_migrations.py
  tests/integration/project_sessions/conftest.py
  tests/integration/project_sessions/test_project_sessions.py
  tests/integration/server/test_db_disk_usage_monitor.py
  tests/integration/server/test_launch_app.py
Owners: none

clean up
  tests/integration/db_migrations/conftest.py
Owners: none

GITBOOK-31: docs: rename context eng page
  docs/section-learn/SUMMARY.md
Owners: none

GITBOOK-32: docs: update url links under learn section
  docs/section-learn/SUMMARY.md
  docs/section-learn/context-engineering/context-engineering-concepts.md
Owners: none

migrate AnnotationSummary to new tooltip
  app/src/pages/project/AnnotationSummary.tsx
Owners: @arize-ai/oss-javascript

clean up
  tests/integration/_helpers.py
  tests/integration/auth/test_auth.py
  tests/integration/conftest.py
Owners: none

Add comprehensive Dependabot configuration with targeted scanning
  .github/dependabot.yml
  internal_docs/dependabot-configuration.md
Owners: none

deps: Remove reviewers and clarify Dependabot configuration comments
  .github/dependabot.yml
Owners: none

clean up
  src/phoenix/server/bearer_auth.py
Owners: @arize-ai/oss-python

Update app/src/components/tooltip/Tooltip.tsx
  app/src/components/tooltip/Tooltip.tsx
Owners: @arize-ai/oss-javascript

paginate sql query
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

fix Windows
  tests/integration/_helpers.py
Owners: none

feat: Add serialization/deserialization methods to Dataset
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  tests/integration/client/test_datasets.py
Owners: @arize-ai/oss-python

fix cursor
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

clean up
  src/phoenix/config.py
  tests/integration/_helpers.py
Owners: @arize-ai/oss-python

trim page
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-python

docs: updating beeai JS (GITBOOK-45)
  docs/section-integrations/frameworks/beeai/beeai-tracing-js.md
Owners: none

clean up
  tests/integration/_helpers.py
Owners: none

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
