Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

add exports
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/index.ts
Owners: @arize-ai/oss-javascript

fix
  js/packages/phoenix-evals/src/types/prompts.ts
Owners: @arize-ai/oss-javascript

add example
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/llm/generateClassification.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

fix
  js/packages/phoenix-evals/src/llm/generateClassification.ts
  js/packages/phoenix-evals/src/types/prompts.ts
Owners: @arize-ai/oss-javascript

add example
  js/packages/phoenix-evals/examples/classification_example.ts
Owners: @arize-ai/oss-javascript

cleanup
  js/packages/phoenix-evals/examples/classification_example.ts
Owners: @arize-ai/oss-javascript

Update js/packages/phoenix-evals/examples/classification_example.ts
  js/packages/phoenix-evals/examples/classification_example.ts
Owners: @arize-ai/oss-javascript

Update openai_sessions_tutorial.ipynb
  tutorials/tracing/openai_sessions_tutorial.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

fix ci
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

docs: fix notebook typo error (#8467)
  tutorials/experiments/txt2sql.ipynb
  tutorials/tracing/openai_sessions_tutorial.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

return type
  app/src/Routes.tsx
  app/src/pages/experiment/experimentCompareLoader.ts
Owners: @arize-ai/oss-javascript

slice
  app/src/pages/experiments/ExperimentSelectionToolbar.tsx
Owners: @arize-ai/oss-javascript

feat(design): add experiment table story (#8456)
  .github/workflows/chromatic.yml
  app/stories/ExperimentTable.stories.tsx
  app/stories/ModelForm.stories.tsx
  app/stories/Table.stories.tsx
Owners: @arize-ai/oss-javascript

don't raise error
  app/src/pages/experiment/ExperimentMultiSelector.tsx
Owners: @arize-ai/oss-javascript

GITBOOK-34: docs: updating annotation learn concept links
  docs/section-learn/tracing/annotations-concepts.md
Owners: none

feat(experiments): add baseline to compare experiments page (#8461)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/ExperimentMultiSelector.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentMultiSelector__data.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentMultiSelector__experiments.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiment/experimentCompareLoader.ts
  app/src/pages/experiments/ExperimentSelectionToolbar.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/playground/PlaygroundDatasetSection.tsx
  src/phoenix/server/api/queries.py
  tests/unit/server/api/test_queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

docs: docs: fixing links (GITBOOK-1295)
  docs/production-guide.md
  docs/tracing/features-tracing/how-to-annotate-traces.md
Owners: none

docs: Anthony's Jul 7 Vercel AI changes (GITBOOK-43)
  docs/section-integrations/vercel/vercel-ai-sdk-tracing-js.md
Owners: none

feat: scaffold phoenix-cli
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/DEVELOPMENT.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-cli/src/cli.ts
  js/packages/phoenix-cli/src/commands/index.ts
  js/packages/phoenix-cli/src/index.ts
  js/packages/phoenix-cli/src/utils/index.ts
  js/packages/phoenix-cli/test/cli.test.ts
  js/packages/phoenix-cli/tsconfig.esm.json
  js/packages/phoenix-cli/tsconfig.json
Owners: @arize-ai/oss-javascript

refactor: use local variable for lock to fix unit test flakiness (#8458)
  .github/workflows/python-CI.yml
  requirements/ci.txt
  requirements/integration-tests.txt
  src/phoenix/server/app.py
  src/phoenix/server/types.py
Owners: @arize-ai/oss-python

Create Phoenix CLI package with instance and export management
  phoenix-cli/LICENSE
  phoenix-cli/MANIFEST.in
  phoenix-cli/PHOENIX_CLI_SUMMARY.md
  phoenix-cli/README.md
  phoenix-cli/demo.py
  phoenix-cli/examples/example_usage.py
  phoenix-cli/pyproject.toml
  phoenix-cli/requirements.txt
  phoenix-cli/setup.py
  phoenix-cli/src/phoenix_cli/__init__.py
  phoenix-cli/src/phoenix_cli/cli.py
  phoenix-cli/src/phoenix_cli/config.py
  phoenix-cli/src/phoenix_cli/export.py
  phoenix-cli/src/phoenix_cli/instances.py
  phoenix-cli/src/phoenix_cli/phoenix_client.py
  phoenix-cli/test_cli.py
Owners: none

clean up
  tests/integration/_helpers.py
  tests/integration/auth/conftest.py
  tests/integration/auth/test_auth.py
  tests/integration/client/conftest.py
  tests/integration/client/test_annotations.py
  tests/integration/client/test_spans.py
Owners: none

clean up
  tests/integration/_helpers.py
  tests/integration/auth/conftest.py
  tests/integration/auth/test_auth.py
  tests/integration/client/conftest.py
Owners: none

clean up
  tests/integration/auth/test_auth.py
  tests/integration/client/test_spans.py
Owners: none

clean up
  tests/integration/_helpers.py
  tests/integration/auth/conftest.py
  tests/integration/client/conftest.py
Owners: none

feat(evals): typescript types and generateClassification (#8464)
  js/packages/phoenix-evals/examples/classification_example.ts
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-evals/src/index.ts
  js/packages/phoenix-evals/src/llm/generateClassification.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/packages/phoenix-evals/src/types/index.ts
  js/packages/phoenix-evals/src/types/prompts.ts
  js/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

enable combination light+dark stories
  app/.storybook/preview.tsx
Owners: @arize-ai/oss-javascript

basic bar chart component
  app/src/GlobalStyles.tsx
  app/src/components/chart/BarChart.tsx
  app/src/components/chart/ChartStyles.tsx
  app/src/components/chart/ChartTooltip.tsx
  app/src/components/chart/defaults.tsx
  app/src/components/chart/index.tsx
  app/src/components/index.tsx
  app/stories/BarChart.stories.tsx
Owners: @arize-ai/oss-javascript

fix: bar chart axis label spacing and color
  app/src/components/chart/BarChart.tsx
  app/src/components/chart/ChartStyles.tsx
Owners: @arize-ai/oss-javascript

fix: bar chart flush margins
  app/src/components/chart/BarChart.tsx
  app/stories/BarChart.stories.tsx
Owners: @arize-ai/oss-javascript

add: chart card
  app/src/components/chart/ChartCard.tsx
  app/src/components/chart/index.tsx
  app/stories/ChartCard.stories.tsx
Owners: @arize-ai/oss-javascript

Shuffling AFTER adding labels, running linter
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_calling_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

update config
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-cli/src/cli.ts
  js/packages/phoenix-cli/src/index.ts
Owners: @arize-ai/oss-javascript

prettier
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/DEVELOPMENT.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-cli/src/cli.ts
  js/packages/phoenix-cli/src/commands/index.ts
  js/packages/phoenix-cli/src/index.ts
  js/packages/phoenix-cli/src/utils/index.ts
  js/packages/phoenix-cli/test/cli.test.ts
  js/packages/phoenix-cli/tsconfig.esm.json
  js/packages/phoenix-cli/tsconfig.json
Owners: @arize-ai/oss-javascript

update dependency
  js/examples/apps/phoenix-experiment-runner/pnpm-lock.yaml
  js/examples/notebooks/langchain/pnpm-lock.yaml
  js/packages/phoenix-cli/LICENSE
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-cli/pnpm-lock.yaml
  js/packages/phoenix-client/pnpm-lock.yaml
  js/packages/phoenix-mcp/pnpm-lock.yaml
  js/pnpm-lock.yaml
  tutorials/agents/mastra/example-agent/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript, @arize-ai/dev-rel, @arize-ai/oss-eng

docs(evals): spec
  internal_docs/specs/evals.md
Owners: none

Update internal_docs/specs/evals.md
  internal_docs/specs/evals.md
Owners: none

Update internal_docs/specs/evals.md
  internal_docs/specs/evals.md
Owners: none

Update internal_docs/specs/evals.md
  internal_docs/specs/evals.md
Owners: none

Update internal_docs/specs/evals.md
  internal_docs/specs/evals.md
Owners: none
