Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

chore: switch to movies for txt2sql
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

cleanup
  docs/section-cookbooks/datasets-and-experiments/text2sql.md
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

docs: change data source (#8339)
  docs/section-cookbooks/datasets-and-experiments/text2sql.md
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore: fix spelling
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore: fix spelling (#8341)
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore: cleanup notebook
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

cleanup
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Update tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore: cleanup notebook for evals_that_work" (#8342)
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore: remove hf citation
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore: remove hf citation (#8343)
  tutorials/courses/evals/evals_that_work/evals_that_work.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

chore: cleanup notebooks'
  docs/section-cookbooks/datasets-and-experiments/text2sql.md
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

cleanup
  docs/section-cookbooks/datasets-and-experiments/text2sql.md
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

ruff
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Update docs/section-cookbooks/datasets-and-experiments/text2sql.md
  docs/section-cookbooks/datasets-and-experiments/text2sql.md
Owners: none

chore: cleanup notebooks (#8345)
  docs/section-cookbooks/datasets-and-experiments/text2sql.md
  tutorials/experiments/txt2sql.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Enhance security in PostgreSQL connection and calculator tool validation
  src/phoenix/config.py
  src/phoenix/session/session.py
  tutorials/agents/mastra/example-agent/src/mastra/tools/calculator-tool.ts
Owners: @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

models
  scripts/sync_litellm_models.py
Owners: none

clean regular expressions
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

alphabetize models
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

sync
  scripts/sync_litellm_models.py
Owners: none

update manifest
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

chore: update model pricing data (2025-07-01)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

remove third-party dep
  .github/workflows/cost-sync.yml
  requirements/sync-models.txt
  scripts/sync_litellm_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

remove comments
  scripts/sync_litellm_models.py
Owners: none

audio tokens
  scripts/sync_litellm_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

simplify script
  scripts/sync_litellm_models.py
Owners: none

simplify
  scripts/sync_litellm_models.py
Owners: none

clean
  scripts/sync_litellm_models.py
Owners: none

clean
  scripts/sync_litellm_models.py
Owners: none

nix openrouter
  .github/workflows/cost-sync.yml
Owners: none

ruff
  scripts/sync_openrouter_models.py
Owners: none

test
  .github/workflows/cost-sync.yml
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

chore: update model pricing data ()
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

alphabetize keys
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

chore: update model pricing data ()
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

simplify ci
  .github/workflows/cost-sync.yml
Owners: none

nix openrouter script
  scripts/sync_openrouter_models.py
Owners: none

fix ci
  .github/workflows/cost-sync.yml
Owners: none

chore: update built-in model token prices ()
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
