Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

Update icon for management link
  app/src/components/icon/Icons.tsx
  app/src/components/nav/Navbar.tsx
  app/src/pages/Layout.tsx
Owners: @arize-ai/oss-javascript

Add comprehensive Phoenix feature requests and bug reports document
  phoenix_issues_to_file.md
Owners: none

fix(cost): remove extra join in query for span cost summary (#8373)
  src/phoenix/server/api/dataloaders/span_cost_summary_by_project.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.2.2
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 11.2.2 (#8372)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 11.2.2 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

docs: fixing eval libraries (GITBOOK-31)
  docs/section-integrations/SUMMARY.md
  docs/section-integrations/frameworks/pydantic/pydantic-tracing.md
  docs/section-integrations/mastra/README.md
  docs/section-integrations/mastra/mastra-tracing.md
  docs/section-integrations/portkey/README.md
  docs/section-integrations/portkey/portkey-tracing.md
  docs/section-integrations/pydantic/README.md
  docs/section-integrations/pydantic/pydantic-evals.md
  docs/section-integrations/pydantic/pydantic-tracing.md
Owners: none

fix: dataloader for annotation configs
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/annotation_configs_by_project.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-python

docs: No subject (GITBOOK-36)
  docs/section-integrations/README.md
  docs/section-integrations/SUMMARY.md
  docs/section-integrations/evaluation-integrations/cleanlab.md
  docs/section-integrations/evaluation-integrations/ragas.md
  docs/section-integrations/llm-providers/google-gen-ai/google-adk-tracing.md
Owners: none

clean script
  scripts/sync_litellm_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

sync model costs
  .github/workflows/cost-sync.yml
  tox.ini
Owners: none

test
  .github/workflows/cost-sync.yml
Owners: none

chore(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

run on cron
  .github/workflows/cost-sync.yml
Owners: none

once every five minutes
  .github/workflows/cost-sync.yml
Owners: none

double quotes
  .github/workflows/cost-sync.yml
Owners: none

set cron
  .github/workflows/cost-sync.yml
Owners: none

comment
  .github/workflows/cost-sync.yml
Owners: none

validate regex
  scripts/sync_litellm_models.py
Owners: none

sync model cost
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

remove new models
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

escape regex
  scripts/sync_litellm_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

don't escape hyphen
  scripts/sync_litellm_models.py
Owners: none

Remove accidentally added notebooks from PR
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Adding new template for parameter extraction
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

fix: use dataloader for annotation configs query (#8379)
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/annotation_configs_by_project.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-python

ci: unpin pytest dependencies (#8374)
  requirements/ci.txt
Owners: none

fix(cost): delete obsolete built-in models only if they're childless records (#8317)
  src/phoenix/db/facilitator.py
Owners: @arize-ai/oss-python

Restructuring templates, following file conventions
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

Removing separate parameter data selection
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

Updating notebook evals
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Remove accidentally added change to default_templates.py
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

Adding back in main version of default_templates
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

Restoring working tree to 742065fa29d9b7bd4e7c6738a66fe96c9788250a
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

Remove accidentally added notebooks from PR
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

removing changes to the default template that should be in a separate PR
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

feat: Add optional labels to vertex client
  packages/phoenix-evals/src/phoenix/evals/models/vertex.py
Owners: @arize-ai/oss-python

Adding tool calling notebook, so 3 total now
  tutorials/evals/evaluate_agent_tool_calling_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

docs: Adding templates for agent tool selection and parameter extraction (#8353)
  packages/phoenix-evals/src/phoenix/evals/default_templates.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.21.1
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
