Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

pnpm changeset
  js/packages/phoenix-client/examples/get_spans.ts
Owners: @arize-ai/oss-javascript

prettier
  js/packages/phoenix-client/examples/get_spans.ts
Owners: @arize-ai/oss-javascript

cleanup
  js/packages/phoenix-client/test/spans/getSpans.test.ts
Owners: @arize-ai/oss-javascript

Update js/packages/phoenix-client/src/spans/getSpans.ts
  js/packages/phoenix-client/src/spans/getSpans.ts
Owners: @arize-ai/oss-javascript

feat: add getSpans method to pull spans from remote server with filte… (#7765)
  js/.changeset/empty-frogs-learn.md
  js/packages/phoenix-client/examples/get_spans.ts
  js/packages/phoenix-client/src/spans/getSpans.ts
  js/packages/phoenix-client/src/spans/index.ts
  js/packages/phoenix-client/src/types/projects.ts
  js/packages/phoenix-client/test/spans/getSpans.test.ts
Owners: @arize-ai/oss-javascript

chore(cost): add cost-related tables (#7847)
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

feat(cost): compute span cost on ingest and plumb through spans table and span details header (#7912)
  .gitignore
  app/schema.graphql
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/span.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_costs.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): add graphql model resolver (#7947)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/components/form/__generated__/DimensionPickerQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTableEmbeddingDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTable_embeddingDimensions.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTableDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTable_dimensions.graphql.ts
  app/src/pages/__generated__/ModelRootQuery.graphql.ts
  app/src/pages/embedding/MetricSelector.tsx
  app/src/pages/embedding/__generated__/EmbeddingPageModelQuery.graphql.ts
  app/src/pages/embedding/__generated__/ExportSelectionButtonExportsQuery.graphql.ts
  app/src/pages/embedding/__generated__/MetricSelector_dimensions.graphql.ts
  app/src/pages/embedding/__generated__/MetricTimeSeriesQuery.graphql.ts
  app/src/pages/embedding/__generated__/PointSelectionPanelContentQuery.graphql.ts
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/models/modelsLoader.ts
  app/src/pages/playground/ModelComboBox.tsx
  app/src/pages/playground/__generated__/ModelComboBoxQuery.graphql.ts
  app/src/store/__generated__/pointCloudStore_eventsQuery.graphql.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/api/types/InferenceModel.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/api/types/ModelInterface.py
  src/phoenix/server/api/types/PlaygroundModel.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): Model table (#7949)
  app/src/Routes.tsx
  app/src/pages/Layout.tsx
  app/src/pages/model/ModelInferencesPage.tsx
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/model/index.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

Update smolagents_tracing_tutorial.ipynb
  tutorials/tracing/smolagents_tracing_tutorial.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

GITBOOK-20: Updating smolagents snippet
  docs/section-integrations/frameworks/hugging-face-smolagents/smolagents-tracing.md
Owners: none

add update logic to facilitator
  src/phoenix/db/facilitator.py
Owners: @arize-ai/oss-python

wire up models
  app/schema.graphql
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/api/types/TokenCost.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix types
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-python

wire it up
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/models.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-python

feat(cost): wire up models to be inserted at boot (#7957)
  app/schema.graphql
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/models.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update smolagents_tracing_tutorial.ipynb (#7958)
  tutorials/tracing/smolagents_tracing_tutorial.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Add mastra experiments example (#7899)
  tutorials/agents/mastra/example-agent/.gitignore
  tutorials/agents/mastra/example-agent/README.md
  tutorials/agents/mastra/example-agent/package-lock.json
  tutorials/agents/mastra/example-agent/package.json
  tutorials/agents/mastra/example-agent/src/mastra/agents/weather-agent.ts
  tutorials/agents/mastra/example-agent/src/mastra/experiments/run_experiment.ts
  tutorials/agents/mastra/example-agent/src/mastra/index.ts
  tutorials/agents/mastra/example-agent/src/mastra/tools/calculator-tool.ts
  tutorials/agents/mastra/example-agent/src/mastra/tools/time-tool.ts
  tutorials/agents/mastra/example-agent/src/mastra/tools/weather-tool.ts
  tutorials/agents/mastra/example-agent/tsconfig.json
  tutorials/agents/mastra/mastra.db
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

fix(tables): sort
  .gitignore
  app/src/components/table/styles.ts
  app/src/pages/dataset/DatasetHistoryTable.tsx
  app/src/pages/datasets/DatasetsTable.tsx
  app/src/pages/embedding/PointSelectionTable.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/profile/APIKeysTable.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/prompt/PromptVersionTagsConfigCard.tsx
  app/src/pages/prompts/PromptsTable.tsx
  app/src/pages/settings/AnnotationConfigTable.tsx
  app/src/pages/settings/SystemAPIKeysTable.tsx
  app/src/pages/settings/UserAPIKeysTable.tsx
  app/src/pages/settings/UsersTable.tsx
  app/src/pages/trace/SpanFeedback.tsx
Owners: @arize-ai/oss-javascript

fix(tables): sort (#7963)
  .gitignore
  app/src/components/table/styles.ts
  app/src/pages/dataset/DatasetHistoryTable.tsx
  app/src/pages/datasets/DatasetsTable.tsx
  app/src/pages/embedding/PointSelectionTable.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/profile/APIKeysTable.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/prompt/PromptVersionTagsConfigCard.tsx
  app/src/pages/prompts/PromptsTable.tsx
  app/src/pages/settings/AnnotationConfigTable.tsx
  app/src/pages/settings/SystemAPIKeysTable.tsx
  app/src/pages/settings/UserAPIKeysTable.tsx
  app/src/pages/settings/UsersTable.tsx
  app/src/pages/trace/SpanFeedback.tsx
Owners: @arize-ai/oss-javascript

feat(experiments): make experiments table resizable
  app/src/pages/experiments/ExperimentsTable.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/project/SpansTable.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/pages/experiments/ExperimentsTable.tsx
Owners: @arize-ai/oss-javascript

Update llm_ops_overview.ipynb
  tutorials/llm_ops_overview.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

cleanup
  app/src/pages/experiments/ExperimentsTable.tsx
Owners: @arize-ai/oss-javascript

cleanup
  app/src/pages/experiments/ExperimentsTable.tsx
Owners: @arize-ai/oss-javascript

feat: Composable ModalOverlay component
  app/src/components/overlay/Modal.tsx
  app/stories/Modal.stories.tsx
Owners: @arize-ai/oss-javascript

Initial scaffold
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-python

Port some components to use new ModalOverlay
  app/src/components/overlay/Modal.tsx
  app/src/components/trace/EditSpanAnnotationsDialog.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/trace/TracePage.tsx
Owners: @arize-ai/oss-javascript

Initial spike
  src/phoenix/server/api/routers/v1/spans.py
Owners: @arize-ai/oss-python

fix provider tab
  src/phoenix/server/api/types/GenerativeProvider.py
  tests/unit/server/api/types/test_GenerativeProvider.py
Owners: @arize-ai/oss-python

cleanup
  app/src/pages/models/ModelForm.tsx
  app/stories/ModelForm.stories.tsx
Owners: @arize-ai/oss-javascript

Add missing prop
  app/src/pages/trace/TracePage.tsx
Owners: @arize-ai/oss-javascript

Update src/phoenix/server/api/types/GenerativeProvider.py
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-python

Wrap existing Modal in ModalOverlay to preserve previous behavior
  app/src/components/dialog/Dialog.tsx
  app/src/components/trace/SpanAnnotationActionMenu.tsx
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/project/SpanSelectionToolbar.tsx
  app/src/pages/prompt/DeletePromptVersionTagButton.tsx
  app/src/pages/settings/AnnotationConfigSelectionToolbar.tsx
  app/src/pages/settings/NewUserDialog.tsx
  app/src/pages/settings/SettingsAnnotationsPage.tsx
  app/src/pages/settings/SettingsDataPage.tsx
Owners: @arize-ai/oss-javascript

fix: provider tab (#7972)
  src/phoenix/server/api/types/GenerativeProvider.py
  tests/unit/server/api/types/test_GenerativeProvider.py
Owners: @arize-ai/oss-python

Fix zindex stacking
  app/src/components/overlay/Modal.tsx
Owners: @arize-ai/oss-javascript

add modal
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
Owners: @arize-ai/oss-javascript

feat(experiments): make experiments table resizable (#7964)
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/project/SpansTable.tsx
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 10.8.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python
