Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

fix tooltip
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

js patch
  js/.changeset/moody-hoops-mix.md
Owners: @arize-ai/oss-javascript

feat: toolCHoiceSelect (#7807)
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/pages/playground/PlaygroundTools.tsx
Owners: @arize-ai/oss-javascript

fix: Do not return notes from GET /span_annotations
  src/phoenix/server/api/routers/v1/annotations.py
  tests/unit/server/api/routers/v1/test_annotations.py
Owners: @arize-ai/oss-python

add more description
  helm/Chart.yaml
  helm/README.md
Owners: none

revert experimental workflow file
  .github/workflows/docker-build-experimental.yml
Owners: none

add description to chart
  helm/Chart.yaml
Owners: none

new description
  helm/Chart.yaml
  helm/README.md
Owners: none

add helm release to separate workflow
  .github/workflows/docker-build-release.yml
  .github/workflows/helm-release.yaml
Owners: none

feat: helm chart release (#7793)
  .github/workflows/docker-build-release.yml
  .github/workflows/helm-release.yaml
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
Owners: none

chore(main): release arize-phoenix 10.4.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.4.0 (#7829)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.4.0 in kustomize and helm
  helm/Chart.yaml
  kustomize/base/phoenix.yaml
Owners: none

fix: ensure sed command works for helm chart update
  .github/workflows/docker-build-release.yml
Owners: none

fix: ensure sed command works for helm chart update (#7832)
  .github/workflows/docker-build-release.yml
Owners: none

update to dialogTrigger
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

docs: update config
  docs/section-self-hosting/configuration.md
  docs/section-self-hosting/provisioning.md
Owners: none

fix issue
  app/src/components/pointcloud/ColoringStrategyPicker.tsx
Owners: @arize-ai/oss-javascript

refactor: migrate ColoringStrategyPicker from Picker to Select component (#7797)
  app/src/components/pointcloud/ColoringStrategyPicker.tsx
Owners: @arize-ai/oss-javascript

migrate
  app/src/components/filter/PrimaryInferencesTimeRange.tsx
  app/src/pages/embedding/MetricSelector.tsx
Owners: @arize-ai/oss-javascript

update main readme
  README.md
Owners: none

color
  app/src/components/filter/PrimaryInferencesTimeRange.tsx
Owners: @arize-ai/oss-javascript

dimention select
  app/src/components/form/DimensionPicker.tsx
Owners: @arize-ai/oss-javascript

dimention select
  app/src/components/form/DimensionPicker.tsx
Owners: @arize-ai/oss-javascript

final migration from picker to select
  app/.eslintrc.js
  app/stories/Select.stories.tsx
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 10.5.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

paragraph nit
  app/src/pages/embedding/MetricSelector.tsx
Owners: @arize-ai/oss-javascript

refactor: migrate both metric and inferenceTime selector as both are in same tab (#7835)
  app/src/components/filter/PrimaryInferencesTimeRange.tsx
  app/src/pages/embedding/MetricSelector.tsx
Owners: @arize-ai/oss-javascript

resolve css
  app/src/components/form/DimensionPicker.tsx
Owners: @arize-ai/oss-javascript

refactor: Migrate dimension picker (#7839)
  app/src/components/form/DimensionPicker.tsx
Owners: @arize-ai/oss-javascript

docs: flesh out migration section
  docs/section-self-hosting/migrations.md
Owners: none

add a note
  docs/section-self-hosting/migrations.md
Owners: none

Add include/exclude filters to span annotations fetching
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  src/phoenix/server/api/routers/v1/annotations.py
  tests/integration/client/test_spans.py
  tests/unit/server/api/routers/v1/test_annotations.py
Owners: @arize-ai/oss-python

prettier
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

docs: flesh out migration section (#7843)
  docs/section-self-hosting/migrations.md
Owners: none

chore(main): release arize-phoenix 10.5.0 (#7842)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.9.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.9.0 (#7802)
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.5.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

migrations
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
Owners: @arize-ai/oss-python
