Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

Remove fallback to annotations logic
  export/importers/import_evaluations.py
Owners: none

Clean up with dustin
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/functions/test_classify.py
Owners: @arize-ai/oss-python

ruff
  packages/phoenix-evals/src/phoenix/evals/templates.py
  packages/phoenix-evals/tests/phoenix/evals/functions/test_classify.py
Owners: @arize-ai/oss-python

eliminate flake
  tests/unit/server/test_retention.py
Owners: none

fix: upgrade lower version pin on openinference-instrumentation and openinference-instrumentation-semantic-conventions (#7900)
  pyproject.toml
  tests/unit/server/test_retention.py
Owners: none

chore(main): release arize-phoenix 10.6.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.6.0 (#7854)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

Fix bug in export annotations
  export/exporters/export_annotations.py
  export/utils.py
Owners: none

Update README.MD
  export/README.md
Owners: none

chore: update phoenix version to 10.6.0 in kustomize and helm
  helm/Chart.yaml
  kustomize/base/phoenix.yaml
Owners: none

Remove conversion to lowercase for annotation names
  export/importers/import_annotations.py
Owners: none

feat: disable postgres when rolling your own
  helm/Chart.yaml
Owners: none

fix change in tag
  .github/workflows/docker-build-release.yml
Owners: none

fix(helm): helm cleanup (#7879)
  .github/workflows/docker-build-release.yml
  helm/Chart.lock
  helm/Chart.yaml
  helm/README.md
  helm/templates/_helpers.tpl
  helm/templates/database/deployment.yaml
  helm/templates/database/pvc.yaml
  helm/templates/database/service.yaml
  helm/templates/phoenix/configmap.yaml
  helm/templates/phoenix/ingress.yaml
  helm/values.yaml
Owners: none

chore: increment helm chart major version
  helm/Chart.yaml
Owners: none

chore: increment helm chart major version (#7905)
  helm/Chart.yaml
Owners: none

chore(main): release arize-phoenix 10.6.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.6.1 (#7904)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

Update requirements, clean up logging
  export/README.md
  export/importers/utils.py
  export/requirements.txt
Owners: none

chore: update phoenix version to 10.6.1 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

fix helm
  .github/workflows/helm-release.yaml
Owners: none

add lockfile
  helm/Chart.lock
Owners: none

change command
  .github/workflows/helm-release.yaml
Owners: none

toggling Uvicorn logger level with PHOENIX_LOGGING_LEVEL parameter
  src/phoenix/config.py
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python

test on experimental
  .github/workflows/docker-build-experimental.yml
Owners: none

fix
  .github/workflows/docker-build-experimental.yml
Owners: none

revert
  .github/workflows/docker-build-experimental.yml
Owners: none

fix(helm): update Chart.lock and ensure chart dependencies are installed before packaging (#7907)
  .github/workflows/helm-release.yaml
  helm/Chart.lock
Owners: none

chore(main): release arize-phoenix 10.6.2
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.6.2 (#7908)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

removing print
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python

Improve README language
  export/README.md
Owners: none

feat(playground): add support for multiple credential kv pairs - frontend only (#7894)
  app/src/@types/generative.d.ts
  app/src/constants/__tests__/generativeConstants.test.ts
  app/src/constants/generativeConstants.ts
  app/src/pages/playground/PlaygroundCredentialsDropdown.tsx
  app/src/pages/playground/playgroundUtils.ts
  app/src/pages/settings/GenerativeProvidersCard.tsx
  app/src/store/credentialsStore.tsx
  app/src/utils/generativeUtils.ts
Owners: @arize-ai/oss-javascript

chore: update phoenix version to 10.6.2 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

toggling uvicorn logging level with PHOENIX_LOGGING_LEVEL env var
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python

update with credentials
  app/src/constants/generativeConstants.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/utils/generativeUtils.ts
Owners: @arize-ai/oss-javascript

prettier
  app/src/pages/playground/PlaygroundCredentialsDropdown.tsx
Owners: @arize-ai/oss-javascript

update test
  app/src/constants/__tests__/generativeConstants.test.ts
Owners: @arize-ai/oss-javascript

Test using an LLM scaffold for new client methods
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

debounce
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
