Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

fix(helm): indentation issues on serviceAccount
  helm/values.yaml
Owners: none

fix(helm): authSecrets default handling
  helm/templates/phoenix/secret.yaml
Owners: none

fix(helm): templated custom directory mounts
  helm/templates/phoenix/deployment.yaml
Owners: none

feat(cost): track prompt and completion cost
  app/schema.graphql
  app/src/pages/models/CloneModelButton.tsx
  app/src/pages/models/DeleteModelButton.tsx
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/stories/ModelForm.stories.tsx
  pyproject.toml
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): model crud ui and simplify models
  app/src/pages/models/CloneModelButton.tsx
  app/src/pages/models/DeleteModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/DeleteModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/experiments/functions.py
  src/phoenix/experiments/tracing.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
  src/phoenix/server/telemetry.py
  src/phoenix/trace/projects.py
  tests/integration/_helpers.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): compute and display aggregate cost in project header
  app/schema.graphql
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/pages/project/__generated__/ProjectPageHeaderQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageHeader_stats.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQuery.graphql.ts
  app/src/utils/numberFormatUtils.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/token_costs.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/app.py
  src/phoenix/server/dml_event_handler.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

make query easier to read
  app/src/utils/numberFormatUtils.ts
  src/phoenix/server/api/dataloaders/token_costs.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore: update phoenix version to 10.11.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

fix(helm): consistency in volume mounts
  helm/templates/phoenix/deployment.yaml
Owners: none

update
  app/src/pages/datasets/DatasetActionMenu.tsx
  app/src/pages/datasets/DatasetsPage.tsx
  app/src/pages/datasets/DeleteDatasetDialog.tsx
  app/src/pages/datasets/EditDatasetDialog.tsx
Owners: @arize-ai/oss-javascript

update
  app/src/pages/datasets/DeleteDatasetDialog.tsx
  app/src/pages/datasets/EditDatasetDialog.tsx
  app/src/pages/dimension/DimensionPage.tsx
  app/src/pages/embedding/ExportSelectionButton.tsx
  app/src/pages/embedding/PointSelectionPanelContent.tsx
Owners: @arize-ai/oss-javascript

update
  app/src/pages/example/EditExampleDialog.tsx
Owners: @arize-ai/oss-javascript

update compare
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

update exp
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

prettier
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

playground
  app/src/pages/playground/PlaygroundExperimentRunDetailsDialog.tsx
Owners: @arize-ai/oss-javascript

support converse API alongside invoke
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

switch icons
  app/src/components/generative/GenerativeProviderIcon.tsx
Owners: @arize-ai/oss-javascript

add region to the playgrund
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/store/playground/types.ts
Owners: @arize-ai/oss-javascript

add token metadata
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

add region
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

fix region value
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

Plumb region_name
  app/schema.graphql
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputSubscription.graphql.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/store/playground/playgroundStore.tsx
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/input_types/GenerativeModelInput.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

prompt
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/PlaygroundExperimentRunDetailsDialog.tsx
  app/src/pages/playground/UpsertPromptFromTemplateDialog.tsx
  app/src/pages/project/ProjectTableEmpty.tsx
  app/src/pages/project/SessionsTableEmpty.tsx
  app/src/pages/projects/NewProjectButton.tsx
  app/src/pages/prompt/ClonePromptDialog.tsx
  app/src/pages/prompt/NewPromptVersionTagDialog.tsx
  app/src/pages/prompt/TagPromptVersionButton.tsx
  app/src/pages/prompts/DeletePromptDialog.tsx
Owners: @arize-ai/oss-javascript

relax the provider boundary
  app/src/@types/generative.d.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/utils/generativeUtils.ts
Owners: @arize-ai/oss-javascript

prettier
  app/src/pages/settings/DeleteUserDialog.tsx
  app/src/pages/settings/GenerativeProvidersCard.tsx
  app/src/pages/settings/ResetPasswordDialog.tsx
  app/src/pages/settings/RetentionPolicyActionMenu.tsx
  app/src/pages/settings/UserRoleChangeDialog.tsx
Owners: @arize-ai/oss-javascript

last one
  app/src/pages/trace/SessionPage.tsx
Owners: @arize-ai/oss-javascript

Update llm_ops_overview.ipynb (#7967)
  tutorials/llm_ops_overview.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

cleanup
  app/src/pages/datasets/DatasetsPage.tsx
Owners: @arize-ai/oss-javascript

cleanup (#8070)
  app/src/pages/datasets/DatasetsPage.tsx
Owners: @arize-ai/oss-javascript

chore(cost): add cost-related tables (#7847)
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

feat(cost): Model table (#7949)
  app/src/Routes.tsx
  app/src/pages/Layout.tsx
  app/src/pages/model/ModelInferencesPage.tsx
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/model/index.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): compute span cost on ingest and plumb through spans table and span details header (#7912)
  .gitignore
  app/schema.graphql
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/span.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_costs.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): model form with add and edit (#7974)
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/stories/ModelForm.stories.tsx
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): add graphql model resolver (#7947)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/components/form/__generated__/DimensionPickerQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTableEmbeddingDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTable_embeddingDimensions.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTableDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTable_dimensions.graphql.ts
  app/src/pages/__generated__/ModelRootQuery.graphql.ts
  app/src/pages/embedding/MetricSelector.tsx
  app/src/pages/embedding/__generated__/EmbeddingPageModelQuery.graphql.ts
  app/src/pages/embedding/__generated__/ExportSelectionButtonExportsQuery.graphql.ts
  app/src/pages/embedding/__generated__/MetricSelector_dimensions.graphql.ts
  app/src/pages/embedding/__generated__/MetricTimeSeriesQuery.graphql.ts
  app/src/pages/embedding/__generated__/PointSelectionPanelContentQuery.graphql.ts
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/models/modelsLoader.ts
  app/src/pages/playground/ModelComboBox.tsx
  app/src/pages/playground/__generated__/ModelComboBoxQuery.graphql.ts
  app/src/store/__generated__/pointCloudStore_eventsQuery.graphql.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/api/types/InferenceModel.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/api/types/ModelInterface.py
  src/phoenix/server/api/types/PlaygroundModel.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): wire up models to be inserted at boot (#7957)
  app/schema.graphql
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/models.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore: update dialogs (#7977)
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
Owners: @arize-ai/oss-javascript

feat(cost): model attribution and cost aggregation
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/model_total_costs.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  tests/unit/server/cost_tracking/test_cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): track prompt and completion cost
  app/schema.graphql
  app/src/pages/models/CloneModelButton.tsx
  app/src/pages/models/DeleteModelButton.tsx
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/CloneModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/CloneModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  app/stories/ModelForm.stories.tsx
  pyproject.toml
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): add sort on cost column
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/input_types/SpanSort.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
