Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

cleanup the gerative provider
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-python

ruff
  src/phoenix/server/api/helpers/prompts/conversions/aws.py
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-python

typecheck
  packages/phoenix-client/src/phoenix/client/helpers/sdk/anthropic/messages.py
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/prompts/conversions/aws.py
Owners: @arize-ai/oss-python

add AWS invocation parameter
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
Owners: @arize-ai/oss-python

change the message type
  app/src/schemas/messageSchemas.ts
Owners: @arize-ai/oss-javascript

name it aws bedrock
  app/src/constants/generativeConstants.ts
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

convert tool call choice
  app/src/pages/playground/playgroundUtils.ts
  schemas/openapi.json
  src/phoenix/server/api/helpers/prompts/conversions/aws.py
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

prettier
  app/src/schemas/toolChoiceSchemas.ts
Owners: @arize-ai/oss-javascript

cleanup
  packages/phoenix-client/src/phoenix/client/types/prompts.py
Owners: @arize-ai/oss-python

generate, ruff
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  src/phoenix/server/api/helpers/prompts/conversions/aws.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

remove unused client
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

remove AWS model provider
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
Owners: @arize-ai/oss-python

ruff
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
Owners: @arize-ai/oss-python

remove AWS model provider
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
Owners: @arize-ai/oss-python

remove aws
  packages/phoenix-client/src/phoenix/client/types/prompts.py
Owners: @arize-ai/oss-python

use own prompt handling
  packages/phoenix-client/src/phoenix/client/types/prompts.py
Owners: @arize-ai/oss-python

use aws prompt version
  packages/phoenix-client/src/phoenix/client/types/prompts.py
Owners: @arize-ai/oss-python

AWS message versioning
  packages/phoenix-client/src/phoenix/client/helpers/sdk/aws/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/sdk/aws/messages.py
Owners: @arize-ai/oss-python

AWS message version
  packages/phoenix-client/src/phoenix/client/helpers/sdk/aws/messages.py
  packages/phoenix-client/src/phoenix/client/types/prompts.py
Owners: @arize-ai/oss-python

anthropic -> aws
  packages/phoenix-client/src/phoenix/client/helpers/sdk/aws/messages.py
Owners: @arize-ai/oss-python

allow from aws to_openai
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
Owners: @arize-ai/oss-python

dont handle aws version:
  app/src/schemas/toolChoiceSchemas.ts
  packages/phoenix-client/src/phoenix/client/helpers/sdk/aws/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/sdk/aws/messages.py
  packages/phoenix-client/src/phoenix/client/types/prompts.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Update openai.py
  packages/phoenix-evals/src/phoenix/evals/models/openai.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.21.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

Update openai.py (#8210)
  packages/phoenix-evals/src/phoenix/evals/models/openai.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-client 1.12.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix-evals 0.21.0 (#7954)
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Owners: @arize-ai/oss-python

ci: restrict chromatic
  .github/workflows/chromatic.yml
Owners: none

ci: restrict chromatic (#8214)
  .github/workflows/chromatic.yml
Owners: none

feat: mcp add span annotation (#8203)
  js/packages/phoenix-client/src/spans/getSpanAnnotations.ts
  js/packages/phoenix-client/src/spans/index.ts
  js/packages/phoenix-client/test/spans/getSpanAnnotations.test.ts
  js/packages/phoenix-mcp/README.md
  js/packages/phoenix-mcp/src/index.ts
  js/packages/phoenix-mcp/src/spanTools.ts
Owners: @arize-ai/oss-javascript

fix: restore evaluator traces
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

fix: restore evaluator traces (#8215)
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

chore(main): release arize-phoenix 10.15.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

feat(cost): Model table (#7949)
  app/src/Routes.tsx
  app/src/pages/Layout.tsx
  app/src/pages/model/ModelInferencesPage.tsx
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/model/index.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
Owners: @arize-ai/oss-javascript

feat(cost): compute span cost on ingest and plumb through spans table and span details header (#7912)
  .gitignore
  app/schema.graphql
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/components/trace/__generated__/TokenCosts_TokenCostsDetailsQuery.graphql.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/span.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_costs.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore(cost): add cost-related tables (#7847)
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

feat(cost): add graphql model resolver (#7947)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/components/form/__generated__/DimensionPickerQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTableEmbeddingDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelEmbeddingsTable_embeddingDimensions.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTableDimensionsQuery.graphql.ts
  app/src/components/model/__generated__/ModelSchemaTable_dimensions.graphql.ts
  app/src/pages/__generated__/ModelRootQuery.graphql.ts
  app/src/pages/embedding/MetricSelector.tsx
  app/src/pages/embedding/__generated__/EmbeddingPageModelQuery.graphql.ts
  app/src/pages/embedding/__generated__/ExportSelectionButtonExportsQuery.graphql.ts
  app/src/pages/embedding/__generated__/MetricSelector_dimensions.graphql.ts
  app/src/pages/embedding/__generated__/MetricTimeSeriesQuery.graphql.ts
  app/src/pages/embedding/__generated__/PointSelectionPanelContentQuery.graphql.ts
  app/src/pages/model/__generated__/ModelInferencesPageQuery.graphql.ts
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/models/modelsLoader.ts
  app/src/pages/playground/ModelComboBox.tsx
  app/src/pages/playground/__generated__/ModelComboBoxQuery.graphql.ts
  app/src/store/__generated__/pointCloudStore_eventsQuery.graphql.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/GenerativeModel.py
  src/phoenix/server/api/types/InferenceModel.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/api/types/ModelInterface.py
  src/phoenix/server/api/types/PlaygroundModel.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): wire up models to be inserted at boot (#7957)
  app/schema.graphql
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/playground/__generated__/ModelComboBoxQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/models.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/api/types/TokenCost.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore: update dialogs (#7977)
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
Owners: @arize-ai/oss-javascript

feat(cost): model form with add and edit (#7974)
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsPage.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/stories/ModelForm.stories.tsx
  src/phoenix/server/api/queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python
