Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

migrate SessionDetailsHeader cost tooltip
  app/src/pages/trace/SessionDetails.tsx
Owners: @arize-ai/oss-javascript

migrate embeddings page tooltips
  app/src/components/filter/PrimaryInferencesTimeRange.tsx
  app/src/components/filter/ReferenceInferencesTimeRange.tsx
  app/src/components/pointcloud/CanvasModeRadioGroup.tsx
  app/src/components/pointcloud/PointCloud.tsx
  app/src/pages/embedding/MetricSelector.tsx
Owners: @arize-ai/oss-javascript

Update js/packages/phoenix-client/src/datasets/appendDatasetExamples.ts
  js/packages/phoenix-client/src/datasets/appendDatasetExamples.ts
Owners: @arize-ai/oss-javascript

cleanup
  js/packages/phoenix-client/src/datasets/appendDatasetExamples.ts
Owners: @arize-ai/oss-javascript

tmp
  app/package.json
  app/pnpm-lock.yaml
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/ExperimentCompareTableVirtualized.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableVirtualizedQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTableVirtualized_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiment/experimentCompareLoader.ts
Owners: @arize-ai/oss-javascript

tmp
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/ExperimentCompareTableVirtual.tsx
  app/src/pages/experiment/ExperimentCompareTableVirtualized.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableVirtualQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTableVirtual_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiment/experimentCompareLoader.ts
Owners: @arize-ai/oss-javascript

remove first attempt
  app/src/pages/experiment/ExperimentCompareTableVirtualized.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableVirtualizedQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTableVirtualized_comparisons.graphql.ts
Owners: @arize-ai/oss-javascript

Adding confusion matrix
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_calling_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

move second attempt into place
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/ExperimentCompareTableVirtual.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableVirtualQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTableVirtual_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiment/experimentCompareLoader.ts
Owners: @arize-ai/oss-javascript

remove faker
  app/package.json
  app/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

remove dup
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiment/experimentCompareLoader.ts
Owners: @arize-ai/oss-javascript

clean
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

clean
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

running ruff check
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_calling_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

docs: Adding benchmarking notebooks for agent tool call docs (#8278)
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_calling_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

feat(client): get dataset by name" (#8513)
  js/.changeset/salty-worlds-type.md
  js/packages/phoenix-client/src/datasets/appendDatasetExamples.ts
  js/packages/phoenix-client/src/datasets/getDatasetExamples.ts
  js/packages/phoenix-client/src/datasets/getDatasetInfo.ts
  js/packages/phoenix-client/src/datasets/getDatasetInfoByName.ts
  js/packages/phoenix-client/src/types/datasets.ts
  js/packages/phoenix-client/test/datasets/getDataset.test.ts
Owners: @arize-ai/oss-javascript

migrate copy to clipboard + add annotation tooltips
  app/src/components/CopyToClipboardButton.tsx
  app/src/components/trace/AnnotationConfigList.tsx
Owners: @arize-ai/oss-javascript

refactor: migrate more tooltips to phoenix library (#8523)
  app/src/components/CopyToClipboardButton.tsx
  app/src/components/filter/PrimaryInferencesTimeRange.tsx
  app/src/components/filter/ReferenceInferencesTimeRange.tsx
  app/src/components/pointcloud/CanvasModeRadioGroup.tsx
  app/src/components/pointcloud/PointCloud.tsx
  app/src/components/trace/AnnotationConfigList.tsx
  app/src/pages/embedding/MetricSelector.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/trace/SessionDetails.tsx
Owners: @arize-ai/oss-javascript

Fixing notebooks, also modifying tox.ini so that it works
  tox.ini
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_calling_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

add back in memoization
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

Fixing notebooks, also modifying tox.ini so that it works
  tox.ini
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_calling_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

Refactor types
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

Vendor concurrency/executor implementations into client
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/concurrency.py
Owners: @arize-ai/oss-python

Cleanup pass
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Make better use of autogenerated types
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

Compatibility pass for client datasets
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

Add tests
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/tests/client/resources/experiments/__init__.py
  tests/integration/client/test_experiments.py
Owners: @arize-ai/oss-python

Small refactor
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Use executors for concurrency
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Spike out experiments
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Remove example shim
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python

Vendor rate limiting logic into the client
  packages/phoenix-client/src/phoenix/client/exceptions/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/executors.py
  packages/phoenix-client/src/phoenix/client/utils/rate_limiters.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/tests/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Add ignores to SIGUSR1
  packages/phoenix-client/tests/utils/test_executors.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Ruff 🐶
  tests/integration/client/test_experiments.py
Owners: none

First pass at resolving type checker issues
  packages/phoenix-client/src/phoenix/client/exceptions/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
  packages/phoenix-client/src/phoenix/client/utils/executors.py
  packages/phoenix-client/src/phoenix/client/utils/rate_limiters.py
Owners: @arize-ai/oss-python

Remove base phoenix dependencies
  packages/phoenix-client/pyproject.toml
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/executors.py
Owners: @arize-ai/oss-python

Update ignores
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
Owners: @arize-ai/oss-python

Finish cleaning up client type checker issues
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/types.py
Owners: @arize-ai/oss-python
