Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng

feat: Upgrade relay to v19
  app/package.json
  app/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

Resolve type checker issues
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.9.2 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

Always check for duplicates
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  src/phoenix/server/api/routers/v1/spans.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

Update openapi schema
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

paginate experiment comparison page
  app/schema.graphql
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiment/experimentCompareLoader.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/ExperimentComparison.py
  tutorials/experiments/datasets_and_experiments_quickstart.ipynb
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

update schema
  app/schema.graphql
Owners: @arize-ai/oss-javascript

update relay
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
Owners: @arize-ai/oss-javascript

fix unit tests
  tests/unit/server/api/test_queries.py
Owners: none

revert change to notebook
  tutorials/experiments/datasets_and_experiments_quickstart.ipynb
Owners: @arize-ai/dev-rel, @arize-ai/oss-eng

simplify types
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

Resolve type checker issues
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

clean
  app/src/pages/experiment/ExperimentCompareTable.tsx
Owners: @arize-ai/oss-javascript

Refactor exceptions
  packages/phoenix-client/src/phoenix/client/exceptions/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
Owners: @arize-ai/oss-python

docs: rename API references to avoid confusion with REST APIs
  api_reference/source/conf.py
  api_reference/source/index.md
  packages/phoenix-client/docs/source/conf.py
  packages/phoenix-client/docs/source/index.md
  packages/phoenix-evals/docs/source/conf.py
  packages/phoenix-evals/docs/source/index.md
  packages/phoenix-otel/docs/source/conf.py
  packages/phoenix-otel/docs/source/index.md
Owners: @arize-ai/oss-python

feat: Upgrade relay to v19 (#8003)
  app/package.json
  app/pnpm-lock.yaml
Owners: @arize-ai/oss-javascript

docs(phoenix-client): add installation guide and clarify resource structure
  packages/phoenix-client/docs/source/conf.py
  packages/phoenix-client/docs/source/index.md
Owners: @arize-ai/oss-python

docs(phoenix-evals): add installation guide and clarify package structure
  packages/phoenix-evals/docs/source/conf.py
  packages/phoenix-evals/docs/source/index.md
Owners: @arize-ai/oss-python

Improve flaky test
  tests/integration/client/test_spans.py
Owners: none

Refactor client method for clarity
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  tests/integration/client/test_spans.py
Owners: @arize-ai/oss-python

fix(experiments): paginate experiment comparisons table (#7994)
  app/schema.graphql
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/experimentCompareLoaderQuery.graphql.ts
  app/src/pages/experiment/experimentCompareLoader.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/ExperimentComparison.py
  tests/unit/server/api/test_queries.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

chore(main): release arize-phoenix 10.10.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

chore(main): release arize-phoenix 10.10.0 (#8007)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Owners: @arize-ai/oss-python

Update src/phoenix/server/api/input_types/DatasetFilter.py
  src/phoenix/server/api/input_types/DatasetFilter.py
Owners: @arize-ai/oss-python

chore: update phoenix version to 10.10.0 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Owners: none

resolve comments
  app/src/pages/datasets/DatasetsPage.tsx
  app/src/pages/datasets/DatasetsSearch.tsx
  tests/unit/server/api/types/test_Dataset.py
Owners: @arize-ai/oss-javascript

build
  app/schema.graphql
  app/src/pages/datasets/__generated__/DatasetsPageQuery.graphql.ts
Owners: @arize-ai/oss-javascript

resolve comment
  app/src/pages/datasets/DatasetsSearch.tsx
Owners: @arize-ai/oss-javascript

feat: dataset-filter (#7982)
  app/schema.graphql
  app/src/pages/datasets/DatasetsPage.tsx
  app/src/pages/datasets/DatasetsSearch.tsx
  app/src/pages/datasets/DatasetsTable.tsx
  app/src/pages/datasets/__generated__/DatasetsPageQuery.graphql.ts
  app/src/pages/datasets/__generated__/DatasetsTableDatasetsQuery.graphql.ts
  app/src/pages/datasets/__generated__/DatasetsTable_datasets.graphql.ts
  src/phoenix/server/api/input_types/DatasetFilter.py
  src/phoenix/server/api/queries.py
  tests/__generated__/graphql/__init__.py
  tests/unit/server/api/types/test_Dataset.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): add sort on cost column
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/input_types/SpanSort.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): model attribution and cost aggregation
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/EditModelButtonQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/model_total_costs.py
  src/phoenix/server/api/types/Model.py
  src/phoenix/server/app.py
  src/phoenix/server/cost_tracking/cost_lookup.py
  tests/unit/server/cost_tracking/test_cost_lookup.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): add sort on cost column
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/__generated__/ModelsTableModelsQuery.graphql.ts
  app/src/pages/models/__generated__/ModelsTable_models.graphql.ts
  app/src/pages/models/__generated__/modelsLoaderQuery.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/input_types/SpanSort.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

feat(cost): implementation and wire up crud operations for models
  app/schema.graphql
  app/src/pages/models/EditModelButton.tsx
  app/src/pages/models/ModelForm.tsx
  app/src/pages/models/ModelsTable.tsx
  app/src/pages/models/NewModelButton.tsx
  app/src/pages/models/__generated__/EditModelButtonMutation.graphql.ts
  app/src/pages/models/__generated__/NewModelButtonCreateModelMutation.graphql.ts
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/__init__.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Model.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

migration started
  app/.eslintrc.js
Owners: @arize-ai/oss-javascript

chore: Upgrade playwright and its runners
  .github/workflows/playwright.yaml
  app/package.json
  app/pnpm-lock.yaml
  app/tests/prompt-management.spec.ts
Owners: @arize-ai/oss-javascript

update OpenAI function_call to tool_call (#8015)
  packages/phoenix-evals/src/phoenix/evals/models/openai.py
Owners: @arize-ai/oss-python

use in memory phoenix db and uv tool
  .github/workflows/playwright.yaml
  app/tests/utils/testServer.mjs
Owners: @arize-ai/oss-javascript

fixing typo error
  docs/tracing/integrations-tracing/langchain.md
Owners: none
