Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

fix tyupes
  app/package.json
  app/pnpm-lock.yaml
  app/src/components/generative/GenerativeProviderIcon.tsx
  app/src/pages/playground/PlaygroundTool.tsx
  app/src/pages/playground/__tests__/playgroundUtils.test.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/schemas/messageSchemas.ts
  app/src/schemas/toolCallSchemas.ts
  app/src/schemas/toolChoiceSchemas.ts
  app/src/schemas/toolSchemas.ts
  app/src/store/playground/__tests__/playgroundStoreUtils.test.ts
  app/src/store/playground/playgroundStoreUtils.ts
Owners: @arize-ai/oss-javascript

fix region value
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

no trailing whitespace
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
Owners: @arize-ai/oss-python

add model name
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

fix type
  app/src/@types/generative.d.ts
Owners: @arize-ai/oss-javascript

submit new type
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/pages/playground/ChatMessageToolCallsEditor.tsx
Owners: @arize-ai/oss-javascript

add token metadata
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

fix issues
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-python

Plumb region_name
  app/schema.graphql
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputSubscription.graphql.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/store/playground/playgroundStore.tsx
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/input_types/GenerativeModelInput.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

mikyo: fix more types
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/constants/generativeConstants.ts
  app/src/pages/playground/ChatMessageToolCallsEditor.tsx
  app/src/pages/playground/PlaygroundTool.tsx
  app/src/pages/playground/__tests__/playgroundUtils.test.ts
  app/src/pages/playground/constants.tsx
  app/src/pages/playground/playgroundUtils.ts
Owners: @arize-ai/oss-javascript

[feat] remove Bedrock as provider
  app/schema.graphql
  app/src/pages/playground/__generated__/ModelComboBoxQuery.graphql.ts
  app/src/pages/playground/__generated__/ModelProviderSelectFragment.graphql.ts
  app/src/pages/playground/__generated__/ModelSupportedParamsFetcherQuery.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputSubscription.graphql.ts
  app/src/pages/playground/__generated__/UpsertPromptFromTemplateDialogCreateMutation.graphql.ts
  app/src/pages/playground/__generated__/UpsertPromptFromTemplateDialogUpdateMutation.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPromptQuery.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPromptSupportedInvocationParametersQuery.graphql.ts
  app/src/pages/prompt/__generated__/PromptChatMessagesCard__main.graphql.ts
  app/src/pages/prompt/__generated__/PromptCodeExportCard__main.graphql.ts
  app/src/pages/prompt/__generated__/PromptLLM__main.graphql.ts
  app/src/pages/prompt/__generated__/PromptModelConfigurationCard__main.graphql.ts
  app/src/pages/settings/__generated__/GenerativeProvidersCard_data.graphql.ts
  src/phoenix/db/types/model_provider.py
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/prompts/conversions/bedrock.py
  src/phoenix/server/api/helpers/prompts/models.py
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

prettier
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/schemas/toolCallSchemas.ts
  app/src/schemas/toolChoiceSchemas.ts
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

nix bedrock
  app/src/components/generative/ToolChoiceSelector.tsx
  js/packages/phoenix-client/src/types/prompts.ts
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  packages/phoenix-client/src/phoenix/client/types/prompts.py
  schemas/openapi.json
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

tooluse round trip
  app/src/schemas/toolCallSchemas.ts
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

remove bedrock
  app/src/utils/generativeUtils.ts
Owners: @arize-ai/oss-javascript

mikyo: fix types
  app/src/@types/generative.d.ts
  app/src/components/generative/GenerativeProviderIcon.tsx
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/__tests__/playgroundUtils.test.ts
  app/src/pages/settings/GenerativeProvidersCard.tsx
  app/src/schemas/messageSchemas.ts
  app/src/schemas/toolCallSchemas.ts
  app/src/schemas/toolChoiceSchemas.ts
  app/src/schemas/toolSchemas.ts
  app/src/store/playground/__tests__/playgroundStoreUtils.test.ts
  app/src/store/playground/playgroundStoreUtils.ts
  app/src/utils/generativeUtils.ts
Owners: @arize-ai/oss-javascript

update openapi
  schemas/openapi.json
Owners: none

relax the provider boundary
  app/src/@types/generative.d.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/utils/generativeUtils.ts
Owners: @arize-ai/oss-javascript

mikyo: fix tool schema in playground
  app/src/pages/playground/PlaygroundTool.tsx
  app/src/schemas/toolSchemas.ts
Owners: @arize-ai/oss-javascript

ruff linting
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  packages/phoenix-client/src/phoenix/client/types/prompts.py
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/prompts/models.py
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-python

fix types on client
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/src/prompts/createPrompt.ts
  js/packages/phoenix-client/src/schemas/llm/types.ts
  js/packages/phoenix-client/src/types/prompts.ts
Owners: @arize-ai/oss-javascript

more linting
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-python

[feat] tool use with tool choice
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/schemas/toolChoiceSchemas.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/src/prompts/constants.ts
  schemas/openapi.json
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

mikyo: move comment
  app/src/pages/playground/ChatMessageToolCallsEditor.tsx
Owners: @arize-ai/oss-javascript

mikyo: cleanup the output for tools
  app/src/pages/playground/PlaygroundOutput.tsx
Owners: @arize-ai/oss-javascript

update openapi
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-python

more linting
  app/src/pages/playground/playgroundUtils.ts
  app/src/schemas/toolChoiceSchemas.ts
Owners: @arize-ai/oss-javascript

[feat] bedrock, with toolcalling enabled
  app/schema.graphql
  app/src/components/generative/GenerativeProviderIcon.tsx
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/constants/generativeConstants.ts
  app/src/pages/playground/ChatMessageToolCallsEditor.tsx
  app/src/pages/playground/PlaygroundTool.tsx
  app/src/pages/playground/PlaygroundToolCall.tsx
  app/src/pages/playground/__generated__/ModelComboBoxQuery.graphql.ts
  app/src/pages/playground/__generated__/ModelProviderSelectFragment.graphql.ts
  app/src/pages/playground/__generated__/ModelSupportedParamsFetcherQuery.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputSubscription.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPromptSupportedInvocationParametersQuery.graphql.ts
  app/src/pages/playground/__tests__/playgroundUtils.test.ts
  app/src/pages/playground/constants.tsx
  app/src/pages/playground/playgroundUtils.ts
  app/src/pages/settings/__generated__/GenerativeProvidersCard_data.graphql.ts
  app/src/schemas/messageSchemas.ts
  app/src/schemas/toolCallSchemas.ts
  app/src/schemas/toolChoiceSchemas.ts
  app/src/schemas/toolSchemas.ts
  app/src/store/playground/playgroundStoreUtils.ts
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

[feat] remove Bedrock as provider
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/schemas/toolCallSchemas.ts
  app/src/schemas/toolChoiceSchemas.ts
  app/src/schemas/toolSchemas.ts
  js/packages/phoenix-client/src/schemas/llm/types.ts
Owners: @arize-ai/oss-javascript

save prompts
  app/src/pages/playground/PlaygroundToolCall.tsx
  app/src/pages/playground/playgroundUtils.ts
  app/src/schemas/toolCallSchemas.ts
  app/src/store/playground/playgroundStoreUtils.ts
  js/packages/phoenix-client/src/types/prompts.ts
Owners: @arize-ai/oss-javascript

make distinction for AWS
  app/src/components/generative/ToolChoiceSelector.tsx
Owners: @arize-ai/oss-javascript

change to aws
  app/src/pages/playground/playgroundUtils.ts
Owners: @arize-ai/oss-javascript

aws toolchoice format
  app/src/pages/playground/PlaygroundOutput.tsx
  app/src/pages/playground/PlaygroundToolCall.tsx
  app/src/schemas/toolCallSchemas.ts
  app/src/store/playground/playgroundStoreUtils.ts
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

add boto to requirements for ci
  requirements/ci.txt
  requirements/type-check.txt
Owners: none

revert
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

remove region,api as invocation parameters
  packages/phoenix-client/src/phoenix/client/types/prompts.py
  schemas/openapi.json
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/prompts/conversions/aws.py
  src/phoenix/server/api/helpers/prompts/models.py
Owners: @arize-ai/oss-python

prettier
  app/src/pages/playground/PlaygroundOutput.tsx
  app/src/schemas/toolCallSchemas.ts
Owners: @arize-ai/oss-javascript

rename to aws
  src/phoenix/server/api/helpers/prompts/conversions/aws.py
Owners: @arize-ai/oss-python

raise if region not set
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

remove bedrock
  app/src/schemas/toolChoiceSchemas.ts
Owners: @arize-ai/oss-javascript

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
