Repository Arize-ai/phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arize-ai/oss-javascript, @arize-ai/oss-python, @arize-ai/dev-rel, @arize-ai/oss-eng

add key
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

dropdown
  app/src/pages/playground/PlaygroundCredentialsDropdown.tsx
Owners: @arize-ai/oss-javascript

adding support for TRACE logging level of Uvicorn loggers
  src/phoenix/config.py
  src/phoenix/server/main.py
  src/phoenix/settings.py
Owners: @arize-ai/oss-python

cleaning style and fixing type error
  src/phoenix/config.py
  src/phoenix/server/main.py
Owners: @arize-ai/oss-python

remove key
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

remove keys
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-python

fixing trace mapping for phoenix application logger to 10, not 0
  src/phoenix/config.py
Owners: @arize-ai/oss-python

Revert "remove keys"
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-python

revert credential list to null
  app/src/pages/playground/playgroundUtils.ts
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

empty list for ollama
  app/src/constants/generativeConstants.ts
Owners: @arize-ai/oss-javascript

credential check
  app/src/pages/playground/PlaygroundCredentialsDropdown.tsx
Owners: @arize-ai/oss-javascript

update test
  app/src/constants/__tests__/generativeConstants.test.ts
Owners: @arize-ai/oss-javascript

prettier
  app/src/constants/__tests__/generativeConstants.test.ts
Owners: @arize-ai/oss-javascript

revert to defaultValue
  app/src/pages/playground/ModelConfigButton.tsx
Owners: @arize-ai/oss-javascript

add span costs table
  src/phoenix/db/migrations/versions/a20694b15f82_cost.py
  src/phoenix/db/models.py
Owners: @arize-ai/oss-python

compute span cost
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/span.py
  src/phoenix/server/cost_tracking/cost_lookup.py
Owners: @arize-ai/oss-python

display costs in spans table
  app/schema.graphql
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_costs.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/app.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

mypy ignore
  .gitignore
Owners: none

plumb through on span details
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
Owners: @arize-ai/oss-javascript

refactor
  src/phoenix/db/bulk_inserter.py
Owners: @arize-ai/oss-python

WIP
  app/schema.graphql
  app/src/pages/playground/__generated__/PlaygroundOutputMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputSubscription.graphql.ts
  app/src/pages/playground/playgroundUtils.ts
  src/phoenix/server/api/input_types/ChatCompletionInput.py
  src/phoenix/server/api/input_types/GenerativeCredentialInput.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

server changes for credentials
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/input_types/ChatCompletionInput.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
  tests/unit/server/api/mutations/test_chat_mutations.py
Owners: @arize-ai/oss-python

make span processing properly disallow credentials
  src/phoenix/server/api/helpers/playground_spans.py
Owners: @arize-ai/oss-python

cleanup
  app/schema.graphql
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
Owners: @arize-ai/oss-javascript

cleanup
  app/schema.graphql
  app/src/pages/settings/GenerativeProvidersCard.tsx
  app/src/pages/settings/__generated__/GenerativeProvidersCard_data.graphql.ts
  app/src/pages/settings/__generated__/settingsAIProvidersPageLoaderQuery.graphql.ts
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

cleanup
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-python

Update src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

Update src/phoenix/server/api/types/GenerativeProvider.py
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-python

cleanup
  app/src/pages/settings/GenerativeProvidersCard.tsx
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/types/GenerativeProvider.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

cleanup
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

Update app/src/pages/playground/PlaygroundCredentialsDropdown.tsx
  app/src/pages/playground/PlaygroundCredentialsDropdown.tsx
Owners: @arize-ai/oss-javascript

Initial implementation spike
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Owners: @arize-ai/oss-python

Improve chaining client methods
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Owners: @arize-ai/oss-python

Ruff 🐶
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Owners: @arize-ai/oss-python

feat: server side playground credentials (#7913)
  app/schema.graphql
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputSubscription.graphql.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/pages/settings/GenerativeProvidersCard.tsx
  app/src/pages/settings/__generated__/GenerativeProvidersCard_data.graphql.ts
  app/src/pages/settings/__generated__/settingsAIProvidersPageLoaderQuery.graphql.ts
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/playground_spans.py
  src/phoenix/server/api/input_types/ChatCompletionInput.py
  src/phoenix/server/api/input_types/GenerativeCredentialInput.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/GenerativeProvider.py
  tests/unit/server/api/mutations/test_chat_mutations.py
Owners: @arize-ai/oss-javascript, @arize-ai/oss-python

fix: Ensure "load next" button works on projects page
  app/src/pages/projects/ProjectsPage.tsx
Owners: @arize-ai/oss-javascript

fix: Ensure "load next" button works on projects page (#7915)
  app/src/pages/projects/ProjectsPage.tsx
Owners: @arize-ai/oss-javascript

prettier
  app/src/pages/playground/PlaygroundCredentialsDropdown.tsx
Owners: @arize-ai/oss-javascript

relay
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputSubscription.graphql.ts
  app/src/pages/settings/__generated__/GenerativeProvidersCard_data.graphql.ts
Owners: @arize-ai/oss-javascript

update credential
  src/phoenix/server/api/helpers/playground_clients.py
Owners: @arize-ai/oss-python

.github/CODEOWNERS:

/js @arize-ai/oss-javascript
/app @arize-ai/oss-javascript
/src @arize-ai/oss-python
/packages @arize-ai/oss-python
/examples @arize-ai/dev-rel @arize-ai/oss-eng
/tutorials @arize-ai/dev-rel @arize-ai/oss-eng
